@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 31px 0 0 0;
}
header .logo a {
    display: block; /* width/height 적용 */
    width: 250px;
    height: 42px;
    font-size: 0; /* 글자숨김 */
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* 배경으로 넣은 요소가 짤리면 안되는 경우 contain -- 대부분 아이콘
       배경으로 넣은 요소가 영역을 꽉 채워야하는 경우 cover -- 대부분 배경이미지 */
    background: url(../images/logo_w.png) no-repeat center center / contain;
    content: "";
}
header .gnb .gnb_open {
    display: none; /* 모바일에서만 보임 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul a {
    font-family: 'Eulyoo';
    font-size: 20px;
    padding: 35px 40px;
    display: block;
}
header .tnb {
    display: flex;
    align-items: center;
}
header .tnb .mypage {
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
    margin: 0 6px 0 0;
}
header .tnb .mypage::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_6_199' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6_199)'%3E%3Cpath d='M15 14.6153C13.7969 14.6153 12.767 14.187 11.9103 13.3303C11.0534 12.4735 10.625 11.4435 10.625 10.2403C10.625 9.0372 11.0534 8.00731 11.9103 7.15064C12.767 6.29376 13.7969 5.86533 15 5.86533C16.2031 5.86533 17.233 6.29376 18.0897 7.15064C18.9466 8.00731 19.375 9.0372 19.375 10.2403C19.375 11.4435 18.9466 12.4735 18.0897 13.3303C17.233 14.187 16.2031 14.6153 15 14.6153ZM5.625 22.2356V21.3556C5.625 20.7436 5.79125 20.1767 6.12375 19.655C6.45625 19.1333 6.90062 18.7323 7.45687 18.4519C8.69229 17.8463 9.93865 17.392 11.1959 17.0891C12.4532 16.7862 13.7212 16.6347 15 16.6347C16.2788 16.6347 17.5468 16.7862 18.8041 17.0891C20.0614 17.392 21.3077 17.8463 22.5431 18.4519C23.0994 18.7323 23.5437 19.1333 23.8762 19.655C24.2087 20.1767 24.375 20.7436 24.375 21.3556V22.2356C24.375 22.7627 24.1903 23.2111 23.8209 23.5806C23.4516 23.95 23.0032 24.1347 22.4759 24.1347H7.52406C6.99677 24.1347 6.54844 23.95 6.17906 23.5806C5.80969 23.2111 5.625 22.7627 5.625 22.2356ZM7.5 22.2597H22.5V21.3556C22.5 21.1025 22.4267 20.8681 22.28 20.6525C22.1333 20.4371 21.9343 20.2613 21.6828 20.125C20.6057 19.5946 19.5076 19.1927 18.3884 18.9194C17.2691 18.6463 16.1396 18.5097 15 18.5097C13.8604 18.5097 12.7309 18.6463 11.6116 18.9194C10.4924 19.1927 9.39427 19.5946 8.31719 20.125C8.06573 20.2613 7.86667 20.4371 7.72 20.6525C7.57333 20.8681 7.5 21.1025 7.5 21.3556V22.2597ZM15 12.7403C15.6875 12.7403 16.276 12.4955 16.7656 12.006C17.2552 11.5164 17.5 10.9278 17.5 10.2403C17.5 9.55283 17.2552 8.96428 16.7656 8.4747C16.276 7.98512 15.6875 7.74033 15 7.74033C14.3125 7.74033 13.724 7.98512 13.2344 8.4747C12.7448 8.96428 12.5 9.55283 12.5 10.2403C12.5 10.9278 12.7448 11.5164 13.2344 12.006C13.724 12.4955 14.3125 12.7403 15 12.7403Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
    content: "";
}
header .tnb .search {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .tnb .search::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_6_220' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6_220)'%3E%3Cpath d='M9.12314 14.9646C7.48663 14.9646 6.10072 14.397 4.96541 13.2619C3.83027 12.1266 3.2627 10.7407 3.2627 9.10416C3.2627 7.46765 3.83027 6.08174 4.96541 4.94643C6.10072 3.81129 7.48663 3.24371 9.12314 3.24371C10.7597 3.24371 12.1456 3.81129 13.2809 4.94643C14.416 6.08174 14.9836 7.46765 14.9836 9.10416C14.9836 9.78857 14.8688 10.4422 14.6391 11.0652C14.4092 11.6881 14.1026 12.2298 13.7193 12.6905L19.2336 18.2047C19.3663 18.3373 19.4342 18.5041 19.4372 18.705C19.4402 18.9059 19.3724 19.0758 19.2336 19.2146C19.0948 19.3534 18.9264 19.4228 18.7285 19.4228C18.5308 19.4228 18.3625 19.3534 18.2237 19.2146L12.7095 13.7003C12.2303 14.096 11.6793 14.4056 11.0563 14.6292C10.4334 14.8528 9.78902 14.9646 9.12314 14.9646ZM9.12314 13.5273C10.358 13.5273 11.4038 13.0988 12.2607 12.2417C13.1178 11.3848 13.5463 10.339 13.5463 9.10416C13.5463 7.86935 13.1178 6.82349 12.2607 5.96658C11.4038 5.10951 10.358 4.68097 9.12314 4.68097C7.88833 4.68097 6.84247 5.10951 5.98556 5.96658C5.12849 6.82349 4.69996 7.86935 4.69996 9.10416C4.69996 10.339 5.12849 11.3848 5.98556 12.2417C6.84247 13.0988 7.88833 13.5273 9.12314 13.5273Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
    content: "";
}
/* header가 상단에 고정되었을때 - 스크롤 되었을때 */
header.fixed {
    position: fixed;
    /* 꼭 body 태그로만 위치조정됨 - 스크롤해도 위치가 고정됨 */
    background-color: #fff;
    color: #493C32;
}
header.fixed .logo a::after {
    background-image: url(../images/logo.png);
}
header.fixed .tnb .mypage::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_320' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_320)'%3E%3Cpath d='M15 14.6153C13.7969 14.6153 12.767 14.187 11.9103 13.3303C11.0534 12.4735 10.625 11.4435 10.625 10.2403C10.625 9.0372 11.0534 8.00731 11.9103 7.15064C12.767 6.29376 13.7969 5.86533 15 5.86533C16.2031 5.86533 17.233 6.29376 18.0897 7.15064C18.9466 8.00731 19.375 9.0372 19.375 10.2403C19.375 11.4435 18.9466 12.4735 18.0897 13.3303C17.233 14.187 16.2031 14.6153 15 14.6153ZM5.625 22.2356V21.3556C5.625 20.7436 5.79125 20.1767 6.12375 19.655C6.45625 19.1333 6.90062 18.7323 7.45687 18.4519C8.69229 17.8463 9.93865 17.392 11.1959 17.0891C12.4532 16.7862 13.7212 16.6347 15 16.6347C16.2788 16.6347 17.5468 16.7862 18.8041 17.0891C20.0614 17.392 21.3077 17.8463 22.5431 18.4519C23.0994 18.7323 23.5437 19.1333 23.8762 19.655C24.2087 20.1767 24.375 20.7436 24.375 21.3556V22.2356C24.375 22.7627 24.1903 23.2111 23.8209 23.5806C23.4516 23.95 23.0032 24.1347 22.4759 24.1347H7.52406C6.99677 24.1347 6.54844 23.95 6.17906 23.5806C5.80969 23.2111 5.625 22.7627 5.625 22.2356ZM7.5 22.2597H22.5V21.3556C22.5 21.1025 22.4267 20.8681 22.28 20.6525C22.1333 20.4371 21.9343 20.2613 21.6828 20.125C20.6057 19.5946 19.5076 19.1927 18.3884 18.9194C17.2691 18.6463 16.1396 18.5097 15 18.5097C13.8604 18.5097 12.7309 18.6463 11.6116 18.9194C10.4924 19.1927 9.39427 19.5946 8.31719 20.125C8.06573 20.2613 7.86667 20.4371 7.72 20.6525C7.57333 20.8681 7.5 21.1025 7.5 21.3556V22.2597ZM15 12.7403C15.6875 12.7403 16.276 12.4955 16.7656 12.006C17.2552 11.5164 17.5 10.9278 17.5 10.2403C17.5 9.55283 17.2552 8.96428 16.7656 8.4747C16.276 7.98512 15.6875 7.74033 15 7.74033C14.3125 7.74033 13.724 7.98512 13.2344 8.4747C12.7448 8.96428 12.5 9.55283 12.5 10.2403C12.5 10.9278 12.7448 11.5164 13.2344 12.006C13.724 12.4955 14.3125 12.7403 15 12.7403Z' fill='%23493C32'/%3E%3C/g%3E%3C/svg%3E ");
}
header.fixed .tnb .search::before {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_316' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_316)'%3E%3Cpath d='M9.12217 14.9646C7.48565 14.9646 6.09974 14.397 4.96444 13.2619C3.82929 12.1266 3.26172 10.7407 3.26172 9.10416C3.26172 7.46765 3.82929 6.08174 4.96444 4.94643C6.09974 3.81129 7.48565 3.24371 9.12217 3.24371C10.7587 3.24371 12.1446 3.81129 13.2799 4.94643C14.415 6.08174 14.9826 7.46765 14.9826 9.10416C14.9826 9.78857 14.8678 10.4422 14.6381 11.0652C14.4083 11.6881 14.1017 12.2298 13.7183 12.6905L19.2326 18.2047C19.3653 18.3373 19.4332 18.5041 19.4362 18.705C19.4393 18.9059 19.3714 19.0758 19.2326 19.2146C19.0938 19.3534 18.9254 19.4228 18.7275 19.4228C18.5298 19.4228 18.3615 19.3534 18.2227 19.2146L12.7085 13.7003C12.2293 14.096 11.6783 14.4056 11.0554 14.6292C10.4324 14.8528 9.78805 14.9646 9.12217 14.9646ZM9.12217 13.5273C10.357 13.5273 11.4028 13.0988 12.2598 12.2417C13.1168 11.3848 13.5454 10.339 13.5454 9.10416C13.5454 7.86935 13.1168 6.82349 12.2598 5.96658C11.4028 5.10951 10.357 4.68097 9.12217 4.68097C7.88735 4.68097 6.84149 5.10951 5.98458 5.96658C5.12751 6.82349 4.69898 7.86935 4.69898 9.10416C4.69898 10.339 5.12751 11.3848 5.98458 12.2417C6.84149 13.0988 7.88735 13.5273 9.12217 13.5273Z' fill='%23493C32'/%3E%3C/g%3E%3C/svg%3E ");
}
@media screen and (max-width:640px){ 
    header {
        height: 55px;
    }
    header .logo {
        margin: 18px 0 0 0;
    }
    header .logo a {
        width: 130px;
        height: 22px;
    }
    header .gnb .gnb_open {
        display: block; /* 모바일에서만 보임 */
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 55px;
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 12px;
        top: 16px;
        width: 24px;
        height: 24px;
        content: "";
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_251' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_251)'%3E%3Cpath d='M4.07324 16.8997C3.8696 16.8997 3.69893 16.8308 3.56125 16.693C3.42341 16.5553 3.35449 16.3846 3.35449 16.1807C3.35449 15.9771 3.42341 15.8064 3.56125 15.6688C3.69893 15.5312 3.8696 15.4625 4.07324 15.4625H18.9274C19.1311 15.4625 19.3017 15.5313 19.4394 15.669C19.5772 15.8068 19.6462 15.9777 19.6462 16.1815C19.6462 16.3851 19.5772 16.5558 19.4394 16.6935C19.3017 16.831 19.1311 16.8997 18.9274 16.8997H4.07324ZM4.07324 12.2188C3.8696 12.2188 3.69893 12.1498 3.56125 12.012C3.42341 11.8742 3.35449 11.7034 3.35449 11.4998C3.35449 11.296 3.42341 11.1253 3.56125 10.9878C3.69893 10.8501 3.8696 10.7813 4.07324 10.7813H18.9274C19.1311 10.7813 19.3017 10.8502 19.4394 10.988C19.5772 11.1259 19.6462 11.2966 19.6462 11.5002C19.6462 11.7041 19.5772 11.8747 19.4394 12.0122C19.3017 12.1499 19.1311 12.2188 18.9274 12.2188H4.07324ZM4.07324 7.53754C3.8696 7.53754 3.69893 7.4687 3.56125 7.33102C3.42341 7.19318 3.35449 7.02236 3.35449 6.81855C3.35449 6.61491 3.42341 6.44424 3.56125 6.30656C3.69893 6.16904 3.8696 6.10028 4.07324 6.10028H18.9274C19.1311 6.10028 19.3017 6.1692 19.4394 6.30704C19.5772 6.44472 19.6462 6.61546 19.6462 6.81927C19.6462 7.02292 19.5772 7.19358 19.4394 7.33126C19.3017 7.46878 19.1311 7.53754 18.9274 7.53754H4.07324Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
        content: "";
    }
    header .gnb .gnb_wrap {
        display: none; /* 메뉴 숨김 */
    }
    header .tnb {
        margin: 0 40px 0 0;
        /* 오른쪽에 gnb_open이 배치될 공간을 여백으로 주기 */
    }
    header .tnb .mypage {
        display: none;
    }
    header .tnb .search {
        width: 22px;
        height: 22px;
    }
    header .tnb .search::before {
        position: absolute;
        left: 0;
        top: 9px;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_6_220' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6_220)'%3E%3Cpath d='M9.12314 14.9646C7.48663 14.9646 6.10072 14.397 4.96541 13.2619C3.83027 12.1266 3.2627 10.7407 3.2627 9.10416C3.2627 7.46765 3.83027 6.08174 4.96541 4.94643C6.10072 3.81129 7.48663 3.24371 9.12314 3.24371C10.7597 3.24371 12.1456 3.81129 13.2809 4.94643C14.416 6.08174 14.9836 7.46765 14.9836 9.10416C14.9836 9.78857 14.8688 10.4422 14.6391 11.0652C14.4092 11.6881 14.1026 12.2298 13.7193 12.6905L19.2336 18.2047C19.3663 18.3373 19.4342 18.5041 19.4372 18.705C19.4402 18.9059 19.3724 19.0758 19.2336 19.2146C19.0948 19.3534 18.9264 19.4228 18.7285 19.4228C18.5308 19.4228 18.3625 19.3534 18.2237 19.2146L12.7095 13.7003C12.2303 14.096 11.6793 14.4056 11.0563 14.6292C10.4334 14.8528 9.78902 14.9646 9.12314 14.9646ZM9.12314 13.5273C10.358 13.5273 11.4038 13.0988 12.2607 12.2417C13.1178 11.3848 13.5463 10.339 13.5463 9.10416C13.5463 7.86935 13.1178 6.82349 12.2607 5.96658C11.4038 5.10951 10.358 4.68097 9.12314 4.68097C7.88833 4.68097 6.84247 5.10951 5.98556 5.96658C5.12849 6.82349 4.69996 7.86935 4.69996 9.10416C4.69996 10.339 5.12849 11.3848 5.98556 12.2417C6.84247 13.0988 7.88833 13.5273 9.12314 13.5273Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
        content: "";
    }
    /* header가 상단에 고정되었을때 - 스크롤 되었을때 */
    header.fixed {
        position: fixed;
        /* 꼭 body 태그로만 위치조정됨 - 스크롤해도 위치가 고정됨 */
        background-color: #fff;
        color: #493C32;
    }
    header.fixed .logo a::after {
        background-image: url(../images/logo.png);
    }
    header.fixed .tnb .search::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_316' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_316)'%3E%3Cpath d='M9.12217 14.9646C7.48565 14.9646 6.09974 14.397 4.96444 13.2619C3.82929 12.1266 3.26172 10.7407 3.26172 9.10416C3.26172 7.46765 3.82929 6.08174 4.96444 4.94643C6.09974 3.81129 7.48565 3.24371 9.12217 3.24371C10.7587 3.24371 12.1446 3.81129 13.2799 4.94643C14.415 6.08174 14.9826 7.46765 14.9826 9.10416C14.9826 9.78857 14.8678 10.4422 14.6381 11.0652C14.4083 11.6881 14.1017 12.2298 13.7183 12.6905L19.2326 18.2047C19.3653 18.3373 19.4332 18.5041 19.4362 18.705C19.4393 18.9059 19.3714 19.0758 19.2326 19.2146C19.0938 19.3534 18.9254 19.4228 18.7275 19.4228C18.5298 19.4228 18.3615 19.3534 18.2227 19.2146L12.7085 13.7003C12.2293 14.096 11.6783 14.4056 11.0554 14.6292C10.4324 14.8528 9.78805 14.9646 9.12217 14.9646ZM9.12217 13.5273C10.357 13.5273 11.4028 13.0988 12.2598 12.2417C13.1168 11.3848 13.5454 10.339 13.5454 9.10416C13.5454 7.86935 13.1168 6.82349 12.2598 5.96658C11.4028 5.10951 10.357 4.68097 9.12217 4.68097C7.88735 4.68097 6.84149 5.10951 5.98458 5.96658C5.12751 6.82349 4.69898 7.86935 4.69898 9.10416C4.69898 10.339 5.12751 11.3848 5.98458 12.2417C6.84149 13.0988 7.88735 13.5273 9.12217 13.5273Z' fill='%23493C32'/%3E%3C/g%3E%3C/svg%3E ");
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_372' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='23' height='23'%3E%3Crect width='23' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_372)'%3E%3Cpath d='M4.07324 16.8997C3.8696 16.8997 3.69893 16.8308 3.56125 16.693C3.42341 16.5553 3.35449 16.3846 3.35449 16.1807C3.35449 15.9771 3.42341 15.8064 3.56125 15.6688C3.69893 15.5312 3.8696 15.4625 4.07324 15.4625H18.9274C19.1311 15.4625 19.3017 15.5313 19.4394 15.669C19.5772 15.8068 19.6462 15.9777 19.6462 16.1815C19.6462 16.3851 19.5772 16.5558 19.4394 16.6935C19.3017 16.831 19.1311 16.8997 18.9274 16.8997H4.07324ZM4.07324 12.2188C3.8696 12.2188 3.69893 12.1498 3.56125 12.012C3.42341 11.8742 3.35449 11.7034 3.35449 11.4998C3.35449 11.296 3.42341 11.1253 3.56125 10.9878C3.69893 10.8501 3.8696 10.7813 4.07324 10.7813H18.9274C19.1311 10.7813 19.3017 10.8502 19.4394 10.988C19.5772 11.1259 19.6462 11.2966 19.6462 11.5002C19.6462 11.7041 19.5772 11.8747 19.4394 12.0122C19.3017 12.1499 19.1311 12.2188 18.9274 12.2188H4.07324ZM4.07324 7.53754C3.8696 7.53754 3.69893 7.4687 3.56125 7.33102C3.42341 7.19318 3.35449 7.02236 3.35449 6.81855C3.35449 6.61491 3.42341 6.44424 3.56125 6.30656C3.69893 6.16904 3.8696 6.10028 4.07324 6.10028H18.9274C19.1311 6.10028 19.3017 6.1692 19.4394 6.30704C19.5772 6.44472 19.6462 6.61546 19.6462 6.81927C19.6462 7.02292 19.5772 7.19358 19.4394 7.33126C19.3017 7.46878 19.1311 7.53754 18.9274 7.53754H4.07324Z' fill='%23493C32'/%3E%3C/g%3E%3C/svg%3E ");
    }
}/*media*/


.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: rgba(255, 255, 255, 0.8);
}
.visual ul li.pop_bg1 {
    background-image: url(../images/viusal_bg1.png);
}
.visual ul li.pop_bg2 {
    background-image: url(../images/viusal_bg2.png);
}
.visual ul li.pop_bg3 {
    background-image: url(../images/viusal_bg3.png);
}
.visual ul li strong {
    font-size: 100px;
    font-family: 'Eulyoo';
    color: rgba(255, 255, 255, 0.15);
    line-height: 1.2;
    margin: 287px 0 0 0;
    display: block;
}
.visual ul li h2 {
    font-size: 50px;
    font-family: 'Eulyoo';
    color: #fff;
    line-height: 1.2;
    margin: -40px 0 0 100px;
}
.visual ul li P {
    margin: 13PX 0 0 105px;
}
.visual .btn_prev,
.visual .btn_next {
    position: absolute; /* swiper를 기준으로 정렬 */
    top: 350px;
    z-index: 10;
    /* position 속성이 들어간 요소끼리의 순서 - 숫자가 높으면 위 */
    width: 100px; /* 버튼의 크기 */
    height: 100px;
    font-size: 0;
    line-height: 0;
}
.visual .btn_prev::before,
.visual .btn_next::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_prev {
    left: 1%;
}
.visual .btn_next {
    right: 1%;
}
.visual .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_6_246' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='100' height='100'%3E%3Crect width='100' height='100' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6_246)'%3E%3Cpath d='M53.9415 50L36.9697 33.0292C36.3933 32.4521 36.0981 31.7267 36.0842 30.8531C36.0711 29.9802 36.3662 29.2417 36.9697 28.6375C37.5738 28.034 38.3058 27.7323 39.1655 27.7323C40.0252 27.7323 40.7572 28.034 41.3613 28.6375L60.0874 47.3635C60.4769 47.7538 60.752 48.1653 60.9124 48.5979C61.0728 49.0305 61.153 49.4979 61.153 50C61.153 50.5021 61.0728 50.9694 60.9124 51.4021C60.752 51.8347 60.4769 52.2462 60.0874 52.6364L41.3613 71.3625C40.7842 71.9389 40.0589 72.234 39.1853 72.2479C38.3124 72.2611 37.5738 71.966 36.9697 71.3625C36.3662 70.7583 36.0645 70.0264 36.0645 69.1667C36.0645 68.3069 36.3662 67.575 36.9697 66.9708L53.9415 50Z' fill='white' fill-opacity='0.15'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_6_249' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='100' height='100'%3E%3Crect width='100' height='100' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_6_249)'%3E%3Cpath d='M43.5562 50L60.5281 66.9709C61.1045 67.5479 61.3996 68.2733 61.4135 69.1469C61.4267 70.0198 61.1315 70.7584 60.5281 71.3625C59.9239 71.966 59.1919 72.2677 58.3322 72.2677C57.4725 72.2677 56.7406 71.966 56.1364 71.3625L37.4103 52.6365C37.0208 52.2462 36.7458 51.8347 36.5854 51.4021C36.4249 50.9695 36.3447 50.5021 36.3447 50C36.3447 49.4979 36.4249 49.0306 36.5854 48.5979C36.7458 48.1653 37.0208 47.7538 37.4103 47.3636L56.1364 28.6375C56.7135 28.0611 57.4388 27.766 58.3124 27.7521C59.1853 27.7389 59.9239 28.034 60.5281 28.6375C61.1315 29.2417 61.4333 29.9736 61.4333 30.8333C61.4333 31.6931 61.1315 32.425 60.5281 33.0292L43.5562 50Z' fill='white' fill-opacity='0.15'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1300px){
    .visual .btn_prev,
    .visual .btn_next {
        display: none; /* 숨김 */
    }
}/*media*/
@media screen and (max-width:640px){
    .visual ul li {
        height: 350px;
    }
    .visual ul li strong {
        font-size: 50px;
        margin: 133px 0 0 0;
    }
    .visual ul li h2 {
        font-size: 25px;
        margin: -24px 0 0 20px;
    }
    .visual ul li P {
        display: none;
    }
}/*media*/

.book {
    margin: 169px 0 0 0;
}
.book .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.book .tit {
    float: left; /* 부유요소 */
}
.book .tit h2 {
    font-family: 'Eulyoo';
    font-size: 50px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 19px 0;
}
.book .list {
    margin: 0 0 0 321px;
    width: 1260px;
}
.book .list ul li {
    width: 297px;
}
.book .list ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단 여백 삭제 */
    line-height: 0;
}
.book .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉채우기 */
    transition: 0.5s;
}
.book .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1); /* 가운데를 기준으로 확대 */
}
.book .list ul li a h3 {
    /* 1줄제한 ---- block요소여야함 */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'Eulyoo';
    font-size: 20px;
    color: #1d1d1d;
    margin: 15px 0 0 0;
}
.book .list ul li a span {
    display: block;
    color: #666;
    margin: 10px 0;

    /* 1줄제한 ---- block요소여야함 */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a p {
    /* 두줄 제한 */
    display: block;
    line-height: 1.4;
    height: 2.8em; /* 행간 x 줄수 =1.4x2 = 2.8 (단위는 em)*/
    overflow: hidden;
}
.book .more {
    position: absolute; /* warpper */
    left: 0;
    top: 200px;
}
.book .more a {
    padding: 7px 55px 7px 13px;
    border: 1px solid #999;
    display: block;
    color: #666;
    position: relative; /* after 정렬의 기준 */
}
.book .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 5px;
    top: 4px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_297' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' transform='matrix(-1 0 0 1 25 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_297)'%3E%3Cpath d='M14.1122 12.5001L9.86921 16.7428C9.72511 16.8871 9.65132 17.0684 9.64785 17.2868C9.64455 17.505 9.71834 17.6897 9.86921 17.8407C10.0202 17.9916 10.2032 18.067 10.4182 18.067C10.6331 18.067 10.8161 17.9916 10.9671 17.8407L15.6486 13.1592C15.746 13.0616 15.8148 12.9588 15.8549 12.8506C15.895 12.7424 15.915 12.6256 15.915 12.5001C15.915 12.3746 15.895 12.2577 15.8549 12.1496C15.8148 12.0414 15.746 11.9385 15.6486 11.841L10.9671 7.15945C10.8229 7.01535 10.6415 6.94157 10.4231 6.93809C10.2049 6.9348 10.0202 7.00858 9.86921 7.15945C9.71834 7.31049 9.6429 7.49348 9.6429 7.70841C9.6429 7.92334 9.71834 8.10632 9.86921 8.25737L14.1122 12.5001Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.book .more a:hover {
    border-color: #927660;
    background-color: #927660;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_359' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' transform='matrix(-1 0 0 1 25 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_359)'%3E%3Cpath d='M14.1112 12.5001L9.86823 16.7428C9.72413 16.8871 9.65035 17.0684 9.64688 17.2868C9.64358 17.505 9.71736 17.6897 9.86823 17.8407C10.0193 17.9916 10.2023 18.067 10.4172 18.067C10.6321 18.067 10.8151 17.9916 10.9661 17.8407L15.6477 13.1592C15.7451 13.0616 15.8138 12.9588 15.8539 12.8506C15.894 12.7424 15.9141 12.6256 15.9141 12.5001C15.9141 12.3746 15.894 12.2577 15.8539 12.1496C15.8138 12.0414 15.7451 11.9385 15.6477 11.841L10.9661 7.15945C10.8219 7.01535 10.6405 6.94157 10.4221 6.93809C10.2039 6.9348 10.0193 7.00858 9.86823 7.15945C9.71736 7.31049 9.64193 7.49348 9.64193 7.70841C9.64193 7.92334 9.71736 8.10632 9.86823 8.25737L14.1112 12.5001Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:640px){
    .book {
        margin: 58px 0 0 0;
    }
    .book .tit {
        float: none; /* float해제 */
    }
    .book .tit h2 {
        font-size: 25px;
        margin: 0 0 20px 0;
    }
    .book .tit h2 br {
        display: none; /* 줄바꿈 제거 */
    }
    .book .tit p {
        display: none; /* 숨김 */
    }
    .book .list {
        margin: 0;
        width: calc(100% + 20px);
        /* 오른쪽 wrapper 밖까지 list가 나오게 하기 위해서
           list한테 100%에 오른쪽 여백을 20px을 추가해줌 */
    }
    .book .list ul li {
        width: auto; /* 넓이는 juqery가 줌 */
    }
    .book .list ul li a h3 {
        font-size: 15px;
        margin: 10px 0 0 0;
    }
    .book .list ul li a span {
        font-size: 13px;
        margin: 5px 0;
    }
    .book .list ul li a p {
        display: none;
    }
    .book .more {
        left: auto;
        right: 0; 
        /* 만약 왼쪽 정렬이었다가 오른쪽 정렬로 변경하면
           왼쪽값을 취소하고 auto 오른쪽 값을 줘야함 */
        top: 0;
    }
    .book .more a {
        padding: 0;
        border: 0;
        width: 30px;
        height: 30px;
        font-size: 0; /* 글자 없애기 */
        line-height: 0;
    }
    .book .more a::after {
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_385' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_385)'%3E%3Cpath d='M11.25 12.75V16C11.25 16.2125 11.3219 16.3906 11.4658 16.5343C11.6096 16.6781 11.7878 16.75 12.0003 16.75C12.2129 16.75 12.391 16.6781 12.5345 16.5343C12.6782 16.3906 12.75 16.2125 12.75 16V12.75H16C16.2125 12.75 16.3906 12.6781 16.5343 12.5343C16.6781 12.3904 16.75 12.2122 16.75 11.9998C16.75 11.7871 16.6781 11.609 16.5343 11.4655C16.3906 11.3218 16.2125 11.25 16 11.25H12.75V8C12.75 7.7875 12.6781 7.60942 12.5343 7.46575C12.3904 7.32192 12.2122 7.25 11.9998 7.25C11.7871 7.25 11.609 7.32192 11.4655 7.46575C11.3218 7.60942 11.25 7.7875 11.25 8V11.25H8C7.7875 11.25 7.60942 11.3219 7.46575 11.4658C7.32192 11.6096 7.25 11.7878 7.25 12.0003C7.25 12.2129 7.32192 12.391 7.46575 12.5345C7.60942 12.6782 7.7875 12.75 8 12.75H11.25ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E ");
    }
    .book .more a:hover {
        border-color: transparent;
        background-color: transparent;
    }
    .book .more a:hover::after {
         background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_385' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_385)'%3E%3Cpath d='M11.25 12.75V16C11.25 16.2125 11.3219 16.3906 11.4658 16.5343C11.6096 16.6781 11.7878 16.75 12.0003 16.75C12.2129 16.75 12.391 16.6781 12.5345 16.5343C12.6782 16.3906 12.75 16.2125 12.75 16V12.75H16C16.2125 12.75 16.3906 12.6781 16.5343 12.5343C16.6781 12.3904 16.75 12.2122 16.75 11.9998C16.75 11.7871 16.6781 11.609 16.5343 11.4655C16.3906 11.3218 16.2125 11.25 16 11.25H12.75V8C12.75 7.7875 12.6781 7.60942 12.5343 7.46575C12.3904 7.32192 12.2122 7.25 11.9998 7.25C11.7871 7.25 11.609 7.32192 11.4655 7.46575C11.3218 7.60942 11.25 7.7875 11.25 8V11.25H8C7.7875 11.25 7.60942 11.3219 7.46575 11.4658C7.32192 11.6096 7.25 11.7878 7.25 12.0003C7.25 12.2129 7.32192 12.391 7.46575 12.5345C7.60942 12.6782 7.7875 12.75 8 12.75H11.25ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E ");
    }
}/*media*/

.interview {
    background-color: #EAE8E7;
    margin: 169px 0 0 0;
    padding: 100px 0 116px 0;
}
.interview .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.interview .tit {
    text-align: center;
    margin: 0 0 100px 0;
}
.interview .tit h2 {
    font-family: 'Eulyoo';
    font-size: 50px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 10px 0;
}
.interview .more {
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    text-align: center;
}
.interview .more a {
    padding: 7px 55px 7px 13px;
    border: 1px solid #999;
    display: inline-block;
    color: #666;
    position: relative; /* after 정렬의 기준 */
}
.interview .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 5px;
    top: 4px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_297' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' transform='matrix(-1 0 0 1 25 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_297)'%3E%3Cpath d='M14.1122 12.5001L9.86921 16.7428C9.72511 16.8871 9.65132 17.0684 9.64785 17.2868C9.64455 17.505 9.71834 17.6897 9.86921 17.8407C10.0202 17.9916 10.2032 18.067 10.4182 18.067C10.6331 18.067 10.8161 17.9916 10.9671 17.8407L15.6486 13.1592C15.746 13.0616 15.8148 12.9588 15.8549 12.8506C15.895 12.7424 15.915 12.6256 15.915 12.5001C15.915 12.3746 15.895 12.2577 15.8549 12.1496C15.8148 12.0414 15.746 11.9385 15.6486 11.841L10.9671 7.15945C10.8229 7.01535 10.6415 6.94157 10.4231 6.93809C10.2049 6.9348 10.0202 7.00858 9.86921 7.15945C9.71834 7.31049 9.6429 7.49348 9.6429 7.70841C9.6429 7.92334 9.71834 8.10632 9.86921 8.25737L14.1122 12.5001Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
.interview .more a:hover {
    border-color: #927660;
    background-color: #927660;
    color: #fff;
}
.interview .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_359' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' transform='matrix(-1 0 0 1 25 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_359)'%3E%3Cpath d='M14.1112 12.5001L9.86823 16.7428C9.72413 16.8871 9.65035 17.0684 9.64688 17.2868C9.64358 17.505 9.71736 17.6897 9.86823 17.8407C10.0193 17.9916 10.2023 18.067 10.4172 18.067C10.6321 18.067 10.8151 17.9916 10.9661 17.8407L15.6477 13.1592C15.7451 13.0616 15.8138 12.9588 15.8539 12.8506C15.894 12.7424 15.9141 12.6256 15.9141 12.5001C15.9141 12.3746 15.894 12.2577 15.8539 12.1496C15.8138 12.0414 15.7451 11.9385 15.6477 11.841L10.9661 7.15945C10.8219 7.01535 10.6405 6.94157 10.4221 6.93809C10.2039 6.9348 10.0193 7.00858 9.86823 7.15945C9.71736 7.31049 9.64193 7.49348 9.64193 7.70841C9.64193 7.92334 9.71736 8.10632 9.86823 8.25737L14.1112 12.5001Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* li의 길이가 제일 긴것을 기준으로 같이 늘어남
       각자 존재하는 길이대로 li 높이가 잡히도록 */
}
.interview .list ul li {
    width: 404px;
    position: relative; /* txt 정렬의 기준 */
}
/* 디자인상 무조건 두번째 요소에 적용되는 스타일 */
.interview .list ul li:nth-child(2) {
    margin-top: 43px;
}
.interview .list ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단 여백 삭제 */
    line-height: 0;
    border-radius: 60px 0 60px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 60px 0 60px;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 감싸는 요소 photo 영역에 이미지 꽉채우기 */
    transition: 0.5s;
    filter: grayscale(100%); 
}
.interview .list ul li a .txt {
    position: absolute; /* li가 정렬의 기준 */
    left: 0;
    bottom: 25px;
    padding: 0 30px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    /* h3, span 좌우 양쪽 끝에 배치 - txt의 넓이 안에서 양쪽 끝으로 배치 */
    width: 100%;
    /* absolute 정렬의 기준이 되는 li의 넓이와 같아짐 */
}
.interview .list ul li a .txt h3 {
    color: #fff;
    font-family: 'Eulyoo';
    font-size: 25px;
    line-height: 1.2;
}
.interview .list ul li a .txt p {
    display: none; /* 숨김 */
}
.interview .list ul li a .txt span {
    width: 40px;
    height: 40px;
    font-size: 0; /* 글자 숨김 */
    line-height: 0;
    position: relative; /* before 정렬의 기준*/
}
.interview .list ul li a .txt span::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_206' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect width='40' height='40' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_206)'%3E%3Cpath d='M18.7503 21.2501H10.417C10.0628 21.2501 9.76602 21.1302 9.52658 20.8905C9.28685 20.6508 9.16699 20.3538 9.16699 19.9997C9.16699 19.6452 9.28685 19.3484 9.52658 19.1092C9.76602 18.8698 10.0628 18.7501 10.417 18.7501H18.7503V10.4167C18.7503 10.0626 18.8702 9.76578 19.1099 9.52633C19.3496 9.28661 19.6466 9.16675 20.0007 9.16675C20.3552 9.16675 20.652 9.28661 20.8912 9.52633C21.1306 9.76578 21.2503 10.0626 21.2503 10.4167V18.7501H29.5837C29.9378 18.7501 30.2346 18.8699 30.4741 19.1097C30.7138 19.3494 30.8337 19.6463 30.8337 20.0005C30.8337 20.3549 30.7138 20.6517 30.4741 20.8909C30.2346 21.1304 29.9378 21.2501 29.5837 21.2501H21.2503V29.5834C21.2503 29.9376 21.1305 30.2344 20.8907 30.4738C20.651 30.7136 20.3541 30.8334 19.9999 30.8334C19.6455 30.8334 19.3487 30.7136 19.1095 30.4738C18.87 30.2344 18.7503 29.9376 18.7503 29.5834V21.2501Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    content: "";
}
/* pc버전에서만 적용 - 641px 이상에서만 적용 */
@media screen and (min-width:641px){}
        /* li에 on클래스가 들어갔을때 */
        .interview .list ul li.on a {
            display: block;
            padding: 0 0 100px 0;
            /* txt가 absolute인데 photo 하단으로 내려감
            거기까지 a 영역이어야함
            거기까지 bottom:0으로 배치할 수 있게 하단 여백 줌 */
        }
        .interview .list ul li.on a .photo img {
            filter: grayscale(0); /* 회색처리 삭제 */ 
        }
        .interview .list ul li.on a .txt {
            background-color: #927660;
            color: #fff;
            bottom: 0px;
            padding: 42px 35px 37px 35px; 
            display: block; /* flex 해제*/ 
            width: calc(100% - 40px);
            border-radius: 60px 0 60px 0;
        }
        .interview .list ul li:nth-child(2).on a .txt {
            /* 두번째 li에 on 클래스가 들어갔을때 */
            border-radius: 0 60px 0 60px;
        }
        .interview .list ul li.on a .txt p {
            display: block; /* none 해제 */
            margin: 23px 0;
            /* 글자 줄수 제한 */
            line-height: 1.4;
            height: 4.2em; /*행간 X 줄수 (단위 em)*/
            overflow: hidden;
        }
        .interview .list ul li.on a .txt span {
            width: auto;
            height: auto;
            font-size: 15px; /* 글자 나타남 */
            line-height: 1.4;
            padding: 0 23px 0 0;
        }
        .interview .list ul li.on a .txt span::before {
            left: auto;
            right: 0;
            top: 0;
            width: 20px;
            height: 20px;
        }
}/*on media*/
@media screen and (max-width:640px){
        .interview {
            margin: 70px 0 0 0;
            padding: 55px 0 40px 0;
        }
        .interview .tit {
            text-align: left;
            margin: 0 0 28px 0;
        }
        .interview .tit h2 {
            font-size: 25px;
            margin: 0;
        }
        .interview .tit p {
            display: none; /* 숨김 */   
        }
        .interview .more {
            top: 0;
            left: auto;
            right: 0;
            width: auto;
        }
        .interview .more a {
            padding: 0;
            border: 0;
            width: 30px;
            height: 30px;
            display: block;
            font-size: 0;
            line-height: 0;
        }
        
        .interview .more a::after {
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_388' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_388)'%3E%3Cpath d='M11.25 12.75V16C11.25 16.2125 11.3219 16.3906 11.4658 16.5343C11.6096 16.6781 11.7878 16.75 12.0003 16.75C12.2129 16.75 12.391 16.6781 12.5345 16.5343C12.6782 16.3906 12.75 16.2125 12.75 16V12.75H16C16.2125 12.75 16.3906 12.6781 16.5343 12.5343C16.6781 12.3904 16.75 12.2122 16.75 11.9998C16.75 11.7871 16.6781 11.609 16.5343 11.4655C16.3906 11.3218 16.2125 11.25 16 11.25H12.75V8C12.75 7.7875 12.6781 7.60942 12.5343 7.46575C12.3904 7.32192 12.2122 7.25 11.9998 7.25C11.7871 7.25 11.609 7.32192 11.4655 7.46575C11.3218 7.60942 11.25 7.7875 11.25 8V11.25H8C7.7875 11.25 7.60942 11.3219 7.46575 11.4658C7.32192 11.6096 7.25 11.7878 7.25 12.0003C7.25 12.2129 7.32192 12.391 7.46575 12.5345C7.60942 12.6782 7.7875 12.75 8 12.75H11.25ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E ");
        }
        .interview .more a:hover {
            border-color: transparent;
            background-color: transparent;
        }
        .interview .more a:hover::after {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_388' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_388)'%3E%3Cpath d='M11.25 12.75V16C11.25 16.2125 11.3219 16.3906 11.4658 16.5343C11.6096 16.6781 11.7878 16.75 12.0003 16.75C12.2129 16.75 12.391 16.6781 12.5345 16.5343C12.6782 16.3906 12.75 16.2125 12.75 16V12.75H16C16.2125 12.75 16.3906 12.6781 16.5343 12.5343C16.6781 12.3904 16.75 12.2122 16.75 11.9998C16.75 11.7871 16.6781 11.609 16.5343 11.4655C16.3906 11.3218 16.2125 11.25 16 11.25H12.75V8C12.75 7.7875 12.6781 7.60942 12.5343 7.46575C12.3904 7.32192 12.2122 7.25 11.9998 7.25C11.7871 7.25 11.609 7.32192 11.4655 7.46575C11.3218 7.60942 11.25 7.7875 11.25 8V11.25H8C7.7875 11.25 7.60942 11.3219 7.46575 11.4658C7.32192 11.6096 7.25 11.7878 7.25 12.0003C7.25 12.2129 7.32192 12.391 7.46575 12.5345C7.60942 12.6782 7.7875 12.75 8 12.75H11.25ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E ");
        }
        .interview .list ul {
            display: block;
        }
        .interview .list ul li {
            width: auto;
        }/* 두번째, 세번째 숨김*/
        .interview .list ul li:nth-child(2),
        .interview .list ul li:nth-child(3) {
            display: none;
        }
        .interview .list ul li a .photo {
            border-radius: 30px 0 30px 0;
            height: auto;
        }
        .interview .list ul li a .txt {
            position: relative;
            bottom: 50px;
            padding: 0 20px;
        }
        .interview .list ul li a .txt h3 {
            font-size: 20px;
        }
        .interview .list ul li a .txt p {
            display: none; /* 숨김 */
        }
        .interview .list ul li a .txt span {
            width: 30px;
            height: 30px;
        }

}/*media*/

.story .tit h2 {
    font-family: 'Eulyoo';
    font-size: 50px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 145px 0 50px 0; 
}
.story .list ul li {
    width: 297px;
}
.story .list ul li a .photo {
    overflow: hidden;
    font-size: 0; /* 이미지 하단에 여백 삭제 */
    line-height: 0;
}
.story .list ul li a .photo .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story .list ul li a strong {
    color: #927660;
    display: block;
    margin: 20px 0 15px 0;
    /* 1줄 제한 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.story .list ul li a h3 {
     /* 2줄 제한 */
    height: 2.4em;
    overflow: hidden;
   
    font-family: 'Eulyoo';
    font-size: 20px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 11px 0;
}
.story .list ul li a p {
    line-height: 1.4;
    overflow: hidden;
}
.story .list ul li.long a p {
    height: 4.2em;
}
.story .list ul li.short a p{
    height: 7em;
}
.story .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.story .more {
    position: absolute; /* wrapper */
    right: 0;
    top: 12px;
}
.story .more a {
    padding: 7px 55px 7px 13px;
    border: 1px solid #999;
    display: block;
    color: #666;
    position: relative;
}
.story .more a::after {
    position: absolute;
    right: 5px;
    top: 4px;
    width: 25px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_233' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' transform='matrix(-1 0 0 1 25 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_233)'%3E%3Cpath d='M14.1122 12.5001L9.86921 16.7428C9.72511 16.8871 9.65132 17.0684 9.64785 17.2868C9.64455 17.505 9.71834 17.6897 9.86921 17.8407C10.0202 17.9916 10.2032 18.067 10.4182 18.067C10.6331 18.067 10.8161 17.9916 10.9671 17.8407L15.6486 13.1592C15.746 13.0616 15.8148 12.9588 15.8549 12.8506C15.895 12.7424 15.915 12.6256 15.915 12.5001C15.915 12.3746 15.895 12.2577 15.8549 12.1496C15.8148 12.0414 15.746 11.9385 15.6486 11.841L10.9671 7.15945C10.8229 7.01535 10.6415 6.94157 10.4231 6.93809C10.2049 6.9348 10.0202 7.00858 9.86921 7.15945C9.71834 7.31049 9.6429 7.49348 9.6429 7.70841C9.6429 7.92334 9.71834 8.10632 9.86921 8.25737L14.1122 12.5001Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E ");
    content: "";
}
.story .more a:hover {
    background-color: #927660;
    border-color: #927660;
    color: #fff;
}
.story .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_19_359' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect width='25' height='25' transform='matrix(-1 0 0 1 25 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_359)'%3E%3Cpath d='M14.1112 12.5001L9.86823 16.7428C9.72413 16.8871 9.65035 17.0684 9.64688 17.2868C9.64358 17.505 9.71736 17.6897 9.86823 17.8407C10.0193 17.9916 10.2023 18.067 10.4172 18.067C10.6321 18.067 10.8151 17.9916 10.9661 17.8407L15.6477 13.1592C15.7451 13.0616 15.8138 12.9588 15.8539 12.8506C15.894 12.7424 15.9141 12.6256 15.9141 12.5001C15.9141 12.3746 15.894 12.2577 15.8539 12.1496C15.8138 12.0414 15.7451 11.9385 15.6477 11.841L10.9661 7.15945C10.8219 7.01535 10.6405 6.94157 10.4221 6.93809C10.2039 6.9348 10.0193 7.00858 9.86823 7.15945C9.71736 7.31049 9.64193 7.49348 9.64193 7.70841C9.64193 7.92334 9.71736 8.10632 9.86823 8.25737L14.1112 12.5001Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
}

@media screen and (max-width:640px){
    .story .list ul li {
        width: 186px;
    }
    .story .tit h2 {
        font-size: 25px;
        margin: 56px 0 38px 0; 
    }
    .story .list ul li a .photo {
        height: 240px;
    }
    .story .list ul li a strong {
        margin: 11px 0 13px 0;
    }
    .story .list ul li a h3 {
        font-size: 15px;
        margin: 0 0 11px 0;
    }
    .story .list ul li a p {
        display: none;
    }
    .story .more a {
        padding: 0;
        border: 0;
        width: 30px;
        height: 30px;
        font-size: 0;
        line-height: 0;
    }
    .story .more a::after {
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_394' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_394)'%3E%3Cpath d='M11.25 12.75V16C11.25 16.2125 11.3219 16.3906 11.4658 16.5343C11.6096 16.6781 11.7878 16.75 12.0003 16.75C12.2129 16.75 12.391 16.6781 12.5345 16.5343C12.6782 16.3906 12.75 16.2125 12.75 16V12.75H16C16.2125 12.75 16.3906 12.6781 16.5343 12.5343C16.6781 12.3904 16.75 12.2122 16.75 11.9998C16.75 11.7871 16.6781 11.609 16.5343 11.4655C16.3906 11.3218 16.2125 11.25 16 11.25H12.75V8C12.75 7.7875 12.6781 7.60942 12.5343 7.46575C12.3904 7.32192 12.2122 7.25 11.9998 7.25C11.7871 7.25 11.609 7.32192 11.4655 7.46575C11.3218 7.60942 11.25 7.7875 11.25 8V11.25H8C7.7875 11.25 7.60942 11.3219 7.46575 11.4658C7.32192 11.6096 7.25 11.7878 7.25 12.0003C7.25 12.2129 7.32192 12.391 7.46575 12.5345C7.60942 12.6782 7.7875 12.75 8 12.75H11.25ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E ");
    }
    .story .more a:hover {
        background-color: transparent;
        border-color: transparent;
    }
    .story .more a:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_30_394' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_30_394)'%3E%3Cpath d='M11.25 12.75V16C11.25 16.2125 11.3219 16.3906 11.4658 16.5343C11.6096 16.6781 11.7878 16.75 12.0003 16.75C12.2129 16.75 12.391 16.6781 12.5345 16.5343C12.6782 16.3906 12.75 16.2125 12.75 16V12.75H16C16.2125 12.75 16.3906 12.6781 16.5343 12.5343C16.6781 12.3904 16.75 12.2122 16.75 11.9998C16.75 11.7871 16.6781 11.609 16.5343 11.4655C16.3906 11.3218 16.2125 11.25 16 11.25H12.75V8C12.75 7.7875 12.6781 7.60942 12.5343 7.46575C12.3904 7.32192 12.2122 7.25 11.9998 7.25C11.7871 7.25 11.609 7.32192 11.4655 7.46575C11.3218 7.60942 11.25 7.7875 11.25 8V11.25H8C7.7875 11.25 7.60942 11.3219 7.46575 11.4658C7.32192 11.6096 7.25 11.7878 7.25 12.0003C7.25 12.2129 7.32192 12.391 7.46575 12.5345C7.60942 12.6782 7.7875 12.75 8 12.75H11.25ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E ");
    }
}

footer {
    margin: 200px 0 0 0;
}

