@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/*
    플러그인을 사용할때 이미 적용되어 있는 css를 변경하려면
    1. 동일한 이름에 앞에 body태그 선택자를 추가하는 방법
        strong
        body strong -- 이 경우 body strong이 우선순위가 높음
    2. 속성값에 뒤에 !important를 추가 
       적용 우선순위가 1순이가 됨 
       (important는 해제가 어려움. 모바일에서도 적용됨)
*/

.fp_nav {
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    /* 위아래 가운데 */
    z-index: 99;
}
.fp_nav ul li a {
    display: block;
    color: rgba(255,255,255,0.8);
    line-height: 2;
    white-space: nowrap; /* 줄바꿈 금지 */
    padding-left: 15px;
    position: relative; /* before 정렬의 기준 */
}
.fp_nav ul li a::before {
    position: absolute;
    left: 0;
    top: 15px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    content: "";
}
.fp_nav ul li a::after {
    position: absolute;
    left: 3px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(255,255,255,0.6);
    content: "";
}
.fp_nav ul li:first-child a::after {
    top: 18px;
    height: calc(100% - 18px);
}
.fp_nav ul li:last-child a::after {
    height: 18px;
}
.fp_nav ul li a span {
    position: relative;
}
.fp_nav ul li.active a,
.fp_nav ul li a:hover {
    color: var(--color-main2);
    font-weight: 800;
}
.fp_nav ul li.active a::before,
.fp_nav ul li a:hover::before {
    background-color: var(--color-main2);
}
.fp_nav ul li.active a span::after,
.fp_nav ul li a:hover span::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--color-main2);
    content: "";
}
/* 흰배경에서 */
.fp_nav.dark ul li a {
    color: #666;
}
.fp_nav.dark ul li a::before {
    background-color: #CCCCCC;
}
.fp_nav.dark ul li a::after {
    background-color: #CCCCCC;
}
.fp_nav.dark ul li.active a,
.fp_nav.dark ul li a:hover {
    color: var(--color-main2);
    font-weight: 800;
}
.fp_nav.dark ul li.active a::before,
.fp_nav.dark ul li a:hover::before {
    background-color: var(--color-main2);
}

.quick_menu {
    position: fixed;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    /* 위아래 가운데 */
    z-index: 99;
}
.quick_menu ul li {
    margin-bottom: 10px;
}
.quick_menu ul li a,
.quick_menu ul li button {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-main2);
    text-align: center;
    padding-top: 45px;
    position: relative; /* before 정렬의 기준 */
    font-size: 15px;
    color: #fff;
}
.quick_menu ul li button {
    padding-top: 30px;
    background-color: #fff;
    color: var(--color-main1);
}
.quick_menu ul li a::before,
.quick_menu ul li button::before {
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 30px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.quick_menu ul li.quick1 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9375 28.4151V22.2306H12.75C10.9811 22.2306 9.47632 21.6104 8.23579 20.3698C6.99526 19.1295 6.375 17.6248 6.375 15.8556C6.375 14.5207 6.77367 13.3138 7.57102 12.235C8.36837 11.1562 9.39179 10.3544 10.6413 9.82948C10.8448 8.01332 11.5386 6.55675 12.7227 5.45978C13.9071 4.36257 15.3328 3.81396 17 3.81396C18.6672 3.81396 20.0929 4.36257 21.2773 5.45978C22.4614 6.55675 23.1552 8.01332 23.3587 9.82948C24.6172 10.3362 25.6428 11.1335 26.4357 12.2215C27.2286 13.3093 27.625 14.5207 27.625 15.8556C27.625 17.6248 27.0047 19.1295 25.7642 20.3698C24.5237 21.6104 23.0189 22.2306 21.25 22.2306H18.0625V28.4151H25.1458C25.4469 28.4151 25.6992 28.517 25.9027 28.7207C26.1065 28.9245 26.2083 29.1769 26.2083 29.4779C26.2083 29.7792 26.1065 30.0315 25.9027 30.2348C25.6992 30.4383 25.4469 30.5401 25.1458 30.5401H8.85417C8.55312 30.5401 8.30084 30.4382 8.09731 30.2344C7.89355 30.0307 7.79167 29.7782 7.79167 29.4769C7.79167 29.1758 7.89355 28.9236 8.09731 28.72C8.30084 28.5167 8.55312 28.4151 8.85417 28.4151H15.9375ZM12.75 20.1056H21.25C22.4306 20.1056 23.434 19.6924 24.2604 18.866C25.0868 18.0397 25.5 17.0362 25.5 15.8556C25.5 14.9421 25.2194 14.1243 24.6581 13.4023C24.0969 12.6805 23.3859 12.1453 22.525 11.7965L21.3917 11.3223L21.2337 10.0473C21.0828 8.77608 20.6188 7.77355 19.8415 7.03972C19.0642 6.30588 18.117 5.93896 17 5.93896C15.883 5.93896 14.9358 6.30588 14.1585 7.03972C13.3812 7.77355 12.9172 8.77608 12.7663 10.0473L12.6083 11.3223L11.3659 11.8511C10.5414 12.1998 9.85764 12.7306 9.31458 13.4434C8.77153 14.1562 8.5 14.9603 8.5 15.8556C8.5 17.0362 8.91319 18.0397 9.73958 18.866C10.566 19.6924 11.5694 20.1056 12.75 20.1056Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick2 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9992 25.9377C14.7334 25.9377 14.5108 25.8478 14.3314 25.668C14.1518 25.4884 14.062 25.2658 14.062 25.0002V16.0171C12.8089 16.0171 11.6078 15.7799 10.4586 15.3055C9.30964 14.8312 8.29443 14.1532 7.41297 13.2718C6.53172 12.3903 5.85911 11.3751 5.39516 10.2262C4.9312 9.07719 4.69922 7.87605 4.69922 6.62271V5.85365C4.69922 5.53699 4.8063 5.27147 5.02047 5.05709C5.23464 4.84292 5.50016 4.73584 5.81703 4.73584H6.58609C7.81214 4.73584 8.99922 4.97501 10.1473 5.45334C11.2957 5.93167 12.3105 6.61157 13.1917 7.49303C13.8457 8.14699 14.3821 8.8774 14.8011 9.68428C15.2203 10.4912 15.5204 11.3481 15.7014 12.2552C15.8456 12.0052 16.0062 11.7683 16.1833 11.5446C16.3604 11.321 16.558 11.1003 16.7761 10.8824C17.6548 10.0024 18.6703 9.32292 19.8223 8.84397C20.9744 8.3648 22.1753 8.12522 23.4248 8.12522H24.1942C24.5109 8.12522 24.7763 8.2324 24.9905 8.44678C25.2048 8.66094 25.312 8.92636 25.312 9.24303V10.0121C25.312 11.2619 25.0724 12.4628 24.5933 13.6149C24.1143 14.767 23.4348 15.7824 22.5548 16.6612C21.6734 17.5426 20.6634 18.2153 19.5248 18.6793C18.3861 19.1432 17.1902 19.3752 15.937 19.3752V25.0002C15.937 25.2658 15.8471 25.4884 15.6673 25.668C15.4876 25.8478 15.2648 25.9377 14.9992 25.9377ZM14.0742 14.1108C14.0742 13.1108 13.8815 12.1577 13.4961 11.2515C13.1107 10.3452 12.5638 9.53792 11.8555 8.82959C11.1471 8.12126 10.3398 7.57438 9.43359 7.18896C8.52734 6.80355 7.57422 6.61084 6.57422 6.61084C6.57422 7.61084 6.76172 8.56917 7.13672 9.48584C7.51172 10.4025 8.05339 11.215 8.76172 11.9233C9.47005 12.6317 10.2826 13.1733 11.1992 13.5483C12.1159 13.9233 13.0742 14.1108 14.0742 14.1108ZM15.937 17.5002C16.937 17.5002 17.8902 17.3127 18.7964 16.9377C19.7027 16.5627 20.5099 16.021 21.2183 15.3127C21.9266 14.6044 22.4735 13.7919 22.8589 12.8752C23.2443 11.9585 23.437 11.0002 23.437 10.0002C22.437 10.0002 21.4787 10.1929 20.562 10.5783C19.6454 10.9638 18.8329 11.5106 18.1245 12.219C17.4162 12.9273 16.8745 13.7346 16.4995 14.6408C16.1245 15.5471 15.937 16.5002 15.937 17.5002Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick3 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.1849 24.0355C16.2224 24.0505 16.256 24.058 16.2858 24.058C16.3157 24.058 16.3494 24.0505 16.387 24.0355L23.2499 21.9107C23.1902 21.6461 23.0668 21.4431 22.8798 21.3017C22.6927 21.1604 22.4811 21.0897 22.2448 21.0897H16.5314C16.0223 21.0897 15.5898 21.0702 15.2337 21.0313C14.8777 20.9924 14.5119 20.9072 14.1365 20.7755L12.3057 20.1765C12.0704 20.1016 11.9013 19.9521 11.7985 19.7279C11.6954 19.5035 11.6813 19.275 11.7562 19.0425C11.8309 18.8097 11.9755 18.6392 12.1902 18.5309C12.4049 18.4224 12.6303 18.4056 12.8666 18.4804L14.3832 19.0121C14.7363 19.1243 15.1313 19.2039 15.568 19.251C16.0047 19.2981 16.5707 19.3276 17.2661 19.3397H17.5781C17.5781 19.0509 17.5131 18.8018 17.383 18.5924C17.2529 18.383 17.0816 18.2416 16.8691 18.1683L10.1004 15.6825C10.0778 15.6751 10.0572 15.6695 10.0386 15.6658C10.0199 15.6619 9.99938 15.66 9.97702 15.66H7.81869V21.673L16.1849 24.0355ZM15.7296 25.7496L7.81869 23.4813C7.68549 23.9643 7.41473 24.3521 7.00639 24.6445C6.59806 24.9369 6.16581 25.0832 5.70964 25.0832H4.09439C3.51437 25.0832 3.01785 24.8767 2.60485 24.4637C2.19185 24.0507 1.98535 23.5542 1.98535 22.9741V16.019C1.98535 15.4392 2.19185 14.9428 2.60485 14.5298C3.01785 14.1168 3.51437 13.9103 4.09439 13.9103H9.96389C10.0862 13.9103 10.2102 13.9237 10.3358 13.9505C10.4616 13.9776 10.5782 14.009 10.6858 14.0448L17.4839 16.5487C18.0134 16.7445 18.4531 17.0911 18.8031 17.5885C19.1531 18.0859 19.3281 18.6696 19.3281 19.3397H22.2448C23.0825 19.3397 23.7649 19.61 24.292 20.1508C24.8194 20.6914 25.083 21.3932 25.083 22.2563C25.083 22.5869 24.9955 22.8531 24.8205 23.0549C24.6455 23.2569 24.3808 23.417 24.0263 23.535L16.9479 25.7315C16.7563 25.7944 16.5551 25.8276 16.3441 25.8313C16.1333 25.8352 15.9285 25.808 15.7296 25.7496ZM3.73535 22.9741C3.73535 23.0789 3.76899 23.165 3.83627 23.2323C3.90355 23.2995 3.98959 23.3332 4.09439 23.3332H5.70964C5.81425 23.3332 5.9003 23.3052 5.96777 23.2492C6.03505 23.193 6.06869 23.1013 6.06869 22.9741V15.66H4.09439C3.98959 15.66 3.90355 15.6937 3.83627 15.7612C3.76899 15.8285 3.73535 15.9144 3.73535 16.019V22.9741ZM18.4867 13.975C18.225 13.975 17.9677 13.9272 17.7149 13.8315C17.4622 13.7359 17.2312 13.5923 17.0219 13.4008L13.8696 10.3406C13.3117 9.80217 12.8424 9.2028 12.4617 8.54246C12.081 7.88213 11.8906 7.16298 11.8906 6.385C11.8906 5.42153 12.2279 4.60263 12.9024 3.9283C13.5768 3.25377 14.3957 2.9165 15.3591 2.9165C15.9889 2.9165 16.5704 3.06836 17.1036 3.37209C17.637 3.67561 18.0981 4.06227 18.487 4.53205C18.8759 4.06227 19.3369 3.67561 19.8701 3.37209C20.4032 3.06836 20.9847 2.9165 21.6145 2.9165C22.578 2.9165 23.3969 3.25377 24.0712 3.9283C24.7458 4.60263 25.083 5.42153 25.083 6.385C25.083 7.16298 24.8957 7.88213 24.521 8.54246C24.1463 9.2028 23.68 9.80217 23.1221 10.3406L19.952 13.4008C19.7426 13.5923 19.5114 13.7359 19.2584 13.8315C19.0057 13.9272 18.7484 13.975 18.4867 13.975ZM18.7337 12.1355L21.8231 9.13805C22.2149 8.75363 22.5645 8.33557 22.8719 7.88388C23.1793 7.43218 23.333 6.93256 23.333 6.385C23.333 5.90492 23.1666 5.49853 22.8337 5.16584C22.501 4.83295 22.0946 4.6665 21.6145 4.6665C21.2451 4.6665 20.907 4.76295 20.6004 4.95584C20.2938 5.14892 20.023 5.39353 19.7881 5.68967L19.2675 6.31792C19.0666 6.5602 18.807 6.68134 18.4887 6.68134C18.1704 6.68134 17.9096 6.5602 17.7062 6.31792L17.1856 5.68967C16.9507 5.39353 16.6799 5.14892 16.3733 4.95584C16.0668 4.76295 15.7288 4.6665 15.3591 4.6665C14.8791 4.6665 14.4727 4.83295 14.14 5.16584C13.8071 5.49853 13.6406 5.90492 13.6406 6.385C13.6406 6.93256 13.7944 7.43218 14.1018 7.88388C14.4092 8.33557 14.7588 8.75363 15.1506 9.13805L18.2399 12.1355C18.3074 12.2028 18.3898 12.2364 18.487 12.2364C18.5842 12.2364 18.6664 12.2028 18.7337 12.1355Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick4 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.43291 16.5638C5.89859 16.5638 5.45576 16.3892 5.10443 16.04C4.75286 15.6905 4.57708 15.2488 4.57708 14.7147C4.57708 14.1804 4.7518 13.7374 5.10124 13.3859C5.45045 13.0345 5.89221 12.8589 6.42653 12.8589C6.96085 12.8589 7.40368 13.0336 7.75501 13.383C8.10658 13.7322 8.28237 14.174 8.28237 14.7083C8.28237 15.2426 8.10765 15.6855 7.7582 16.0368C7.40899 16.3881 6.96723 16.5638 6.43291 16.5638ZM8.11874 28.6873H20.2422V20.8138H17.4089C15.9233 20.8138 14.6665 20.3022 13.6384 19.2788C12.6104 18.2553 12.0964 17.0234 12.0964 15.5831C12.0964 14.4408 12.426 13.416 13.0852 12.5086C13.7447 11.6015 14.592 10.9209 15.6271 10.4668C15.7869 8.95028 16.4172 7.69842 17.518 6.71124C18.6185 5.72406 19.8807 5.23047 21.3047 5.23047C22.7287 5.23047 23.991 5.72406 25.0915 6.71124C26.1922 7.69842 26.8224 8.95028 26.982 10.4668C28.0174 10.9209 28.8646 11.6015 29.5239 12.5086C30.1833 13.416 30.5131 14.4408 30.5131 15.5831C30.5131 17.0234 29.999 18.2553 28.971 19.2788C27.943 20.3022 26.6862 20.8138 25.2006 20.8138H22.3672V28.6873H28.3881C28.6891 28.6873 28.9414 28.7892 29.1449 28.9929C29.3487 29.1967 29.4506 29.4491 29.4506 29.7501C29.4506 30.0514 29.3487 30.3037 29.1449 30.507C28.9414 30.7105 28.6891 30.8123 28.3881 30.8123H6.02101C5.65835 30.8123 5.35424 30.6901 5.10868 30.4457C4.86336 30.2013 4.7407 29.8985 4.7407 29.5373V24.4373C4.48098 24.2774 4.20721 24.1117 3.91939 23.94C3.63133 23.7684 3.4873 23.5164 3.4873 23.1842V19.043C3.4873 18.7419 3.58919 18.4896 3.79295 18.2861C3.99648 18.0824 4.24876 17.9805 4.5498 17.9805H8.30928C8.61033 17.9805 8.86273 18.0824 9.06649 18.2861C9.27002 18.4896 9.37178 18.7419 9.37178 19.043V23.1842C9.37178 23.5164 9.22787 23.7684 8.94005 23.94C8.65224 24.1117 8.37846 24.2774 8.11874 24.4373V28.6873ZM17.4089 18.6888H25.2006C26.0886 18.6888 26.8419 18.3898 27.4605 17.7917C28.0789 17.1936 28.3881 16.4574 28.3881 15.5831C28.3881 14.8821 28.1828 14.2559 27.7722 13.7046C27.3618 13.1535 26.8297 12.739 26.1759 12.4611L24.9881 11.9596L24.8574 10.7282C24.77 9.7821 24.3903 8.98346 23.7184 8.33226C23.0464 7.68107 22.2418 7.35547 21.3047 7.35547C20.3676 7.35547 19.5629 7.68107 18.8907 8.33226C18.2187 8.98346 17.8392 9.7821 17.7521 10.7282L17.6214 11.9596L16.4335 12.4611C15.7797 12.739 15.2475 13.1535 14.8369 13.7046C14.4266 14.2559 14.2214 14.8821 14.2214 15.5831C14.2214 16.4574 14.5306 17.1936 15.149 17.7917C15.7673 18.3898 16.5206 18.6888 17.4089 18.6888Z' fill='white'/%3E%3C/svg%3E%0A");
}
.quick_menu ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 10.4539L7.92724 14.5271C7.78874 14.6655 7.61466 14.7363 7.40499 14.7396C7.19549 14.7428 7.01824 14.672 6.87324 14.5271C6.72841 14.3821 6.65599 14.2065 6.65599 14.0001C6.65599 13.7938 6.72841 13.6181 6.87324 13.4731L11.3675 8.97889C11.4612 8.88539 11.5599 8.81939 11.6637 8.78089C11.7676 8.74239 11.8797 8.72314 12.0002 8.72314C12.1207 8.72314 12.2329 8.74239 12.3367 8.78089C12.4406 8.81939 12.5393 8.88539 12.633 8.97889L17.1272 13.4731C17.2656 13.6116 17.3364 13.7857 17.3397 13.9954C17.3429 14.2049 17.2721 14.3821 17.1272 14.5271C16.9822 14.672 16.8066 14.7444 16.6002 14.7444C16.3939 14.7444 16.2182 14.672 16.0732 14.5271L12.0002 10.4539Z' fill='%23014D8B'/%3E%3C/svg%3E%0A");
}

.quick_menu.dark ul li button {
    color: #fff;
    background-color: var(--color-main1);
}
.quick_menu.dark ul li.top button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0002 10.4536L7.92724 14.5269C7.78874 14.6652 7.61466 14.7361 7.40499 14.7394C7.19549 14.7426 7.01824 14.6717 6.87324 14.5269C6.72841 14.3819 6.65599 14.2062 6.65599 13.9999C6.65599 13.7936 6.72841 13.6179 6.87324 13.4729L11.3675 8.97865C11.4612 8.88515 11.5599 8.81915 11.6637 8.78065C11.7676 8.74215 11.8797 8.7229 12.0002 8.7229C12.1207 8.7229 12.2329 8.74215 12.3367 8.78065C12.4406 8.81915 12.5393 8.88515 12.633 8.97865L17.1272 13.4729C17.2656 13.6114 17.3364 13.7855 17.3397 13.9952C17.3429 14.2046 17.2721 14.3819 17.1272 14.5269C16.9822 14.6717 16.8066 14.7442 16.6002 14.7442C16.3939 14.7442 16.2182 14.6717 16.0732 14.5269L12.0002 10.4536Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    .fp_nav {
        display: none; /* 숨김 */
    }
    .quick_menu {
        display: none; /* 숨김 */
    }
}

.visual h2 {
    display: none; /* 숨김 */
}
.visual .swiper {
    width: 100vw;
    height: 100vh;
}
.visual .swiper .swiper-slide {
    height: 100vh;
    background: url(../images/main/popup1.png) no-repeat center center / cover;
    text-align: center;
    color: #fff;
}
.visual .swiper .swiper-slide.popup1 {
    background-image: url(../images/main/popup1.png);
}
.visual .swiper .swiper-slide.popup2 {
    background-image: url(../images/main/popup2.png);
}
.visual .swiper .swiper-slide.popup3 {
    background-image: url(../images/main/popup3.png);
}
.visual .swiper .swiper-slide.popup4 {
    background-image: url(../images/main/popup4.png);
}
.visual .swiper .swiper-slide .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.visual .swiper .swiper-slide .inner h3 {
    font-size: 70px;
    font-weight: 800;
    line-height: var(--tit-lineheight);
    margin-bottom: 27px;
}
.visual .swiper .swiper-slide .inner p {
    font-size: 20px;
}
.visual .swiper .paing {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
}
.visual .swiper .paing .item {
    width: 25%;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    margin: 0;
    display: block;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: center;
    backdrop-filter: blur(5px);
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
}
.visual .swiper .paing .item.swiper-pagination-bullet-active,
.visual .swiper .paing .item:hover {
    background-color: var(--color-main2);
    border-color: var(--color-main2);
}
.visual .swiper .paing .item .txt1::before {
    content: "마이트리 내 나무 갖기";
}
.visual .swiper .paing .item .txt2::before {
    content: "#같이가치 #매달기부";
}
.visual .swiper .paing .item .txt3::before {
    content: "고목나무 이야기";
}
.visual .swiper .paing .item .txt4::before {
    content: "자원봉사 활동";
}

@media screen and (max-width:1300px){
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .visual .swiper .swiper-slide .inner p {
        font-size: 17px;
    }
    .visual .swiper .paing .item {
        font-size: 17px;
    }
}

@media screen and (max-width:1024px){
    .visual .swiper {
        height: 600px;
    }
    .visual .swiper .swiper-slide {
        height: 600px;
    }
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 35px;
        margin-bottom: 5px;
    }
    .visual .swiper .swiper-slide .inner p {
        font-size: 13px;
    }
    .visual .swiper .paing {
        bottom: 24px;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
    }
    .visual .swiper .paing .item {
        width: 20px;
        height: 8px;
        line-height: 0;
        font-size: 0;
        background-color: rgba(255,255,255,0.5);
        backdrop-filter: blur(5px);
        border-width: 0;
        border-radius: 4px;
        margin: 0 2px;
    }
    .visual .swiper .paing .item.swiper-pagination-bullet-active {
        width: 50px;
    }
}
@media screen and (max-width:375px){
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 30px;
    }
}

.tree {
    background: url(../images/main/tree_bg.png) no-repeat center center / cover;
}
.tree .count {
    font-size: 120px;
    font-weight: 800;
    color: var(--color-main2);
}
.tree .count span {
    position: relative;
}
.tree .count span::after {
    position: absolute;
    right: -44px;
    top: -21px;
    font-weight: 400;
    font-size: 70px;
    content: "+";
}
.tree h2 {
    color: var(--tit-txt-color);
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0 9px 0;
}
.tree p {
    margin-bottom: 90px;
}

@media screen and (max-width:1300px){
    .tree .count {
        font-size: 100px;
    }
    .tree .count span::after {
        font-size: 60px;
    }
}/* media */
@media screen and (max-width:1024px){
    .tree .count {
        margin: 70px 0 0 0;
        font-size: 45px;
    }
    .tree .count span::after {
        right: -25px;
        top: -15px;
        font-size: 30px;
    }
    .tree h2 {
        font-size: 13px;
        margin: 9px 0 4px 0;
    }
    .tree p {
        margin-bottom: 143px;
    }
}/* media */
.forest {
    background: url(../images/main/forest_bg.png) no-repeat center center / cover;
    color: #fff;
}
.forest .wrapper {
    display: flex;
    justify-content: space-between;
}
.forest .tit h2 {
    font-size: var(--tit-txt-size);
    font-weight: 800;
    line-height: var(--tit-lineheight);
    margin-bottom: 19px;
}
.forest .tit {
    width: 38%;
    margin-top: 200px;
}
.forest .list {
    max-width: 618px;
    width: 58%;
}
.forest .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.forest .list ul li {
    width: calc(50% - 12px);
}
.forest .list ul li:nth-child(odd) { /* 홀수 */
    transform: translateY(56px);
}
.forest .list ul li:nth-child(even) { /* 짝수 */
    
}
.forest .list ul li a {
    display: block;
    height: 199px;
    background-color: #fff;
    color: var(--tit-txt-color);
    font-size: 25px;
    font-weight: 800;
    border-radius: 20px;
    padding: 132px 10% 0 10%;
    position: relative; /* after 정렬의 기준 */
}
.forest .list ul li a::after {
    position: absolute;
    right: 10%;
    bottom: 36px;
    width: 28px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='14' fill='%2332C7A1'/%3E%3Cpath d='M15.2907 14.344L11.2175 10.271C11.0792 10.1325 11.0083 9.95841 11.005 9.74874C11.0018 9.53924 11.0727 9.36199 11.2175 9.21699C11.3625 9.07216 11.5382 8.99974 11.7445 8.99974C11.9508 8.99974 12.1265 9.07216 12.2715 9.21699L16.7657 13.7112C16.8592 13.8049 16.9252 13.9037 16.9637 14.0075C17.0022 14.1113 17.0215 14.2235 17.0215 14.344C17.0215 14.4645 17.0022 14.5767 16.9637 14.6805C16.9252 14.7843 16.8592 14.8831 16.7657 14.9767L12.2715 19.471C12.133 19.6093 11.9589 19.6802 11.7492 19.6835C11.5397 19.6867 11.3625 19.6158 11.2175 19.471C11.0727 19.326 11.0002 19.1503 11.0002 18.944C11.0002 18.7377 11.0727 18.562 11.2175 18.417L15.2907 14.344Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.forest .list ul li a span {
    position: relative; /* before, after 정렬의 기준 */
}
.forest .list ul li a span::before {
    position: absolute;
    left: 0;
    top: -94px;
    width: 77px;
    height: 71px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.forest .list ul li.forest01 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='71' viewBox='0 0 72 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_25_489)'%3E%3Cpath d='M70.4424 67.9326H67.4479V52.956C70.0857 52.2505 72 50.0087 72 47.2966C72 43.9941 69.3622 41.3971 66.0109 41.3971C62.6596 41.3971 60.0218 43.9941 60.0218 47.2966C60.0218 50.0087 61.9411 52.3656 64.5739 52.956V67.9326H56.9066V14.8615H61.4588C62.2978 14.8615 63.0163 14.156 63.0163 13.3303V1.53119C63.0163 0.705546 62.2978 0 61.4588 0H10.5412C9.70216 0 8.98367 0.705546 8.98367 1.53119V13.3253C8.98367 14.151 9.70216 14.8565 10.5412 14.8565H14.9728V67.9326H7.4261V52.956C10.0639 52.2505 11.9782 50.0087 11.9782 47.2966C11.9782 43.9941 9.3404 41.3971 5.98911 41.3971C2.63782 41.3971 0 43.9941 0 47.2966C0 50.0087 1.91933 52.3656 4.55213 52.956V67.9326H1.55757C0.718493 67.9326 0 68.6382 0 69.4638C0 70.2895 0.718493 70.995 1.55757 70.995H70.4424C71.2815 70.995 72 70.2895 72 69.4638C71.8794 68.6382 71.1609 67.9326 70.4424 67.9326ZM62.8957 47.2966C62.8957 45.6454 64.2121 44.3494 65.8903 44.3494C67.5685 44.3494 68.8849 45.6454 68.8849 47.2966C68.8849 48.9479 67.5685 50.2439 65.8903 50.2439C64.2121 50.2439 62.8957 48.9479 62.8957 47.2966ZM2.99456 47.2966C2.99456 45.6454 4.31096 44.3494 5.98911 44.3494C7.66727 44.3494 8.98367 45.6454 8.98367 47.2966C8.98367 48.9479 7.66727 50.2439 5.98911 50.2439C4.31096 50.2439 2.99456 48.9479 2.99456 47.2966ZM11.9782 3.06738H59.8962V11.9142H11.9782V3.06738ZM17.9673 67.9326V14.8615H53.907V67.9376H17.9673V67.9326Z' fill='%2332C7A1'/%3E%3Cpath d='M29.951 22.2925H23.9619C23.1228 22.2925 22.4043 22.998 22.4043 23.8237V29.7232C22.4043 30.5489 23.1228 31.2544 23.9619 31.2544H29.951C30.7901 31.2544 31.5086 30.5489 31.5086 29.7232V23.8237C31.5086 22.8779 30.7901 22.2925 29.951 22.2925ZM28.514 28.187H25.5194V25.2398H28.514V28.187Z' fill='%2332C7A1'/%3E%3Cpath d='M47.9178 22.2925H41.9287C41.0896 22.2925 40.3711 22.998 40.3711 23.8237V29.7232C40.3711 30.5489 41.0896 31.2544 41.9287 31.2544H47.9178C48.7569 31.2544 49.4754 30.5489 49.4754 29.7232V23.8237C49.4754 22.8779 48.7569 22.2925 47.9178 22.2925ZM46.4808 28.187H43.4862V25.2398H46.4808V28.187Z' fill='%2332C7A1'/%3E%3Cpath d='M29.951 35.5024H23.9619C23.1228 35.5024 22.4043 36.208 22.4043 37.0336V42.9332C22.4043 43.7588 23.1228 44.4644 23.9619 44.4644H29.951C30.7901 44.4644 31.5086 43.7588 31.5086 42.9332V37.0336C31.5086 36.208 30.7901 35.5024 29.951 35.5024ZM28.514 41.397H25.5194V38.4497H28.514V41.397Z' fill='%2332C7A1'/%3E%3Cpath d='M47.9178 35.5024H41.9287C41.0896 35.5024 40.3711 36.208 40.3711 37.0336V42.9332C40.3711 43.7588 41.0896 44.4644 41.9287 44.4644H47.9178C48.7569 44.4644 49.4754 43.7588 49.4754 42.9332V37.0336C49.4754 36.208 48.7569 35.5024 47.9178 35.5024ZM46.4808 41.397H43.4862V38.4497H46.4808V41.397Z' fill='%2332C7A1'/%3E%3Cpath d='M29.951 48.8276H23.9619C23.1228 48.8276 22.4043 49.5332 22.4043 50.3588V56.2584C22.4043 57.084 23.1228 57.7896 23.9619 57.7896H29.951C30.7901 57.7896 31.5086 57.084 31.5086 56.2584V50.3588C31.5086 49.4131 30.7901 48.8276 29.951 48.8276ZM28.514 54.7272H25.5194V51.7799H28.514V54.7272Z' fill='%2332C7A1'/%3E%3Cpath d='M47.9178 48.8276H41.9287C41.0896 48.8276 40.3711 49.5332 40.3711 50.3588V56.2584C40.3711 57.084 41.0896 57.7896 41.9287 57.7896H47.9178C48.7569 57.7896 49.4754 57.084 49.4754 56.2584V50.3588C49.4754 49.4131 48.7569 48.8276 47.9178 48.8276ZM46.4808 54.7272H43.4862V51.7799H46.4808V54.7272Z' fill='%2332C7A1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_25_489'%3E%3Crect width='72' height='71' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.forest .list ul li.forest02 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='71' height='70' viewBox='0 0 71 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_28_610)'%3E%3Cpath d='M57.6501 54.0428C56.8234 54.0428 56.1141 53.3463 56.1141 52.528V38.5533L35.4412 19.5665L14.7684 38.5533V52.528C14.7684 53.3414 14.059 54.0428 13.2323 54.0428C12.4056 54.0428 11.6963 53.3463 11.6963 52.528V37.9688C11.6963 37.6181 11.8137 37.1553 12.1708 36.9215L34.3797 16.5367C34.9716 16.0691 35.7983 16.0691 36.3902 16.5367L58.5991 36.9215C58.9514 37.1553 59.0737 37.6181 59.0737 37.9688V52.528C59.0737 53.3414 58.3643 54.0428 57.655 54.0428H57.6501Z' fill='%2332C7A1'/%3E%3Cpath d='M26.5819 69.9999H13.3495C12.5228 69.9999 11.8135 69.3034 11.8135 68.4851C11.8135 67.6668 12.5228 66.9702 13.3495 66.9702H26.5819C27.4086 66.9702 28.1179 67.6668 28.1179 68.4851C28.1179 69.3034 27.4086 69.9999 26.5819 69.9999Z' fill='%2332C7A1'/%3E%3Cpath d='M57.6502 69.9999H42.8817C42.055 69.9999 41.3457 69.3034 41.3457 68.4851C41.3457 67.6668 42.055 66.9702 42.8817 66.9702H57.6502C58.4769 66.9702 59.1862 67.6668 59.1862 68.4851C59.0688 69.2985 58.3595 69.9999 57.6502 69.9999Z' fill='%2332C7A1'/%3E%3Cpath d='M42.8815 70H26.5771C25.7503 70 25.041 69.3035 25.041 68.4852V52.528C25.041 51.7146 25.7503 51.0132 26.5771 51.0132H42.8815C43.7082 51.0132 44.4176 51.7097 44.4176 52.528V68.6021C44.3001 69.2986 43.5908 70 42.8815 70ZM28.118 67.0921H41.4678V54.0478H28.118V67.0921Z' fill='%2332C7A1'/%3E%3Cpath d='M69.4641 70H57.6503C56.8236 70 56.1143 69.3035 56.1143 68.4852V52.528C56.1143 51.7146 56.8236 51.0132 57.6503 51.0132H69.4641C70.2908 51.0132 71.0001 51.7097 71.0001 52.528V68.6021C70.8827 69.2986 70.1734 70 69.4641 70ZM59.0689 67.0921H67.928V54.0478H59.0689V67.0921Z' fill='%2332C7A1'/%3E%3Cpath d='M13.3498 70H1.53603C0.709315 70 0 69.3035 0 68.4852V52.528C0 51.7146 0.709315 51.0132 1.53603 51.0132H13.3498C14.1765 51.0132 14.8858 51.7097 14.8858 52.528V68.6021C14.7684 69.2986 14.0591 70 13.3498 70ZM2.95466 67.0921H11.8138V54.0478H2.95466V67.0921Z' fill='%2332C7A1'/%3E%3Cpath d='M35.4413 19.1039C34.6146 19.1039 33.9053 18.4073 33.9053 17.589V11.7634C33.9053 10.9499 34.6146 10.2485 35.4413 10.2485C36.268 10.2485 36.9773 10.9451 36.9773 11.7634V17.589C36.9773 18.4025 36.268 19.1039 35.4413 19.1039Z' fill='%2332C7A1'/%3E%3Cpath d='M53.1644 13.2781H35.4413C34.6146 13.2781 33.9053 12.5816 33.9053 11.7633V1.51486C33.9053 0.701412 34.6146 0 35.4413 0H53.1644C53.9911 0 54.7004 0.696542 54.7004 1.51486V11.7633C54.7004 12.5767 53.9911 13.2781 53.1644 13.2781ZM36.9773 10.3653H51.7458V3.02971H36.9773V10.3653Z' fill='%2332C7A1'/%3E%3Cpath d='M36.1508 46.7073C31.6601 46.7073 28.001 43.098 28.001 38.6703C28.001 34.2427 31.665 30.6333 36.1508 30.6333C40.6366 30.6333 44.3005 34.2427 44.3005 38.6703C44.3005 43.098 40.6366 46.7073 36.1508 46.7073ZM36.1508 33.663C33.3135 33.663 30.9507 35.9913 30.9507 38.7872C30.9507 41.5831 33.3135 43.9114 36.1508 43.9114C38.988 43.9114 41.3508 41.5831 41.3508 38.7872C41.3508 35.9913 38.988 33.663 36.1508 33.663Z' fill='%2332C7A1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_28_610'%3E%3Crect width='71' height='70' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.forest .list ul li.forest03 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='73' height='72' viewBox='0 0 73 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_28_676)'%3E%3Cpath d='M71.4173 72.0002H1.57764C0.725816 72.0002 0 71.2822 0 70.4437C0 69.6052 0.725816 68.8872 1.57764 68.8872H71.4173C72.2691 68.8872 72.995 69.6052 72.995 70.4437C72.874 71.2822 72.1431 72.0002 71.4173 72.0002Z' fill='%2332C7A1'/%3E%3Cpath d='M19.7983 71.9998C18.9465 71.9998 18.2207 71.2818 18.2207 70.4433V18.0902C18.2207 17.2517 18.9516 16.5337 19.7983 16.5337C20.6451 16.5337 21.376 17.2517 21.376 18.0902V70.5638C21.255 71.2818 20.5242 71.9998 19.7983 71.9998Z' fill='%2332C7A1'/%3E%3Cpath d='M19.7987 39.0577C8.86605 39.0577 0 30.3113 0 19.5264C0 8.74142 8.86605 0 19.7987 0C30.7313 0 39.4763 8.86695 39.4763 19.6469C39.4763 30.4268 30.6103 39.0527 19.7987 39.0527V39.0577ZM19.7987 3.11297C10.5647 3.11297 3.03432 10.5439 3.03432 19.6469C3.03432 28.7498 10.5647 36.1808 19.7987 36.1808C29.0327 36.1808 36.558 28.7548 36.558 19.6469C36.558 10.5389 28.9066 3.11297 19.7987 3.11297Z' fill='%2332C7A1'/%3E%3Cpath d='M19.6781 28.6343C19.3152 28.6343 18.9523 28.5138 18.7053 28.2728L9.59734 20.7263C8.9925 20.2443 8.86649 19.2904 9.3554 18.5724C9.83928 17.9749 10.8121 17.8544 11.5429 18.3314L20.6509 25.8778C21.2608 26.3598 21.3818 27.3138 20.8929 28.0318C20.6509 28.3933 20.167 28.6293 19.6781 28.6293V28.6343Z' fill='%2332C7A1'/%3E%3Cpath d='M71.4168 54.03H38.0142C37.1623 54.03 36.4365 53.312 36.4365 52.4735C36.4365 51.635 37.1623 50.917 38.0142 50.917H71.4168C72.2687 50.917 72.9945 51.635 72.9945 52.4735C72.9945 53.312 72.1427 54.03 71.4168 54.03Z' fill='%2332C7A1'/%3E%3Cpath d='M44.0884 71.9998C43.2366 71.9998 42.5107 71.2818 42.5107 70.4434V52.4735C42.5107 51.635 43.2366 50.917 44.0884 50.917C44.9402 50.917 45.666 51.635 45.666 52.4735V70.4434C45.5451 71.2818 44.8142 71.9998 44.0884 71.9998Z' fill='%2332C7A1'/%3E%3Cpath d='M65.3491 71.9998C64.4973 71.9998 63.7715 71.2818 63.7715 70.4434V52.4735C63.7715 51.635 64.4973 50.917 65.3491 50.917C66.201 50.917 66.9268 51.635 66.9268 52.4735V70.4434C66.8058 71.2818 66.08 71.9998 65.3491 71.9998Z' fill='%2332C7A1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_28_676'%3E%3Crect width='73' height='72' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.forest .list ul li.forest04 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_28_652)'%3E%3Cpath d='M70.4414 72.0001H1.55858C0.719741 72.0001 0 71.2836 0 70.4417C0 69.5997 0.719741 68.8833 1.55858 68.8833H70.4466C71.2854 68.8833 72.0052 69.5997 72.0052 70.4417C71.8861 71.2784 71.1664 72.0001 70.4466 72.0001H70.4414Z' fill='%2332C7A1'/%3E%3Cpath d='M10.5424 39.054C4.78964 39.054 0 34.3789 0 28.5113V10.5427C0 4.79024 4.67573 0 10.5424 0C13.2971 0 15.9327 1.07728 17.9676 3.11679C20.0026 5.15108 21.0848 7.79198 21.0848 10.5427V28.5113C20.9657 34.3789 16.29 39.054 10.5424 39.054ZM10.5424 3.11679C6.46731 3.11679 2.99288 6.46891 2.99288 10.663V28.6316C2.99288 32.7054 6.34822 36.1778 10.5424 36.1778C14.7366 36.1778 18.0919 32.8257 18.0919 28.6316V10.663C18.0919 8.62871 17.2531 6.82975 15.9379 5.39163C14.3793 3.95352 12.4634 3.11679 10.5476 3.11679H10.5424Z' fill='%2332C7A1'/%3E%3Cpath d='M10.542 71.9998C9.70314 71.9998 8.9834 71.2833 8.9834 70.4414V18.0887C8.9834 17.2519 9.70314 16.5303 10.542 16.5303C11.3808 16.5303 12.1006 17.2467 12.1006 18.0887V70.5616C11.9815 71.2833 11.2617 71.9998 10.542 71.9998Z' fill='%2332C7A1'/%3E%3Cpath d='M10.5426 25.635C10.0611 25.635 9.58471 25.3945 9.34652 24.9186C8.86497 24.1969 9.10834 23.2399 9.70381 22.8843L14.2553 19.8878C14.975 19.4067 15.9329 19.6472 16.2902 20.2486C16.7718 20.9703 16.5284 21.9273 15.9329 22.2829L11.3815 25.2794C11.0242 25.52 10.7808 25.6402 10.5426 25.6402V25.635Z' fill='%2332C7A1'/%3E%3Cpath d='M10.4229 33.066C10.1847 33.066 9.82222 32.9457 9.58403 32.8254L5.03258 29.8289C4.31284 29.353 4.19374 28.3908 4.6753 27.7946C5.15167 27.1933 6.11478 26.9579 6.71025 27.4338L11.2617 30.4303C11.9814 30.9114 12.1005 31.8684 11.619 32.4646C11.3808 32.8254 11.0183 33.066 10.4229 33.066Z' fill='%2332C7A1'/%3E%3Cpath d='M35.9408 39.054C30.1881 39.054 25.3984 34.3789 25.3984 28.5113V10.5427C25.3984 4.79024 30.069 0 35.9408 0C38.6955 0 41.3311 1.07728 43.3661 3.11679C45.401 5.15108 46.4832 7.79198 46.4832 10.5427V28.5113C46.4832 34.3789 41.6884 39.054 35.9408 39.054ZM35.9408 3.11679C31.8658 3.11679 28.3913 6.46891 28.3913 10.663V28.6316C28.3913 32.7054 31.7467 36.1778 35.9408 36.1778C40.135 36.1778 43.4903 32.8257 43.4903 28.6316V10.663C43.4903 8.62871 42.6515 6.82975 41.3311 5.39163C39.7725 3.95352 37.9758 3.11679 35.9408 3.11679Z' fill='%2332C7A1'/%3E%3Cpath d='M35.9404 71.9998C35.1016 71.9998 34.3818 71.2833 34.3818 70.4414V18.0887C34.3818 17.2519 35.1016 16.5303 35.9404 16.5303C36.7792 16.5303 37.499 17.2467 37.499 18.0887V70.5616C37.499 71.2833 36.7792 71.9998 35.9404 71.9998Z' fill='%2332C7A1'/%3E%3Cpath d='M35.9405 25.635C35.4641 25.635 34.9826 25.3945 34.7444 24.9186C34.268 24.1969 34.5062 23.2399 35.1068 22.8843L39.6583 19.8878C40.378 19.4067 41.336 19.6472 41.6932 20.2486C42.1748 20.9703 41.9314 21.9273 41.336 22.2829L36.7845 25.2794C36.5463 25.52 36.1839 25.6402 35.9457 25.6402L35.9405 25.635Z' fill='%2332C7A1'/%3E%3Cpath d='M35.9406 33.066C35.7024 33.066 35.3399 32.9457 35.1018 32.8255L30.5503 29.829C29.8306 29.3531 29.7115 28.3908 30.1878 27.7947C30.6694 27.0782 31.6273 26.9579 32.2228 27.4338L36.7742 30.4303C37.494 30.9115 37.6131 31.8685 37.1367 32.4646C36.8985 32.8255 36.417 33.066 35.9354 33.066H35.9406Z' fill='%2332C7A1'/%3E%3Cpath d='M61.4574 39.054C55.7047 39.054 50.915 34.3789 50.915 28.5113V10.5427C50.915 4.79024 55.5856 0 61.4574 0C64.2121 0 66.8477 1.07728 68.8827 3.11679C70.9176 5.15108 71.9998 7.79198 71.9998 10.5427V28.5113C71.8807 34.3789 67.205 39.054 61.4574 39.054ZM61.4574 3.11679C57.3824 3.11679 53.9079 6.46891 53.9079 10.663V28.6316C53.9079 32.7054 57.2633 36.1778 61.4574 36.1778C65.6516 36.1778 69.007 32.8257 69.007 28.6316V10.663C69.007 8.62871 68.1681 6.82975 66.8477 5.39163C65.2892 3.95352 63.3733 3.11679 61.4574 3.11679Z' fill='%2332C7A1'/%3E%3Cpath d='M61.458 71.9998C60.6192 71.9998 59.8994 71.2833 59.8994 70.4414V18.0887C59.8994 17.2519 60.6192 16.5303 61.458 16.5303C62.2968 16.5303 63.0166 17.2467 63.0166 18.0887V70.5616C62.8975 71.2833 62.1777 71.9998 61.458 71.9998Z' fill='%2332C7A1'/%3E%3Cpath d='M61.4577 25.635C60.9813 25.635 60.4997 25.3945 60.2616 24.9186C59.78 24.1969 60.0234 23.2399 60.6188 22.8843L65.1703 19.8878C65.89 19.4067 66.848 19.6472 67.2052 20.2486C67.6868 20.9703 67.4434 21.9273 66.848 22.2829L62.2965 25.2794C61.9392 25.52 61.6959 25.6402 61.4577 25.6402V25.635Z' fill='%2332C7A1'/%3E%3Cpath d='M61.3389 33.066C61.1007 33.066 60.7382 32.9457 60.5 32.8255L55.9486 29.829C55.2289 29.3531 55.1098 28.3908 55.5913 27.7947C56.0729 27.0782 57.0308 26.9579 57.6263 27.4338L62.1777 30.4303C62.8975 30.9115 63.0166 31.8685 62.535 32.4646C62.2968 32.8255 61.9344 33.066 61.3389 33.066Z' fill='%2332C7A1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_28_652'%3E%3Crect width='72' height='72' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.forest .list ul li.forest05 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_28_711)'%3E%3Cpath d='M71.7851 69.7253C71.3059 68.7677 50.6867 31.9871 50.0877 30.79C49.4888 29.7126 48.0513 29.7126 47.4473 30.79C47.0879 31.6279 31.2654 59.9042 30.906 60.6225C29.8279 58.5874 20.5939 41.8132 19.396 39.7781C18.7971 38.7007 17.3595 38.7007 16.7606 39.7781C16.1616 40.7358 1.17265 68.1691 0.214313 69.7303C-0.384647 70.688 0.334105 72.0048 1.53202 72.0048H70.4673C71.6653 72.0048 72.384 70.8077 71.7851 69.7303V69.7253ZM48.77 34.6207L54.2854 44.5665L52.3688 46.2424L50.2125 45.165C49.7333 44.9256 49.2542 44.9256 48.8948 45.165L46.7385 46.2424L43.6239 43.9679L48.78 34.6256L48.77 34.6207ZM18.0783 43.6088L21.677 50.0781L20.9583 50.6766L18.802 49.5993C18.3229 49.3598 17.8437 49.3598 17.4843 49.5993L15.3281 50.6766L14.6093 50.0781L18.0883 43.6088H18.0783ZM13.042 52.8314L14.24 53.6694C14.7191 54.0285 15.3181 54.0285 15.7973 53.7891L18.0733 52.592C19.6705 53.39 20.5906 53.829 20.8335 53.9088C21.3127 54.0285 21.7919 53.9088 22.0314 53.5497L23.1096 52.7117L29.1042 63.6152L26.2291 69.0071H4.17244L13.042 52.8314ZM29.5883 69.0071C30.6664 66.972 40.739 49.0007 42.0567 46.7262L45.6554 49.2401C46.1346 49.5993 46.7335 49.5993 47.2127 49.3598L49.4888 48.1627C51.086 48.9608 52.0044 49.3997 52.244 49.4795C52.7231 49.5993 53.2023 49.4795 53.4419 49.1204L55.7179 47.2051L67.9467 69.0071H29.5883Z' fill='%2332C7A1'/%3E%3Cpath d='M34.6251 19.4078C37.8595 19.4078 40.3801 16.7742 40.3801 13.6568C40.3801 10.5394 37.7447 7.90576 34.6251 7.90576C31.5055 7.90576 28.8701 10.5394 28.8701 13.6568C28.8701 16.7742 31.3858 19.4078 34.6251 19.4078ZM34.6251 10.7838C36.1824 10.7838 37.3803 11.9809 37.3803 13.5371C37.3803 15.0933 36.1824 16.2954 34.6251 16.2954C33.0678 16.2954 31.8649 15.0983 31.8649 13.5371C31.8649 11.9759 33.0628 10.7838 34.6251 10.7838Z' fill='%2332C7A1'/%3E%3Cpath d='M34.6247 5.75102C35.4632 5.75102 36.0622 5.03277 36.0622 4.1948V1.55622C36.0622 0.718254 35.3434 0 34.6247 0C33.7861 0 33.0674 0.718254 33.0674 1.55622V4.18982C33.0674 5.02778 33.7861 5.74603 34.6247 5.74603V5.75102Z' fill='%2332C7A1'/%3E%3Cpath d='M33.0625 22.9991V25.6327C33.0625 26.4706 33.7813 27.1889 34.6198 27.1889C35.4583 27.1889 36.0573 26.4706 36.0573 25.6327V22.9991C36.0573 22.1611 35.3385 21.4429 34.6198 21.4429C33.7813 21.4429 33.0625 22.1611 33.0625 22.9991Z' fill='%2332C7A1'/%3E%3Cpath d='M42.2959 8.02528L44.0928 6.22965C44.6917 5.6311 44.6917 4.67343 44.0928 4.07489C43.4938 3.47634 42.5355 3.47634 41.9365 4.07489L40.1396 5.87052C39.5407 6.46907 39.5407 7.42674 40.1396 8.02528C40.7386 8.62383 41.6969 8.62383 42.2959 8.02528Z' fill='%2332C7A1'/%3E%3Cpath d='M26.8281 19.1686L25.0313 20.9643C24.4323 21.5628 24.4323 22.5205 25.0313 23.119C25.6302 23.7176 26.5885 23.7176 27.1875 23.119L28.9844 21.3234C29.5833 20.7249 29.5833 19.7672 28.9844 19.1686C28.3854 18.5701 27.4271 18.5701 26.8281 19.1686Z' fill='%2332C7A1'/%3E%3Cpath d='M42.416 13.6568C42.416 14.4948 43.1348 15.213 43.9733 15.213H46.6137C47.4523 15.213 48.171 14.4948 48.171 13.6568C48.171 12.8188 47.4523 12.1006 46.6137 12.1006H43.9733C43.1348 12.1006 42.416 12.8188 42.416 13.6568Z' fill='%2332C7A1'/%3E%3Cpath d='M22.6354 15.0934H25.2758C26.1144 15.0934 26.8331 14.3751 26.8331 13.5372C26.8331 12.6992 26.1144 11.981 25.2758 11.981H22.6354C21.7969 11.981 21.0781 12.6992 21.0781 13.5372C21.0781 14.3751 21.7969 15.0934 22.6354 15.0934Z' fill='%2332C7A1'/%3E%3Cpath d='M40.1348 19.1686C39.5358 19.7672 39.5358 20.7249 40.1348 21.3234L41.9316 23.119C42.5306 23.7176 43.4889 23.7176 44.0879 23.119C44.6869 22.5205 44.6869 21.5628 44.0879 20.9643L42.291 19.1686C41.6921 18.5701 40.7337 18.5701 40.1348 19.1686Z' fill='%2332C7A1'/%3E%3Cpath d='M26.8281 8.02528C27.4271 8.62383 28.3854 8.62383 28.9844 8.02528C29.5833 7.42674 29.5833 6.46907 28.9844 5.87052L27.1875 4.07489C26.5885 3.47634 25.6302 3.47634 25.0313 4.07489C24.4323 4.67343 24.4323 5.6311 25.0313 6.22965L26.8281 8.02528Z' fill='%2332C7A1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_28_711'%3E%3Crect width='72' height='72' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.forest .list ul li.forest06 a span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='71' viewBox='0 0 72 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_28_583)'%3E%3Cpath d='M70.4463 67.9155H61.4637V57.4861H70.4463C71.645 57.4861 72.3653 56.1831 71.7633 55.2313L66.6135 47.1738H69.0109C70.2096 47.1738 70.9299 45.8708 70.328 44.919L65.7749 36.8616H66.135C67.2154 36.8616 67.9305 35.6756 67.4521 34.7289L63.8559 26.5493H66.135C67.2154 26.5493 67.9305 25.3633 67.4521 24.4166L57.0238 0.829665C56.7871 0.239229 56.3035 0 55.7067 0C55.11 0 54.6264 0.356298 54.3897 0.829665L43.8482 24.5387C43.2463 25.3684 43.9666 26.4322 45.0469 26.4322H47.326L43.6116 34.7289C43.1331 35.6756 43.8534 36.8616 44.9286 36.8616H45.2887L40.6174 45.0411C40.0206 45.9879 40.7357 47.296 41.9344 47.296H44.3318L39.182 55.3534C38.5852 56.3002 39.3003 57.6083 40.499 57.6083H49.4817V67.9206H22.6469V57.4912H31.6296C32.8283 57.4912 33.5486 56.1882 32.9466 55.2364L27.7968 47.1789H30.1942C31.3929 47.1789 32.1132 45.8759 31.5113 44.9241L26.9582 36.8667H27.3183C28.3987 36.8667 29.1138 35.6807 28.6354 34.734L25.0392 26.5544H27.3132C28.3936 26.5544 29.1087 25.3684 28.6302 24.4217L18.2122 0.829665C17.9704 0.239229 17.492 0 16.8952 0C16.2984 0 15.8148 0.356298 15.5781 0.829665L5.03151 24.5387C4.31125 25.3684 5.03151 26.4322 6.1119 26.4322H8.38585L4.67138 34.7289C4.19293 35.6756 4.90804 36.8616 5.98842 36.8616H6.34855L1.67717 45.0411C1.07524 45.9879 1.7955 47.296 2.99421 47.296H5.39164L0.241801 55.3534C-0.354984 56.3002 0.360129 57.6083 1.55884 57.6083H10.5415V67.9206H1.55884C0.720257 67.9206 0 68.6332 0 69.4628C0 70.2925 0.720257 71.0051 1.55884 71.0051H70.4463C71.2849 71.0051 72.0051 70.2925 72.0051 69.4628C72.0051 68.6332 71.2849 67.9206 70.4463 67.9206V67.9155ZM48.4013 46.4612C48.9981 45.5145 48.283 44.2115 47.0842 44.2115H44.5685L49.2399 36.0319C49.8367 35.0852 49.1215 33.777 47.9228 33.777H47.326L51.0405 25.4804C51.519 24.5337 50.8039 23.3477 49.7235 23.3477H47.4495L55.5936 4.85583L63.7428 23.3477H61.4637C60.3833 23.3477 59.6682 24.4166 60.1466 25.4804L63.8611 33.777H63.2643C62.0656 33.777 61.3453 34.963 61.9473 36.0319L66.6187 44.2115H64.1029C62.9042 44.2115 62.1839 45.5145 62.7859 46.4612L67.9357 54.5238H43.3749L48.4064 46.4612H48.4013ZM9.46624 46.4612C10.0682 45.5145 9.34791 44.2115 8.1492 44.2115H5.63344L10.3048 36.0319C10.9016 35.0852 10.1865 33.777 8.98778 33.777H8.391L12.1055 25.4804C12.5839 24.5337 11.8637 23.3477 10.7884 23.3477H8.50933L16.6585 4.85583L24.8026 23.3477H22.5286C21.4482 23.3477 20.7331 24.4166 21.2116 25.4804L24.926 33.777H24.3241C23.1254 33.777 22.4051 34.963 23.0071 36.0319L27.6785 44.2115H25.1627C23.964 44.2115 23.2437 45.5145 23.8457 46.4612L28.9955 54.5238H4.43473L9.46624 46.4612ZM13.6592 67.9155V57.4861H19.6476V67.9155H13.6592ZM52.4759 67.9155V57.4861H58.4643V67.9155H52.4759Z' fill='%2332C7A1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_28_583'%3E%3Crect width='72' height='71' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
/* 마우스 오버시 */
.forest .list ul li a:hover {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.forest .list ul li.forest01 a:hover {
    background-image: url(../images/main/forest01_bg.png);
}
.forest .list ul li.forest02 a:hover {
    background-image: url(../images/main/forest02_bg.png);
}
.forest .list ul li.forest03 a:hover {
    background-image: url(../images/main/forest03_bg.png);
}
.forest .list ul li.forest04 a:hover {
    background-image: url(../images/main/forest04_bg.png);
}
.forest .list ul li.forest05 a:hover {
    background-image: url(../images/main/forest05_bg.png);
}
.forest .list ul li.forest06 a:hover {
    background-image: url(../images/main/forest06_bg.png);
}
.forest .list ul li a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='14' cy='14' r='14' fill='white'/%3E%3Cpath d='M15.2907 14.344L11.2175 10.271C11.0792 10.1325 11.0083 9.95841 11.005 9.74874C11.0018 9.53924 11.0727 9.36199 11.2175 9.21699C11.3625 9.07216 11.5382 8.99974 11.7445 8.99974C11.9508 8.99974 12.1265 9.07216 12.2715 9.21699L16.7657 13.7112C16.8592 13.8049 16.9252 13.9037 16.9637 14.0075C17.0022 14.1113 17.0215 14.2235 17.0215 14.344C17.0215 14.4645 17.0022 14.5767 16.9637 14.6805C16.9252 14.7843 16.8592 14.8831 16.7657 14.9767L12.2715 19.471C12.133 19.6093 11.9589 19.6802 11.7492 19.6835C11.5397 19.6867 11.3625 19.6158 11.2175 19.471C11.0727 19.326 11.0002 19.1503 11.0002 18.944C11.0002 18.7377 11.0727 18.562 11.2175 18.417L15.2907 14.344Z' fill='%2332C7A1'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1300px){
    .forest .tit {
        margin-top: 150px;
    }
    .forest .tit p br { 
        display: none; /* 줄바꿈 삭제 */
    }
    .forest .list ul {
        gap: 18px;
    }
    .forest .list ul li a {
        height: 150px;
        padding-top: 96px;
    }
    .forest .list ul li a::after {
        bottom: 25px;
    }
    .forest .list ul li a span::before {
        top: -74px;
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width:1024px){
    .forest {
        padding-bottom: 70px;
    }
    .forest .wrapper {
        display: block;
    }
    .forest .tit {
        width: auto;
        margin: 60px 0 16px 0;
    }
    .forest .list {
        max-width: 100%;
        width: auto;
    }
    .forest .list ul {
        gap: 16px;
    }
    .forest .list ul li {
        width: calc(33% - 10px);
    }
    .forest .list ul li:nth-child(odd) { /* 홀수 */
        transform: translateY(0);
    }
    .forest .list ul li a {
        height: 79px;
        padding: 45px 0 0 0;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 400;
    }
    .forest .list ul li a::after {
        right: 0;
        bottom: 0;
        width: 28px;
        height: 23px;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='23' viewBox='0 0 28 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_37_1577' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='23'%3E%3Crect width='28' height='23' rx='5' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_37_1577)'%3E%3Ccircle cx='27' cy='22' r='20' fill='%2332C7A1'/%3E%3Cpath d='M21.5628 14.0017L18.1804 10.9519C18.0655 10.8482 18.0067 10.7178 18.0039 10.5608C18.0013 10.404 18.0601 10.2713 18.1804 10.1627C18.3008 10.0542 18.4467 10 18.618 10C18.7894 10 18.9352 10.0542 19.0556 10.1627L22.7876 13.5279C22.8653 13.5981 22.9201 13.672 22.952 13.7498C22.984 13.8275 23 13.9115 23 14.0017C23 14.092 22.984 14.176 22.952 14.2537C22.9201 14.3315 22.8653 14.4054 22.7876 14.4755L19.0556 17.8408C18.9406 17.9444 18.7961 17.9974 18.622 17.9999C18.448 18.0023 18.3008 17.9493 18.1804 17.8408C18.0601 17.7322 18 17.6007 18 17.4462C18 17.2917 18.0601 17.1602 18.1804 17.0516L21.5628 14.0017Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    .forest .list ul li a span::before {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width:500px){
    .forest .list ul li {
        width: calc(50% - 8px);
    }
}

.story .tit h2 {
    font-size: var(--tit-txt-size);
    font-weight: 800;
    line-height: var(--tit-lineheight);
    color: var(--tit-txt-color);
}
.story .tit p {
    margin: 7px 0 44px 0;
}
.story .list ul {
    margin-top: 20px;
}
.story .list ul li {
    width: 297px;
}
.story .list ul li a {
    display: block;
    position: relative; /* before 정렬의 기준 */
    padding-top: 26px;
}
.story .list ul li a::before {
    /* 선이 그려지는 애니메이션을 줄 예정 - 분리된 개체여야 함 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #1d1d1d;
    content: "";
}
.story .list ul li a h3 {
    font-size: 25px;
    font-weight: 800;
    color: var(--tit-txt-color);
    /* 2줄제한 -- padding불가 */
    line-height: 1.2;
    height: 2.4em; /* 행간 * 줄수 (단위는 em) */
    overflow: hidden;

    /* 1줄제한 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;*/
}
.story .list ul li a p {
    line-height: 1.4;
    height: 2.8em; /* 행간 * 줄수 (단위는 em) */
    overflow: hidden;

    margin: 11px 0 21px 0;
}
.story .list ul li a .date {
    display: block;
    color: var(--txt-color-gray);
    margin-bottom: 16px;
}
.story .list ul li a .photo {
    overflow: hidden;
    position: relative; /* cate 정렬의 기준 */
    font-size: 0;
    line-height: 0;
}
.story .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.story .list ul li a .cate {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-main2);
    color: #fff;
    font-size: 17px;
    line-height: 1.4;
    font-weight: 800;
    padding: 5px 11px;
    content: "";
}
/* 마우스 오버했을때 */
.story .list ul li:hover::after {
    position: absolute;
    right: 5%;
    bottom: 37px;s
    width: 51px;
    height: 51px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='71' height='71' viewBox='0 0 71 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.9805 26.2171L44.0521 47.1257C44.2782 47.5174 44.3353 47.9216 44.2234 48.3384C44.1119 48.7552 43.8604 49.0767 43.4687 49.3028C43.077 49.529 42.6728 49.5861 42.2561 49.4742C41.8392 49.3627 41.5177 49.1112 41.2916 48.7195L29.22 27.8109L26.6593 37.3676C26.5433 37.7994 26.301 38.1194 25.9322 38.3279C25.5632 38.536 25.159 38.5892 24.7196 38.4875C24.2695 38.3666 23.9328 38.1239 23.7096 37.7591C23.4861 37.3941 23.4348 36.9864 23.5555 36.536L27.039 23.535C27.1119 23.2631 27.2235 23.0368 27.3739 22.8559C27.524 22.6747 27.71 22.5201 27.9318 22.3921C28.1535 22.264 28.3804 22.1803 28.6124 22.1408C28.8442 22.1011 29.0961 22.1176 29.368 22.1904L42.3689 25.674C42.8006 25.79 43.1233 26.0369 43.3371 26.4149C43.5507 26.7934 43.5973 27.2077 43.4769 27.658C43.3452 28.0894 43.1016 28.414 42.7461 28.632C42.3906 28.8499 41.9876 28.8985 41.5372 28.7779L31.9805 26.2171Z' fill='white'/%3E%3C/svg%3E ");                                                                                                                
    content: "";
}
.story .list ul li:hover a {
    transform: translate(0, -20px);
}
.story .list ul li:hover a::after {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-main2);
        content: "";
}
.story .list ul li:hover a h3 {
    position: relative;
    z-index: 10;
    color: #fff;
    padding: 0 7%;
}
.story .list ul li:hover a p {
    position: relative;
    z-index: 10;
    color: #fff;
    padding: 0 7%;
}

.story .more {
    text-align: center; /* a를 가운데 정렬 */
    margin-top: 48px;
}
.story .more a {
    display: inline-block;
    padding: 9px 61px 7px 36px;
    border: 1px solid var(--color-main2);
    border-radius: 22px; 
    color: var(--color-main2);
    position: relative;
    transition: 0.5s;
}
.story .more a::after {
    position: absolute;
    right: 31px;
    top: 7px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 12.75H6.25C6.0375 12.75 5.85942 12.6781 5.71575 12.5342C5.57192 12.3904 5.5 12.2122 5.5 11.9997C5.5 11.7871 5.57192 11.609 5.71575 11.4655C5.85942 11.3218 6.0375 11.25 6.25 11.25H11.25V6.25C11.25 6.0375 11.3219 5.85942 11.4658 5.71575C11.6096 5.57192 11.7878 5.5 12.0003 5.5C12.2129 5.5 12.391 5.57192 12.5345 5.71575C12.6782 5.85942 12.75 6.0375 12.75 6.25V11.25H17.75C17.9625 11.25 18.1406 11.3219 18.2843 11.4658C18.4281 11.6096 18.5 11.7878 18.5 12.0003C18.5 12.2129 18.4281 12.391 18.2843 12.5345C18.1406 12.6782 17.9625 12.75 17.75 12.75H12.75V17.75C12.75 17.9625 12.6781 18.1406 12.5342 18.2843C12.3904 18.4281 12.2122 18.5 11.9997 18.5C11.7871 18.5 11.609 18.4281 11.4655 18.2843C11.3218 18.1406 11.25 17.9625 11.25 17.75V12.75Z' fill='%2332C7A1'/%3E%3C/svg%3E%0A");
    content: "";
    transition: 0.5s;
}
.story .more a:hover {
    background-color: var(--color-main2);
    color: #fff;
}
.story .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 12.75H6.25C6.0375 12.75 5.85942 12.6781 5.71575 12.5342C5.57192 12.3904 5.5 12.2122 5.5 11.9997C5.5 11.7871 5.57192 11.609 5.71575 11.4655C5.85942 11.3218 6.0375 11.25 6.25 11.25H11.25V6.25C11.25 6.0375 11.3219 5.85942 11.4658 5.71575C11.6096 5.57192 11.7878 5.5 12.0003 5.5C12.2129 5.5 12.391 5.57192 12.5345 5.71575C12.6782 5.85942 12.75 6.0375 12.75 6.25V11.25H17.75C17.9625 11.25 18.1406 11.3219 18.2843 11.4658C18.4281 11.6096 18.5 11.7878 18.5 12.0003C18.5 12.2129 18.4281 12.391 18.2843 12.5345C18.1406 12.6782 17.9625 12.75 17.75 12.75H12.75V17.75C12.75 17.9625 12.6781 18.1406 12.5342 18.2843C12.3904 18.4281 12.2122 18.5 11.9997 18.5C11.7871 18.5 11.609 18.4281 11.4655 18.2843C11.3218 18.1406 11.25 17.9625 11.25 17.75V12.75Z' fill='white'/%3E%3C/svg%3E%0A");
    /* transform: rotate(360deg); */
    animation-name: story_more;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes story_more {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); } 
}
@media screen and (max-width:1024px){
    .story .tit h2 {
        margin-top: 85px;
    }
    .story .tit p {
        margin-bottom: 18px;
    }
    .story .list ul li {
        width: 250px;
    }
    .story .list ul li a {
        padding-top: 16px;
    }
    .story .list ul li a h3 {
        font-size: 17px;
    }
    .story .list ul li a p {
        margin: 10px 0 13px 0;
    }
    .story .list ul li a .date {
        margin-bottom: 14px;
    }
    .story .list ul li a .cate {
        font-size: 13px;
    }
    .story .more {
        margin-top: 33px;
    }
    .story .more a {
        padding: 8px 45px 5px 26px;
    }
    .story .more a::after {
        right: 26px;
        top: 10px;
        width: 16px;
        height: 16px;
    }
}
