/* header와 footer 처럼 페이지에 공통으로 배치되는 요소의 css */

.skip_nav {
    position: absolute;
    left: 0;
    top: -100px; /* focus가 될때만 나타나야함- 상단에 숨겨져 있어야함 */
    z-index: 99999999999999; /* 꼭 맨 상단에 배치 */
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #EA141D;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 100px; /* a가 포커스되면 올라간 만큼 다시 내려옴 */
}

header {
    position: relative;
    z-index: 100; 
    /* z-index를 적용하려면 position이 있어야함 */
}

/*  1025px 이상 - pc버전  */
@media screen and (min-width:1025px){
    header .header_top {
        height: 82px;
        display: flex;
        justify-content: space-between;
    }
    header .header_top .tnb ul {
        display: flex;
    }
    header .header_top .tnb ul li a {
        display: block;
        padding: 19px 18px;
        font-size: 0.938rem;
        color: var(--txt-color-gray);
        position: relative; /* before 정렬의 기준 */
    }
    header .header_top .tnb ul li:first-child a {
        padding-left: 0;
    }
    header .header_top .tnb ul li:last-child a {
        padding-right: 0;
    }
    header .header_top .tnb ul li a:hover {
        color: var(--txt-color-tit);
        font-weight: 800;
    }
    header .header_top .tnb ul li a::before {
        position: absolute;
        left: 0;
        top: calc(50% - 2px);
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #ccc;
        content: "";
    }
    header .header_top .tnb ul li:first-child a::before {
        display: none;
    }

    header .header_sub {
        height: 68px;
        position: relative; /* logo 정렬의 기준 */
    }
    header .header_sub .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        /* 좌우에 가운데 */
        top: -61px;
    }
    header .header_sub .logo a {
        display: block;
        width: 79px;
        height: 56px;
        font-size: 0;
        line-height: 0;
        position: relative; /* before 정렬기준 */
    }
    header .header_sub .logo a::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../images/common/logo.svg) no-repeat center center / contain;
        content: "";
    }

    header .header_sub .gnb ul.depth1 {
        display: flex;
    }
    header .header_sub .gnb ul.depth1 > li {
        width: 16.66%;
        text-align: center;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .header_sub .gnb ul.depth1 > li > a {
        font-size: 1.25rem;
        font-weight: 800;
        color: var(--txt-color-tit);
        line-height: 68px;
        display: block;
    }
    header .header_sub .gnb ul.depth2 {
        /* header밖에 존재하는 요소 position:absolute */
        position: absolute;
        left: 0;
        top: 68px;
        width: 100%;
        display: none;
    }
}/* media */
/* 1024이하 - 모바일 */
@media screen and (max-width:1024px){ 
    header .header_top {
        display: none;
    }
    header .header_sub .gnb {
        display: none;
    }
}/* media */