@import url(default.css);
@import url(fonts.css);

/* 글자의 스타일은 상속받음. 기본글자의 스타일은 
모든 태그를 감싸는 html body에 선언*/
html, body {
    font-family: 'Pretendard', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.3; /* 배수 - 글자 크기의 1.3배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
/* 홈페이지의 넓이를 제한하고 가운데 정렬 */
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 23px 0 0 0;
}
header .gnb ul {
    display: flex;
}
/* 1차메뉴는 큼직하게 눌려야 됨. 여백 및 사이즈는 a한테 줘야함. */
header .gnb ul li a {
    font-size: 20px;
    color: #1d1d1d;
    padding: 37px 25px 37px 25px;
    display: block;
    /* padding값을 적용하기 위해서 - a가 인라인 태그라 적용이 안됨. */
}
/* a태그에 마우스를 올렸을때의 스타일 */
header .gnb ul li a:hover {
    color: #F2AB36;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.visual {
    height: 718px;
    background-image: url(../images/visual_bg_test.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background 속성을 한번에 선언하는 방법 */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
}
.visual strong {
    padding: 207px 0 0 0;
    display: block; /* 인라인요소는 여백이 적용 x */
}
.visual h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
}