@import url(default.css);
@import url(fonts.css);

/* 글자의 스타일은 상속받음. 기본글자의 스타일은 
모든 태그를 감싸는 html body에 선언*/
html, body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.3; /* 배수 - 글자 크기의 1.3배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
/* 홈페이지 전체를 감싸는 요소 - 가로 스크롤바가 생겼을때 배경이 짤리는 현상을 막음 */
#wrap {
    min-width: 1260px;
}
/* 홈페이지의 넓이를 제한하고 가운데 정렬 */
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}

header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 23px 0 0 0;
}
header .gnb ul {
    display: flex;
}
/* 1차메뉴는 큼직하게 눌려야 됨. 여백 및 사이즈는 a한테 줘야함. */
header .gnb ul li a {
    font-size: 20px;
    color: #1d1d1d;
    padding: 37px 25px 37px 25px;
    display: block;
    /* padding값을 적용하기 위해서 - a가 인라인 태그라 적용이 안됨. */
}
/* a태그에 마우스를 올렸을때의 스타일 */
header .gnb ul li a:hover {
    color: #F2AB36;
    font-weight: 800;
    letter-spacing: -0.02em;
}

.visual {
    height: 718px;
    background-image: url(../images/visual_bg_test.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background 속성을 한번에 선언하는 방법 */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
}
.visual strong {
    padding: 207px 0 0 0;
    display: block; /* 인라인요소는 여백이 적용 x */
}
.visual h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.2;
}

.introduce .art {
    display: flex;
    justify-content: center;
    margin: 150px 0 78px 0;
}
.introduce .scholarship {
    display: flex;
    justify-content: center;
    margin: 0 0 150px 0;
    text-align: right;
}
.introduce .art .txt {
    margin: 0 0 0 145px;
    width: 530px;
}
.introduce .scholarship .txt {
    margin: 0 145px 0 0;
    width: 530px;
}
.introduce h2 {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.2;
    margin: 84px 0 0 0;
}
.introduce strong {
    font-size: 20px;
    font-weight: 800;
    margin: 14px 0 19px 0;
    display: block; /* margin을 적용하게 하는 방법 */
}
.introduce .btn {
    display: flex;
    /* a태그는 원래 좌우로 배치됨
    하지만 사이사이 여백이 발생 
    여백을 삭제하려면 flex로 좌우로 배치 */
    margin: 25px 0 0 0;
}
.introduce .scholarship .btn {
    justify-content: flex-end;
    /* flex가 배치한 버튼을 오른쪽 정렬
    text-aglin 영향을 받지 않음 */
} 
.introduce .btn a {
    border: 1px solid #666;
    padding: 8px 15px;
    display: block; /* padding값을 적용하기 위해서 */
    margin: 0 11px 0 0; 
}
/* btn 클래스 안에 있는 a중에서 마지막 a */
.introduce .btn a:last-child {
    margin-right: 0;
} 
.introduce .btn a:hover {
    /* 오버 전에 border가 있었다면 오버후에도 border를 주는 것이 사이즈가 유지됨 */
    border: 1px solid #369EAA;
    background-color: #369EAA;
    color: #fff;
}

.promotion {
    /* 배경보다 promotion 콘텐츠 길이가 더 길다. 배경의 위치를 정확하게 - 가운데 상단 
    background-size 주면 안됨. 디자인한 사이즈대로 들어가야 하니까. */
    background: url(../images/promotion_bg2.png) no-repeat center top;
}
.promotion .news {
    color: #fff;
    padding: 130px 0 120px 0;
}
.promotion .news .wrapper {
    display: flex;
    justify-content: space-between;
}
.promotion .news .tit h2 {
    font-size: 45px;
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
    padding: 24px 2px 0;
}
.promotion .news .tit h2 em {
    color: #369EAA;
}
.promotion .news .tit p {
    margin: 11px 0 16px 0;
}
.promotion .news .list {
    width: 725px;
}
.promotion .news .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.promotion .news .list ul li a {
    /* display:flex는 해당 요소를 block요소로 만들어서 넓이를 100%로 만듬. */
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    padding: 13px 15px 13px 15px;
}
.promotion .news .list ul li a strong {
    font-size: 20px;
    color: #fff;
}
/* a태그에 오버했을때 strong태그는 */
.promotion .news .list ul li a:hover strong {
    font-weight: 800;
    color: #369EAA;
}
.promotion .news .wrapper {
    position: relative;
    /* more정렬의 기준
        more를 감싸는 wrapper를 기준으로 정렬 
        wrapper에 position값을 줘야함 
        position 속성값 중에서 유일하게
        relative 값만이 요소에 아무런 영향을 
        끼치지 않음*/
}
.promotion .news .more {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 15px;
    display: inline-block; /* inline요소는 padding 적용 안됨 */
    position: absolute;
    left: 0;
    top: 125px;
    /* position:absolute는 반드시 
    좌우위치 left right
    위아래 위치 top bottom 값이 필수이고
    이 값을 어디서부터 계산하는지
    기준이 필요함 
    나를 감싸는 요소 중에서 position 속성을 가진 
    요소를 기준으로 정렬 
    ---- wrapper를 기준으로 정렬 */
}
.promotion .news .more:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #133941;
}
.promotion .movie .tit h2 {
    font-size: 45px;
    font-weight: 800;
    color: #fff;
    line-height: 1.2;
    padding: 13px 0 0 0;
    margin: 0 0 13px 0;
}
.promotion .movie .tit h2 em {
    color: #369EAA;
}
.promotion .movie .list ul {
    display: flex;
    justify-content: space-between;
}
.promotion .movie .list ul li {
    width: 404px;
}
.promotion .movie .list ul a {
    display: block;
    /* a는 인라인태그, 내부에는 block태그
    a와 li의 영역 크기를 동일하게 주기 위해
    a도 block요소로 만듬 */
}
.promotion .movie .list ul li a .photo img {
    border: 1px solid #133941;;
    /* 이미지에 테두리를 주면 이미지 밖으로 테두리 생성 
    이미지는 감싸는 영역의 크기를 이미지보다 작게해도
    이미지가 자동으로 줄어들지 않습니다. 본인의 사이즈대로 나타남.
    글자는 줄바꿈을 함. */
    width: calc(100% - 2px);
    /* 나를 감싸는 photo의 넓이에 100% - 테두리는 별도 
       넓이 100%에서 테두리값을 뺀 넓이를 주면 됨 */
}
.promotion .movie .list ul li a strong {
    margin: 8px 0 0 0;
    display: block; /* margin값 적용 */
}
.promotion .movie .list ul li a h3 {
    font-size: 20px;
    font-weight: 800;
}
/* 마우스를 오버 
   스타일이 변경되는 요소의 스타일이 정의된 선택자를 그대로 복사해야함 
   만약에 그냥 body라던가 다른 스타일을 상속받은거면 
   그냥 a에게 스타일을 주면 됨 */
.promotion .movie .list ul li a:hover strong {
    color: #369EAA;
}
.promotion .movie .list ul li a:hover h3 {
    color: #369EAA;
}

footer {
    margin: 170px 0 0 0;
    padding: 53px 0 100px 0;
    background-color: #1A1B1C;
    color: rgba(255,255,255,0.8);
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin: 0 35px 0 0;
}
footer .f_nav ul li.privacy {
    font-weight: 800;
}
footer .f_info {
    margin: 22px 0 22px;
}
/* footer .f_info address, span
   이렇게 선택자를 쓰면 footer안에 f_info라는 클래스명을
   갖은 요소 안에 있는 address와 html내부의 모든 span가
   되어 버림 */
footer .f_info address,
footer .f_info span {
    margin: 0 35px 7px 0;
    display: inline-block; 
    /* address는 블럭태그인데 span태그와 좌우에 배치되려고,
       span은 margin을 적용시키려고 */
}
footer .copyright {
    color: rgba(255, 255, 255, 0.6);
}
footer .wrapper {
    /* footer .family 정렬의 기준 */
    position: relative;
}
footer .family {
    position: absolute;
    right: 0;
    top: 0;
    /* footer .wrapper 기준으로 정렬 */
}
footer .family button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 200px;
    height: 30px;
    /* 원래 버튼 태그는 요소가 좌우의 가운데 위아래 가운데 정렬 */
    display: flex;
    justify-content: space-between;
     /* 내부 두 요소를 좌우 끝단에 배치하기 위해서 */
    align-items: center; /* 위아래 가운데 */
    padding: 0 15px;
}
button { /* 버튼태그는 글자의 스타일을 상속받지 않음 */
    background-color: transparent; /* 투명 */
    border: 0; /* 테두리 삭제 */
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
    line-height: inherit;
}