/* header와 footer처럼 페이지에 공통으로 배치되는 요소 */

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100; /* 모든 요소의 맨위 */
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 20px; 
}
header .logo {
    margin-top: 17px;
}
header .logo a {
    display: block;
    width: 154px;
    height: 51px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='154.322' height='51.123' viewBox='0 0 154.322 51.123'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_57' data-name='사각형 57' width='154.322' height='51.123' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_6' data-name='그룹 6' transform='translate(0 0)'%3E%3Cg id='그룹_3' data-name='그룹 3' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M155.351,12.506a3.492,3.492,0,0,0,.236,1.31,3.762,3.762,0,0,0,5.205,2.078c.59-.236,17.019-6.855,17.019-6.855s-6.468,16.4-6.715,17.012a3.8,3.8,0,0,0,2.114,5.191,3.66,3.66,0,0,0,1.308.23,3.854,3.854,0,0,0,3.639-2.786c.1-.28,8.19-22.49,8.37-23.023a6.212,6.212,0,0,0,.293-1.574A4.03,4.03,0,0,0,182.742,0a4.935,4.935,0,0,0-1.605.3c-.386.125-21.239,7.885-23.023,8.548a3.909,3.909,0,0,0-2.763,3.657' transform='translate(-32.499 0)' fill='%23e91c32'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M102.222,31.529v-.473H89.581v3.238h7.343c-1.914,6.058-8.756,9.616-8.756,9.616L90,46.465s12.223-5.046,12.223-14.936' transform='translate(-18.445 -6.497)' fill='%23fff'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M99.709,57.148V50.863H95.225v7.086a3.881,3.881,0,0,0,4.183,3.815h13.9V58.535H101.28c-1.09,0-1.552-.434-1.571-1.387' transform='translate(-19.921 -10.64)' fill='%23fff'/%3E%3Cpath id='패스_4' data-name='패스 4' d='M105.3,36.923v3.236h5.335v7.795h4.484V30.616h-4.484v6.307Z' transform='translate(-22.028 -6.405)' fill='%23fff'/%3E%3Cpath id='패스_5' data-name='패스 5' d='M152.924,43.581h4.482V30.453h-4.482v4.088h-4.677v3.2h4.677Z' transform='translate(-31.013 -6.37)' fill='%23fff'/%3E%3Cpath id='패스_6' data-name='패스 6' d='M22.465,50.555H5.4v7.329A3.88,3.88,0,0,0,9.579,61.7H23.461V51.554a1,1,0,0,0-1-1m-3.483,7.91H11.454c-1.094.006-1.554-.428-1.573-1.381V53.792h9.1Z' transform='translate(-1.129 -10.576)' fill='%23fff'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M22.635,31.065v-.152H4.024v3.238H17.938c0,.212,0,.482,0,.74,0,3-.149,4.983-.229,5.787H0v3.236H27.291V40.678H21.705a39.59,39.59,0,0,0,.93-9.613' transform='translate(0 -6.467)' fill='%23fff'/%3E%3Cpath id='패스_8' data-name='패스 8' d='M59.654,47.879c3.724-.815,6.481-3.6,6.481-6.914A6.452,6.452,0,0,0,64.024,36.3h4.757V33.067H59.654V30.013H55.175v3.054h-9.13V36.3H50.8a6.448,6.448,0,0,0-2.109,4.663c0,3.31,2.755,6.1,6.481,6.914v3.276h-11.4v3.238H71.055V51.155h-11.4Zm-6.347-7.014a4.108,4.108,0,1,1,4.107,4.009,4.062,4.062,0,0,1-4.107-4.009' transform='translate(-9.157 -6.278)' fill='%23fff'/%3E%3Cpath id='패스_9' data-name='패스 9' d='M140.567,43.4h4.34c-.182-1.052-1.768-9.547-5.9-12.485H134L130.148,43.5h4.5l2.565-9.067c2.162,2.527,3.211,8.13,3.356,8.96' transform='translate(-27.227 -6.467)' fill='%23fff'/%3E%3Cpath id='패스_10' data-name='패스 10' d='M142.927,58.188c-1.142,0-1.348-.29-1.348-1.259v-.406h13.516v-6.8a1.007,1.007,0,0,0-1.033-1.041H137.18V51.8H150.8v1.665H137.293v4.025c0,2.33,1.677,3.815,4.186,3.815h13.91V58.188Z' transform='translate(-28.698 -10.184)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
    content: "";
}
/* header에 오버하거나, 스크롤을 내려서 고정되었을때 */
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='154.322' height='51.123' viewBox='0 0 154.322 51.123'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_57' data-name='사각형 57' width='154.322' height='51.123' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_6' data-name='그룹 6' transform='translate(0 0)'%3E%3Cg id='그룹_3' data-name='그룹 3' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M155.351,12.506a3.492,3.492,0,0,0,.236,1.31,3.762,3.762,0,0,0,5.205,2.078c.59-.236,17.019-6.855,17.019-6.855s-6.468,16.4-6.715,17.012a3.8,3.8,0,0,0,2.114,5.191,3.66,3.66,0,0,0,1.308.23,3.854,3.854,0,0,0,3.639-2.786c.1-.28,8.19-22.49,8.37-23.023a6.212,6.212,0,0,0,.293-1.574A4.03,4.03,0,0,0,182.742,0a4.935,4.935,0,0,0-1.605.3c-.386.125-21.239,7.885-23.023,8.548a3.909,3.909,0,0,0-2.763,3.657' transform='translate(-32.499 0)' fill='%23e91c32'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M102.222,31.529v-.473H89.581v3.238h7.343c-1.914,6.058-8.756,9.616-8.756,9.616L90,46.465s12.223-5.046,12.223-14.936' transform='translate(-18.445 -6.497)' fill='%23353a40'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M99.709,57.148V50.863H95.225v7.086a3.881,3.881,0,0,0,4.183,3.815h13.9V58.535H101.28c-1.09,0-1.552-.434-1.571-1.387' transform='translate(-19.921 -10.64)' fill='%23353a40'/%3E%3Cpath id='패스_4' data-name='패스 4' d='M105.3,36.923v3.236h5.335v7.795h4.484V30.616h-4.484v6.307Z' transform='translate(-22.028 -6.405)' fill='%23353a40'/%3E%3Cpath id='패스_5' data-name='패스 5' d='M152.924,43.581h4.482V30.453h-4.482v4.088h-4.677v3.2h4.677Z' transform='translate(-31.013 -6.37)' fill='%23353a40'/%3E%3Cpath id='패스_6' data-name='패스 6' d='M22.465,50.555H5.4v7.329A3.88,3.88,0,0,0,9.579,61.7H23.461V51.554a1,1,0,0,0-1-1m-3.483,7.91H11.454c-1.094.006-1.554-.428-1.573-1.381V53.792h9.1Z' transform='translate(-1.129 -10.576)' fill='%23353a40'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M22.635,31.065v-.152H4.024v3.238H17.938c0,.212,0,.482,0,.74,0,3-.149,4.983-.229,5.787H0v3.236H27.291V40.678H21.705a39.59,39.59,0,0,0,.93-9.613' transform='translate(0 -6.467)' fill='%23353a40'/%3E%3Cpath id='패스_8' data-name='패스 8' d='M59.654,47.879c3.724-.815,6.481-3.6,6.481-6.914A6.452,6.452,0,0,0,64.024,36.3h4.757V33.067H59.654V30.013H55.175v3.054h-9.13V36.3H50.8a6.448,6.448,0,0,0-2.109,4.663c0,3.31,2.755,6.1,6.481,6.914v3.276h-11.4v3.238H71.055V51.155h-11.4Zm-6.347-7.014a4.108,4.108,0,1,1,4.107,4.009,4.062,4.062,0,0,1-4.107-4.009' transform='translate(-9.157 -6.278)' fill='%23353a40'/%3E%3Cpath id='패스_9' data-name='패스 9' d='M140.567,43.4h4.34c-.182-1.052-1.768-9.547-5.9-12.485H134L130.148,43.5h4.5l2.565-9.067c2.162,2.527,3.211,8.13,3.356,8.96' transform='translate(-27.227 -6.467)' fill='%23353a40'/%3E%3Cpath id='패스_10' data-name='패스 10' d='M142.927,58.188c-1.142,0-1.348-.29-1.348-1.259v-.406h13.516v-6.8a1.007,1.007,0,0,0-1.033-1.041H137.18V51.8H150.8v1.665H137.293v4.025c0,2.33,1.677,3.815,4.186,3.815h13.91V58.188Z' transform='translate(-28.698 -10.184)' fill='%23353a40'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

@media screen and (min-width:1025px){
    /* 1025px이상일 경우 - pc형 */
    header .gnb button {
        display: none; /* 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 135px;
        position: relative; /* depth2 정렬의 기준 */
    } 
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /* li의 사이즈 동일 */
        line-height: 100px; /* header의 높이와 동일한 값 */
        font-size: 20px;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        font-weight: 700;
        color: #DE0000;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span::after {
        position: absolute;
        right: -7px;
        top: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #DE0000;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 2차메뉴는 오버한 경우에만 보임 */
        position: absolute;
        left: 0;
        top: 100px; /* header 높이만큼 */
        width: 100%;
        padding-top: 23px;
        /* 1차메뉴 a와 2차메뉴 사이의 여백은 
           반드시 padding으로 줘야함 
           padding으로 안주면 2차 메뉴로 이동시 메뉴가 아웃됨 */
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #DE0000;
    }
    /* a태그 중에서 targe="_blank" 이런 속성과 속성값이 선언된 a태그에게만 스타일 줌 */
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span {
        padding-right: 17px; /* 아이콘이 들어갈 자리 - 아이콘까지 포함해서 가운데 정렬하기 위해서 */
        display: inline-block;
        position: relative; 
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: 0;
        top: 8px;
        width: 13px;
        height: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.436' height='9.436' viewBox='0 0 9.436 9.436'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.048-830.564a1.01,1.01,0,0,1-.74-.308,1.01,1.01,0,0,1-.308-.74v-7.339a1.01,1.01,0,0,1,.308-.74,1.01,1.01,0,0,1,.74-.308h3.145a.507.507,0,0,1,.373.151.507.507,0,0,1,.151.373.507.507,0,0,1-.151.374.507.507,0,0,1-.373.151h-3.145v7.339h7.339v-3.145a.507.507,0,0,1,.151-.373.507.507,0,0,1,.373-.151.507.507,0,0,1,.373.151.507.507,0,0,1,.151.373v3.145a1.01,1.01,0,0,1-.308.74,1.01,1.01,0,0,1-.74.308Zm7.339-7.653-4.508,4.508a.5.5,0,0,1-.367.144.5.5,0,0,1-.367-.144.5.5,0,0,1-.144-.367.5.5,0,0,1,.144-.367l4.508-4.508H126.29a.507.507,0,0,1-.373-.151.507.507,0,0,1-.151-.374.507.507,0,0,1,.151-.373.507.507,0,0,1,.373-.151h2.621a.507.507,0,0,1,.373.151.507.507,0,0,1,.151.373v2.621a.507.507,0,0,1-.151.373.507.507,0,0,1-.373.151.507.507,0,0,1-.373-.151.507.507,0,0,1-.151-.373Z' transform='translate(-120 840)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"]:hover > span::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.436' height='9.436' viewBox='0 0 9.436 9.436'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.048-830.564a1.01,1.01,0,0,1-.74-.308,1.01,1.01,0,0,1-.308-.74v-7.339a1.01,1.01,0,0,1,.308-.74,1.01,1.01,0,0,1,.74-.308h3.145a.507.507,0,0,1,.373.151.507.507,0,0,1,.151.373.507.507,0,0,1-.151.374.507.507,0,0,1-.373.151h-3.145v7.339h7.339v-3.145a.507.507,0,0,1,.151-.373.507.507,0,0,1,.373-.151.507.507,0,0,1,.373.151.507.507,0,0,1,.151.373v3.145a1.01,1.01,0,0,1-.308.74,1.01,1.01,0,0,1-.74.308Zm7.339-7.653-4.508,4.508a.5.5,0,0,1-.367.144.5.5,0,0,1-.367-.144.5.5,0,0,1-.144-.367.5.5,0,0,1,.144-.367l4.508-4.508H126.29a.507.507,0,0,1-.373-.151.507.507,0,0,1-.151-.374.507.507,0,0,1,.151-.373.507.507,0,0,1,.373-.151h2.621a.507.507,0,0,1,.373.151.507.507,0,0,1,.151.373v2.621a.507.507,0,0,1-.151.373.507.507,0,0,1-.373.151.507.507,0,0,1-.373-.151.507.507,0,0,1-.151-.373Z' transform='translate(-120 840)' fill='%23de0000'/%3E%3C/svg%3E%0A");
    }
    header .tnb {
        display: flex;
        margin-top: 34px;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 23px;
        /* 왼쪽에 아이콘 들어갈 자리 - 내부여백으로 처리
           아이콘을 클릭해도 링크가 적용되어야함 
           (아이콘까지 a태그여야함) */
           position: relative;
           font-weight: 700;
           margin-right: 33px;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.408' height='16.408' viewBox='0 0 16.408 16.408'%3E%3Cpath id='language_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M88.2-863.592a7.938,7.938,0,0,1-3.179-.646A8.321,8.321,0,0,1,82.41-866a8.322,8.322,0,0,1-1.764-2.615A7.939,7.939,0,0,1,80-871.8a7.916,7.916,0,0,1,.646-3.189,8.355,8.355,0,0,1,1.764-2.6,8.319,8.319,0,0,1,2.615-1.764A7.938,7.938,0,0,1,88.2-880a7.916,7.916,0,0,1,3.189.646A8.352,8.352,0,0,1,94-877.59a8.355,8.355,0,0,1,1.764,2.6,7.916,7.916,0,0,1,.646,3.189,7.938,7.938,0,0,1-.646,3.179A8.322,8.322,0,0,1,94-866a8.354,8.354,0,0,1-2.6,1.764A7.916,7.916,0,0,1,88.2-863.592Zm0-1.682a10.414,10.414,0,0,0,.923-1.538,9.711,9.711,0,0,0,.636-1.7H86.645a9.711,9.711,0,0,0,.636,1.7A10.413,10.413,0,0,0,88.2-865.273Zm-2.133-.328a11.372,11.372,0,0,1-.646-1.4,12.047,12.047,0,0,1-.461-1.508h-2.42a6.806,6.806,0,0,0,1.487,1.784A5.9,5.9,0,0,0,86.071-865.6Zm4.266,0a5.9,5.9,0,0,0,2.041-1.128,6.807,6.807,0,0,0,1.487-1.784h-2.42a12.044,12.044,0,0,1-.461,1.508A11.37,11.37,0,0,1,90.337-865.6Zm-8.491-4.553h2.789q-.062-.41-.092-.81t-.031-.831q0-.431.031-.831t.092-.81H81.846a7.016,7.016,0,0,0-.154.81,6.528,6.528,0,0,0-.051.831,6.529,6.529,0,0,0,.051.831A7.02,7.02,0,0,0,81.846-870.155Zm4.43,0h3.856q.062-.41.092-.81t.031-.831q0-.431-.031-.831t-.092-.81H86.276q-.062.41-.092.81t-.031.831q0,.431.031.831T86.276-870.155Zm5.5,0h2.789a7.021,7.021,0,0,0,.154-.81,6.532,6.532,0,0,0,.051-.831,6.531,6.531,0,0,0-.051-.831,7.018,7.018,0,0,0-.154-.81H91.773q.062.41.092.81t.031.831q0,.431-.031.831T91.773-870.155Zm-.328-4.923h2.42a6.808,6.808,0,0,0-1.487-1.784,5.9,5.9,0,0,0-2.041-1.128,11.374,11.374,0,0,1,.646,1.4A12.043,12.043,0,0,1,91.445-875.077Zm-4.8,0h3.118a9.712,9.712,0,0,0-.636-1.7,10.417,10.417,0,0,0-.923-1.538,10.416,10.416,0,0,0-.923,1.538A9.712,9.712,0,0,0,86.645-875.077Zm-4.1,0h2.42a12.046,12.046,0,0,1,.461-1.508,11.376,11.376,0,0,1,.646-1.4,5.9,5.9,0,0,0-2.041,1.128A6.808,6.808,0,0,0,82.543-875.077Z' transform='translate(-80 880)' fill='%23fff'/%3E%3C/svg%3E ");
        content: "";
    }
    header .tnb .artera {
        display: block;
        width: 124px;
        height: 34px;
        line-height: 34px;
        /* 행간과 높이를 동일하게 주면 높이가 위아래 가운데 
           왼쪽 여백은 padding으로 추가 */
        padding-left: 19px  ;   
        border: 1px solid #fff;
        border-radius: 21px;
        font-weight: 700;
        position: relative; /* after 정렬의 기준 */
    }
    header .tnb .artera::after {
        position: absolute;
        right: 15px;
        top: 10px;
        width: 13px;
        height: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.438' height='13.438' viewBox='0 0 13.438 13.438'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.493-826.562a1.438,1.438,0,0,1-1.054-.439,1.438,1.438,0,0,1-.439-1.055v-10.451a1.438,1.438,0,0,1,.439-1.054,1.438,1.438,0,0,1,1.054-.439h4.479a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532.722.722,0,0,1-.215.532.722.722,0,0,1-.532.215h-4.479v10.451h10.451v-4.479a.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v4.479A1.438,1.438,0,0,1,133-827a1.438,1.438,0,0,1-1.054.439Zm10.451-10.9-6.42,6.42a.708.708,0,0,1-.523.205.708.708,0,0,1-.523-.205.708.708,0,0,1-.205-.523.708.708,0,0,1,.205-.522l6.42-6.42h-1.941a.722.722,0,0,1-.532-.215.722.722,0,0,1-.215-.532.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215h3.733a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v3.733a.723.723,0,0,1-.215.532.723.723,0,0,1-.532.215.723.723,0,0,1-.532-.215.722.722,0,0,1-.215-.532Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E ");
        content: "";
    }
    /* 메뉴오버, 고정 */
    header.fixed .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.408' height='16.408' viewBox='0 0 16.408 16.408'%3E%3Cpath id='language_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M88.2-863.592a7.938,7.938,0,0,1-3.179-.646A8.321,8.321,0,0,1,82.41-866a8.322,8.322,0,0,1-1.764-2.615A7.939,7.939,0,0,1,80-871.8a7.916,7.916,0,0,1,.646-3.189,8.355,8.355,0,0,1,1.764-2.6,8.319,8.319,0,0,1,2.615-1.764A7.938,7.938,0,0,1,88.2-880a7.916,7.916,0,0,1,3.189.646A8.352,8.352,0,0,1,94-877.59a8.355,8.355,0,0,1,1.764,2.6,7.916,7.916,0,0,1,.646,3.189,7.938,7.938,0,0,1-.646,3.179A8.322,8.322,0,0,1,94-866a8.354,8.354,0,0,1-2.6,1.764A7.916,7.916,0,0,1,88.2-863.592Zm0-1.682a10.414,10.414,0,0,0,.923-1.538,9.711,9.711,0,0,0,.636-1.7H86.645a9.711,9.711,0,0,0,.636,1.7A10.413,10.413,0,0,0,88.2-865.273Zm-2.133-.328a11.372,11.372,0,0,1-.646-1.4,12.047,12.047,0,0,1-.461-1.508h-2.42a6.806,6.806,0,0,0,1.487,1.784A5.9,5.9,0,0,0,86.071-865.6Zm4.266,0a5.9,5.9,0,0,0,2.041-1.128,6.807,6.807,0,0,0,1.487-1.784h-2.42a12.044,12.044,0,0,1-.461,1.508A11.37,11.37,0,0,1,90.337-865.6Zm-8.491-4.553h2.789q-.062-.41-.092-.81t-.031-.831q0-.431.031-.831t.092-.81H81.846a7.016,7.016,0,0,0-.154.81,6.528,6.528,0,0,0-.051.831,6.529,6.529,0,0,0,.051.831A7.02,7.02,0,0,0,81.846-870.155Zm4.43,0h3.856q.062-.41.092-.81t.031-.831q0-.431-.031-.831t-.092-.81H86.276q-.062.41-.092.81t-.031.831q0,.431.031.831T86.276-870.155Zm5.5,0h2.789a7.021,7.021,0,0,0,.154-.81,6.532,6.532,0,0,0,.051-.831,6.531,6.531,0,0,0-.051-.831,7.018,7.018,0,0,0-.154-.81H91.773q.062.41.092.81t.031.831q0,.431-.031.831T91.773-870.155Zm-.328-4.923h2.42a6.808,6.808,0,0,0-1.487-1.784,5.9,5.9,0,0,0-2.041-1.128,11.374,11.374,0,0,1,.646,1.4A12.043,12.043,0,0,1,91.445-875.077Zm-4.8,0h3.118a9.712,9.712,0,0,0-.636-1.7,10.417,10.417,0,0,0-.923-1.538,10.416,10.416,0,0,0-.923,1.538A9.712,9.712,0,0,0,86.645-875.077Zm-4.1,0h2.42a12.046,12.046,0,0,1,.461-1.508,11.376,11.376,0,0,1,.646-1.4,5.9,5.9,0,0,0-2.041,1.128A6.808,6.808,0,0,0,82.543-875.077Z' transform='translate(-80 880)' fill='%231d1d1d'/%3E%3C/svg%3E ");
    }
    header.fixed .tnb .artera {
        border-color: #3d3d3d;
    }
    header.fixed .tnb .artera::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.438' height='13.438' viewBox='0 0 13.438 13.438'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.493-826.562a1.438,1.438,0,0,1-1.054-.439,1.438,1.438,0,0,1-.439-1.055v-10.451a1.438,1.438,0,0,1,.439-1.054,1.438,1.438,0,0,1,1.054-.439h4.479a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532.722.722,0,0,1-.215.532.722.722,0,0,1-.532.215h-4.479v10.451h10.451v-4.479a.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v4.479A1.438,1.438,0,0,1,133-827a1.438,1.438,0,0,1-1.054.439Zm10.451-10.9-6.42,6.42a.708.708,0,0,1-.523.205.708.708,0,0,1-.523-.205.708.708,0,0,1-.205-.523.708.708,0,0,1,.205-.522l6.42-6.42h-1.941a.722.722,0,0,1-.532-.215.722.722,0,0,1-.215-.532.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215h3.733a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v3.733a.723.723,0,0,1-.215.532.723.723,0,0,1-.532.215.723.723,0,0,1-.532-.215.722.722,0,0,1-.215-.532Z' transform='translate(-120 840)' fill='%231d1d1d'/%3E%3C/svg%3E ");
    }
    /* 오버 */
    header.fixed .tnb .lang:hover {
        color: #DE0000;
    }
    header.fixed .tnb .lang:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.408' height='16.408' viewBox='0 0 16.408 16.408'%3E%3Cpath id='language_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M88.2-863.592a7.938,7.938,0,0,1-3.179-.646A8.321,8.321,0,0,1,82.41-866a8.322,8.322,0,0,1-1.764-2.615A7.939,7.939,0,0,1,80-871.8a7.916,7.916,0,0,1,.646-3.189,8.355,8.355,0,0,1,1.764-2.6,8.319,8.319,0,0,1,2.615-1.764A7.938,7.938,0,0,1,88.2-880a7.916,7.916,0,0,1,3.189.646A8.352,8.352,0,0,1,94-877.59a8.355,8.355,0,0,1,1.764,2.6,7.916,7.916,0,0,1,.646,3.189,7.938,7.938,0,0,1-.646,3.179A8.322,8.322,0,0,1,94-866a8.354,8.354,0,0,1-2.6,1.764A7.916,7.916,0,0,1,88.2-863.592Zm0-1.682a10.414,10.414,0,0,0,.923-1.538,9.711,9.711,0,0,0,.636-1.7H86.645a9.711,9.711,0,0,0,.636,1.7A10.413,10.413,0,0,0,88.2-865.273Zm-2.133-.328a11.372,11.372,0,0,1-.646-1.4,12.047,12.047,0,0,1-.461-1.508h-2.42a6.806,6.806,0,0,0,1.487,1.784A5.9,5.9,0,0,0,86.071-865.6Zm4.266,0a5.9,5.9,0,0,0,2.041-1.128,6.807,6.807,0,0,0,1.487-1.784h-2.42a12.044,12.044,0,0,1-.461,1.508A11.37,11.37,0,0,1,90.337-865.6Zm-8.491-4.553h2.789q-.062-.41-.092-.81t-.031-.831q0-.431.031-.831t.092-.81H81.846a7.016,7.016,0,0,0-.154.81,6.528,6.528,0,0,0-.051.831,6.529,6.529,0,0,0,.051.831A7.02,7.02,0,0,0,81.846-870.155Zm4.43,0h3.856q.062-.41.092-.81t.031-.831q0-.431-.031-.831t-.092-.81H86.276q-.062.41-.092.81t-.031.831q0,.431.031.831T86.276-870.155Zm5.5,0h2.789a7.021,7.021,0,0,0,.154-.81,6.532,6.532,0,0,0,.051-.831,6.531,6.531,0,0,0-.051-.831,7.018,7.018,0,0,0-.154-.81H91.773q.062.41.092.81t.031.831q0,.431-.031.831T91.773-870.155Zm-.328-4.923h2.42a6.808,6.808,0,0,0-1.487-1.784,5.9,5.9,0,0,0-2.041-1.128,11.374,11.374,0,0,1,.646,1.4A12.043,12.043,0,0,1,91.445-875.077Zm-4.8,0h3.118a9.712,9.712,0,0,0-.636-1.7,10.417,10.417,0,0,0-.923-1.538,10.416,10.416,0,0,0-.923,1.538A9.712,9.712,0,0,0,86.645-875.077Zm-4.1,0h2.42a12.046,12.046,0,0,1,.461-1.508,11.376,11.376,0,0,1,.646-1.4,5.9,5.9,0,0,0-2.041,1.128A6.808,6.808,0,0,0,82.543-875.077Z' transform='translate(-80 880)' fill='%23de0000'/%3E%3C/svg%3E ");
    }
    header.fixed .tnb .artera:hover {
        border-color: #DE0000;
        background-color: #DE0000;
        color: #fff;
    }
    header.fixed .tnb .artera:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.438' height='13.438' viewBox='0 0 13.438 13.438'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.493-826.562a1.438,1.438,0,0,1-1.054-.439,1.438,1.438,0,0,1-.439-1.055v-10.451a1.438,1.438,0,0,1,.439-1.054,1.438,1.438,0,0,1,1.054-.439h4.479a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532.722.722,0,0,1-.215.532.722.722,0,0,1-.532.215h-4.479v10.451h10.451v-4.479a.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v4.479A1.438,1.438,0,0,1,133-827a1.438,1.438,0,0,1-1.054.439Zm10.451-10.9-6.42,6.42a.708.708,0,0,1-.523.205.708.708,0,0,1-.523-.205.708.708,0,0,1-.205-.523.708.708,0,0,1,.205-.522l6.42-6.42h-1.941a.722.722,0,0,1-.532-.215.722.722,0,0,1-.215-.532.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215h3.733a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v3.733a.723.723,0,0,1-.215.532.723.723,0,0,1-.532.215.723.723,0,0,1-.532-.215.722.722,0,0,1-.215-.532Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E ");
    }

    /* 메뉴에 마우스를 오버한 경우 */
    header.menu_over::before {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        /* 정렬의 기준이 되는 header 내부에서
           가장 하단으로 배치한다는 명령 
           -- visual 아래로는 내려가지 않음 */
        width: 100%;
        height: 420px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0,0,0,0.2);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}/*media*/
@media screen and (max-width:1300px) and (min-width:1025px) {
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 120px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {   
        font-size: 17px;
    }
}/*media*/ 

@media screen and (max-width:1024px) { /* 1024px이하 - 모바일버전 */
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 35px;
        height: 35px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.322' height='16.881' viewBox='0 0 25.322 16.881'%3E%3Cpath id='menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.407-703.119a1.361,1.361,0,0,1-1-.4,1.361,1.361,0,0,1-.4-1,1.361,1.361,0,0,1,.4-1,1.361,1.361,0,0,1,1-.4h22.508a1.361,1.361,0,0,1,1,.4,1.361,1.361,0,0,1,.4,1,1.361,1.361,0,0,1-.4,1,1.362,1.362,0,0,1-1,.4Zm0-7.034a1.361,1.361,0,0,1-1-.4,1.361,1.361,0,0,1-.4-1,1.361,1.361,0,0,1,.4-1,1.361,1.361,0,0,1,1-.4h22.508a1.361,1.361,0,0,1,1,.4,1.361,1.361,0,0,1,.4,1,1.361,1.361,0,0,1-.4,1,1.361,1.361,0,0,1-1,.4Zm0-7.034a1.361,1.361,0,0,1-1-.4,1.361,1.361,0,0,1-.4-1,1.361,1.361,0,0,1,.4-1,1.361,1.361,0,0,1,1-.4h22.508a1.361,1.361,0,0,1,1,.4,1.361,1.361,0,0,1,.4,1,1.361,1.361,0,0,1-.4,1,1.361,1.361,0,0,1-1,.4Z' transform='translate(-120 720)' fill='%23fff'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.321' height='16.881' viewBox='0 0 25.321 16.881'%3E%3Cpath id='menu_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.407-703.119a1.361,1.361,0,0,1-1-.4,1.361,1.361,0,0,1-.4-1,1.361,1.361,0,0,1,.4-1,1.361,1.361,0,0,1,1-.4h22.508a1.361,1.361,0,0,1,1,.4,1.361,1.361,0,0,1,.4,1,1.361,1.361,0,0,1-.4,1,1.362,1.362,0,0,1-1,.4Zm0-7.034a1.361,1.361,0,0,1-1-.4,1.361,1.361,0,0,1-.4-1,1.361,1.361,0,0,1,.4-1,1.361,1.361,0,0,1,1-.4h22.508a1.361,1.361,0,0,1,1,.4,1.361,1.361,0,0,1,.4,1,1.361,1.361,0,0,1-.4,1,1.361,1.361,0,0,1-1,.4Zm0-7.034a1.361,1.361,0,0,1-1-.4,1.361,1.361,0,0,1-.4-1,1.361,1.361,0,0,1,.4-1,1.361,1.361,0,0,1,1-.4h22.508a1.361,1.361,0,0,1,1,.4,1.361,1.361,0,0,1,.4,1,1.361,1.361,0,0,1-.4,1,1.361,1.361,0,0,1-1,.4Z' transform='translate(-120 720)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /* 브라우저 높이 */
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 100px; /* header 높이만큼 */
        height: calc(100vh - 100px);
        overflow-y: auto;
        /* 좌우 스크롤바는 금지, 세로 스크롤바는 
        만약 내부 콘텐츠의 길이가 높이보다 길면 스크롤바 생김 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 3;
        font-size: 20px;
        font-weight: 700;
        padding: 0 20px;
        color: #1d1d1d;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 16px;
        top: 24px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.164' height='6.137' viewBox='0 0 11.164 6.137'%3E%3Cpath id='arrow_forward_ios_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M275.019-854.415l-4.321-4.321a.688.688,0,0,1-.213-.522.74.74,0,0,1,.228-.522.713.713,0,0,1,.522-.22.713.713,0,0,1,.522.22l4.512,4.527a1.174,1.174,0,0,1,.265.4,1.179,1.179,0,0,1,.088.441,1.179,1.179,0,0,1-.088.441,1.174,1.174,0,0,1-.265.4l-4.527,4.527a.679.679,0,0,1-.514.213.732.732,0,0,1-.514-.228.713.713,0,0,1-.22-.522.713.713,0,0,1,.22-.522Z' transform='translate(-848.836 -270.484) rotate(90)' fill='%23666'/%3E%3C/svg%3E ");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open >a {
        color: #DE0000;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.164' height='6.137' viewBox='0 0 11.164 6.137'%3E%3Cpath id='arrow_forward_ios_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M275.019-854.415l-4.321-4.321a.688.688,0,0,1-.213-.522.74.74,0,0,1,.228-.522.713.713,0,0,1,.522-.22.713.713,0,0,1,.522.22l4.512,4.527a1.174,1.174,0,0,1,.265.4,1.179,1.179,0,0,1,.088.441,1.179,1.179,0,0,1-.088.441,1.174,1.174,0,0,1-.265.4l-4.527,4.527a.679.679,0,0,1-.514.213.732.732,0,0,1-.514-.228.713.713,0,0,1-.22-.522.713.713,0,0,1,.22-.522Z' transform='translate(860 276.621) rotate(-90)' fill='%23de0000'/%3E%3C/svg%3E ");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: #EDEDED;
        padding: 15px 40px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        font-size: 15px;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 26px;
        height: 26px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.521' height='16.521' viewBox='0 0 16.521 16.521'%3E%3Cpath id='close_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M225.261-732.98l-6.156,6.156a1.192,1.192,0,0,1-.879.345,1.191,1.191,0,0,1-.879-.345,1.191,1.191,0,0,1-.346-.88,1.191,1.191,0,0,1,.346-.879l6.156-6.156-6.156-6.156a1.191,1.191,0,0,1-.346-.88,1.191,1.191,0,0,1,.346-.879,1.191,1.191,0,0,1,.879-.346,1.191,1.191,0,0,1,.879.346l6.156,6.156,6.156-6.156A1.191,1.191,0,0,1,232.3-743a1.191,1.191,0,0,1,.879.346,1.191,1.191,0,0,1,.346.879,1.191,1.191,0,0,1-.346.88l-6.156,6.156,6.156,6.156a1.191,1.191,0,0,1,.346.879,1.191,1.191,0,0,1-.346.88,1.191,1.191,0,0,1-.879.345,1.191,1.191,0,0,1-.879-.345Z' transform='translate(-217 743)' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb {
        display: none;
        position: absolute;
        left: 20px;
        top: 36px;
        color: #1d1d1d;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 20px;
        font-size: 20px;
        font-weight: 700;
        position: relative; /* before 정렬의 기준 */
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 4px;
        width: 16px;
        height: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath id='language_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M87-866a6.773,6.773,0,0,1-2.713-.551,7.1,7.1,0,0,1-2.231-1.505,7.1,7.1,0,0,1-1.5-2.231A6.773,6.773,0,0,1,80-873a6.755,6.755,0,0,1,.551-2.721,7.128,7.128,0,0,1,1.5-2.222,7.1,7.1,0,0,1,2.231-1.505A6.772,6.772,0,0,1,87-880a6.753,6.753,0,0,1,2.721.551,7.126,7.126,0,0,1,2.223,1.505,7.128,7.128,0,0,1,1.5,2.222A6.755,6.755,0,0,1,94-873a6.773,6.773,0,0,1-.551,2.713,7.1,7.1,0,0,1-1.5,2.231,7.128,7.128,0,0,1-2.223,1.505A6.754,6.754,0,0,1,87-866Zm0-1.435a8.884,8.884,0,0,0,.787-1.313,8.284,8.284,0,0,0,.543-1.453H85.67a8.284,8.284,0,0,0,.543,1.453A8.881,8.881,0,0,0,87-867.435Zm-1.82-.28a9.7,9.7,0,0,1-.551-1.2,10.278,10.278,0,0,1-.394-1.286H82.17a5.807,5.807,0,0,0,1.269,1.523A5.038,5.038,0,0,0,85.18-867.715Zm3.64,0a5.038,5.038,0,0,0,1.741-.963A5.807,5.807,0,0,0,91.83-870.2H89.765a10.274,10.274,0,0,1-.394,1.286A9.7,9.7,0,0,1,88.82-867.715ZM81.575-871.6h2.38q-.052-.35-.079-.691T83.85-873q0-.367.026-.709t.079-.691h-2.38a5.988,5.988,0,0,0-.131.691A5.57,5.57,0,0,0,81.4-873a5.572,5.572,0,0,0,.044.709A5.99,5.99,0,0,0,81.575-871.6Zm3.78,0h3.29q.052-.35.079-.691T88.75-873q0-.367-.026-.709t-.079-.691h-3.29q-.053.35-.079.691T85.25-873q0,.368.026.709T85.355-871.6Zm4.69,0h2.38a5.992,5.992,0,0,0,.131-.691A5.573,5.573,0,0,0,92.6-873a5.572,5.572,0,0,0-.044-.709,5.989,5.989,0,0,0-.131-.691h-2.38q.053.35.079.691t.026.709q0,.368-.026.709T90.045-871.6Zm-.28-4.2H91.83a5.808,5.808,0,0,0-1.269-1.522,5.036,5.036,0,0,0-1.741-.963,9.7,9.7,0,0,1,.551,1.2A10.276,10.276,0,0,1,89.765-875.8Zm-4.1,0h2.66a8.287,8.287,0,0,0-.543-1.452A8.89,8.89,0,0,0,87-878.565a8.887,8.887,0,0,0-.787,1.313A8.287,8.287,0,0,0,85.67-875.8Zm-3.5,0h2.065a10.28,10.28,0,0,1,.394-1.286,9.706,9.706,0,0,1,.551-1.2,5.036,5.036,0,0,0-1.741.963A5.808,5.808,0,0,0,82.17-875.8Z' transform='translate(-80 880)' fill='%231d1d1d'/%3E%3C/svg%3E ");
        content: "";
    }
    header .tnb .artera {
        width: 113px;
        height: 27px;
        line-height: 27px;
        border: 1px solid #3d3d3d;
        border-radius: 21px;
        padding-left: 16px;
        position: relative;
        margin-left: 20px;
    }
    header .tnb .artera::after {
        position: absolute;
        right: 14px;
        top: 7px;
        width: 10px;
        height: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.706' height='9.706' viewBox='0 0 9.706 9.706'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.078-830.294a1.039,1.039,0,0,1-.762-.317,1.039,1.039,0,0,1-.317-.762v-7.549a1.038,1.038,0,0,1,.317-.762,1.038,1.038,0,0,1,.762-.317h3.235a.522.522,0,0,1,.384.155.522.522,0,0,1,.155.384.522.522,0,0,1-.155.384.521.521,0,0,1-.384.155h-3.235v7.549h7.549v-3.235a.522.522,0,0,1,.155-.384.522.522,0,0,1,.384-.155.522.522,0,0,1,.384.155.522.522,0,0,1,.155.384v3.235a1.039,1.039,0,0,1-.317.762,1.039,1.039,0,0,1-.762.317Zm7.549-7.873-4.637,4.637a.511.511,0,0,1-.377.148.511.511,0,0,1-.377-.148.511.511,0,0,1-.148-.378.511.511,0,0,1,.148-.377l4.637-4.638h-1.4a.521.521,0,0,1-.384-.155.522.522,0,0,1-.155-.384.522.522,0,0,1,.155-.384.522.522,0,0,1,.384-.155h2.7a.522.522,0,0,1,.384.155.522.522,0,0,1,.155.384v2.7a.522.522,0,0,1-.155.384.522.522,0,0,1-.384.155.522.522,0,0,1-.384-.155.522.522,0,0,1-.155-.384Z' transform='translate(-120 840)' fill='%231d1d1d'/%3E%3C/svg%3E ");
        content: "";
    }
    /* 메뉴가 열렸을때 */
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb {
        display: flex;
    }
}/*media*/

@media screen and (max-width:768px) {
    header {
        height: 50px;
    }
    header .logo {
        margin-top: 5px;
    }
    header .logo a {
        width: 84px;
        height: 29px;
    }
    header .gnb .gnb_open::before {
        width: 24px;
        height: 24px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px; /* header 높이만큼 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 17px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        top: 18px;
    }
    header .gnb .gnb_close::before {
        width: 20px;
        height: 20px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px; /* header 높이만큼 */
        height: calc(100vh - 50px);
    }
    header .tnb {
        top: 12px;
    }
    header .tnb .lang {
        font-size: 15px;
    }
    header .tnb .lang::before {
        top: 1px;
    }
    header .tnb .artera::after {
        top: 8px;
    }
}/*media*/

footer {
    height: 200vh;
}