/* header와 footer처럼 페이지에 공통으로 배치되는 요소 */

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100; /* 모든 요소의 맨위 */
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 20px; 
}
header .logo {
    margin-top: 17px;
}
header .logo a {
    display: block;
    width: 154px;
    height: 51px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='154.322' height='51.123' viewBox='0 0 154.322 51.123'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_57' data-name='사각형 57' width='154.322' height='51.123' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_6' data-name='그룹 6' transform='translate(0 0)'%3E%3Cg id='그룹_3' data-name='그룹 3' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M155.351,12.506a3.492,3.492,0,0,0,.236,1.31,3.762,3.762,0,0,0,5.205,2.078c.59-.236,17.019-6.855,17.019-6.855s-6.468,16.4-6.715,17.012a3.8,3.8,0,0,0,2.114,5.191,3.66,3.66,0,0,0,1.308.23,3.854,3.854,0,0,0,3.639-2.786c.1-.28,8.19-22.49,8.37-23.023a6.212,6.212,0,0,0,.293-1.574A4.03,4.03,0,0,0,182.742,0a4.935,4.935,0,0,0-1.605.3c-.386.125-21.239,7.885-23.023,8.548a3.909,3.909,0,0,0-2.763,3.657' transform='translate(-32.499 0)' fill='%23e91c32'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M102.222,31.529v-.473H89.581v3.238h7.343c-1.914,6.058-8.756,9.616-8.756,9.616L90,46.465s12.223-5.046,12.223-14.936' transform='translate(-18.445 -6.497)' fill='%23fff'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M99.709,57.148V50.863H95.225v7.086a3.881,3.881,0,0,0,4.183,3.815h13.9V58.535H101.28c-1.09,0-1.552-.434-1.571-1.387' transform='translate(-19.921 -10.64)' fill='%23fff'/%3E%3Cpath id='패스_4' data-name='패스 4' d='M105.3,36.923v3.236h5.335v7.795h4.484V30.616h-4.484v6.307Z' transform='translate(-22.028 -6.405)' fill='%23fff'/%3E%3Cpath id='패스_5' data-name='패스 5' d='M152.924,43.581h4.482V30.453h-4.482v4.088h-4.677v3.2h4.677Z' transform='translate(-31.013 -6.37)' fill='%23fff'/%3E%3Cpath id='패스_6' data-name='패스 6' d='M22.465,50.555H5.4v7.329A3.88,3.88,0,0,0,9.579,61.7H23.461V51.554a1,1,0,0,0-1-1m-3.483,7.91H11.454c-1.094.006-1.554-.428-1.573-1.381V53.792h9.1Z' transform='translate(-1.129 -10.576)' fill='%23fff'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M22.635,31.065v-.152H4.024v3.238H17.938c0,.212,0,.482,0,.74,0,3-.149,4.983-.229,5.787H0v3.236H27.291V40.678H21.705a39.59,39.59,0,0,0,.93-9.613' transform='translate(0 -6.467)' fill='%23fff'/%3E%3Cpath id='패스_8' data-name='패스 8' d='M59.654,47.879c3.724-.815,6.481-3.6,6.481-6.914A6.452,6.452,0,0,0,64.024,36.3h4.757V33.067H59.654V30.013H55.175v3.054h-9.13V36.3H50.8a6.448,6.448,0,0,0-2.109,4.663c0,3.31,2.755,6.1,6.481,6.914v3.276h-11.4v3.238H71.055V51.155h-11.4Zm-6.347-7.014a4.108,4.108,0,1,1,4.107,4.009,4.062,4.062,0,0,1-4.107-4.009' transform='translate(-9.157 -6.278)' fill='%23fff'/%3E%3Cpath id='패스_9' data-name='패스 9' d='M140.567,43.4h4.34c-.182-1.052-1.768-9.547-5.9-12.485H134L130.148,43.5h4.5l2.565-9.067c2.162,2.527,3.211,8.13,3.356,8.96' transform='translate(-27.227 -6.467)' fill='%23fff'/%3E%3Cpath id='패스_10' data-name='패스 10' d='M142.927,58.188c-1.142,0-1.348-.29-1.348-1.259v-.406h13.516v-6.8a1.007,1.007,0,0,0-1.033-1.041H137.18V51.8H150.8v1.665H137.293v4.025c0,2.33,1.677,3.815,4.186,3.815h13.91V58.188Z' transform='translate(-28.698 -10.184)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
    content: "";
}
/* header에 오버하거나, 스크롤을 내려서 고정되었을때 */
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='154.322' height='51.123' viewBox='0 0 154.322 51.123'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_57' data-name='사각형 57' width='154.322' height='51.123' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_6' data-name='그룹 6' transform='translate(0 0)'%3E%3Cg id='그룹_3' data-name='그룹 3' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M155.351,12.506a3.492,3.492,0,0,0,.236,1.31,3.762,3.762,0,0,0,5.205,2.078c.59-.236,17.019-6.855,17.019-6.855s-6.468,16.4-6.715,17.012a3.8,3.8,0,0,0,2.114,5.191,3.66,3.66,0,0,0,1.308.23,3.854,3.854,0,0,0,3.639-2.786c.1-.28,8.19-22.49,8.37-23.023a6.212,6.212,0,0,0,.293-1.574A4.03,4.03,0,0,0,182.742,0a4.935,4.935,0,0,0-1.605.3c-.386.125-21.239,7.885-23.023,8.548a3.909,3.909,0,0,0-2.763,3.657' transform='translate(-32.499 0)' fill='%23e91c32'/%3E%3Cpath id='패스_2' data-name='패스 2' d='M102.222,31.529v-.473H89.581v3.238h7.343c-1.914,6.058-8.756,9.616-8.756,9.616L90,46.465s12.223-5.046,12.223-14.936' transform='translate(-18.445 -6.497)' fill='%23353a40'/%3E%3Cpath id='패스_3' data-name='패스 3' d='M99.709,57.148V50.863H95.225v7.086a3.881,3.881,0,0,0,4.183,3.815h13.9V58.535H101.28c-1.09,0-1.552-.434-1.571-1.387' transform='translate(-19.921 -10.64)' fill='%23353a40'/%3E%3Cpath id='패스_4' data-name='패스 4' d='M105.3,36.923v3.236h5.335v7.795h4.484V30.616h-4.484v6.307Z' transform='translate(-22.028 -6.405)' fill='%23353a40'/%3E%3Cpath id='패스_5' data-name='패스 5' d='M152.924,43.581h4.482V30.453h-4.482v4.088h-4.677v3.2h4.677Z' transform='translate(-31.013 -6.37)' fill='%23353a40'/%3E%3Cpath id='패스_6' data-name='패스 6' d='M22.465,50.555H5.4v7.329A3.88,3.88,0,0,0,9.579,61.7H23.461V51.554a1,1,0,0,0-1-1m-3.483,7.91H11.454c-1.094.006-1.554-.428-1.573-1.381V53.792h9.1Z' transform='translate(-1.129 -10.576)' fill='%23353a40'/%3E%3Cpath id='패스_7' data-name='패스 7' d='M22.635,31.065v-.152H4.024v3.238H17.938c0,.212,0,.482,0,.74,0,3-.149,4.983-.229,5.787H0v3.236H27.291V40.678H21.705a39.59,39.59,0,0,0,.93-9.613' transform='translate(0 -6.467)' fill='%23353a40'/%3E%3Cpath id='패스_8' data-name='패스 8' d='M59.654,47.879c3.724-.815,6.481-3.6,6.481-6.914A6.452,6.452,0,0,0,64.024,36.3h4.757V33.067H59.654V30.013H55.175v3.054h-9.13V36.3H50.8a6.448,6.448,0,0,0-2.109,4.663c0,3.31,2.755,6.1,6.481,6.914v3.276h-11.4v3.238H71.055V51.155h-11.4Zm-6.347-7.014a4.108,4.108,0,1,1,4.107,4.009,4.062,4.062,0,0,1-4.107-4.009' transform='translate(-9.157 -6.278)' fill='%23353a40'/%3E%3Cpath id='패스_9' data-name='패스 9' d='M140.567,43.4h4.34c-.182-1.052-1.768-9.547-5.9-12.485H134L130.148,43.5h4.5l2.565-9.067c2.162,2.527,3.211,8.13,3.356,8.96' transform='translate(-27.227 -6.467)' fill='%23353a40'/%3E%3Cpath id='패스_10' data-name='패스 10' d='M142.927,58.188c-1.142,0-1.348-.29-1.348-1.259v-.406h13.516v-6.8a1.007,1.007,0,0,0-1.033-1.041H137.18V51.8H150.8v1.665H137.293v4.025c0,2.33,1.677,3.815,4.186,3.815h13.91V58.188Z' transform='translate(-28.698 -10.184)' fill='%23353a40'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

@media screen and (min-width:1025px){
    /* 1025px이상일 경우 - pc형 */
    header .gnb button {
        display: none; /* 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 135px;
        position: relative; /* depth2 정렬의 기준 */
    } 
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /* li의 사이즈 동일 */
        line-height: 100px; /* header의 높이와 동일한 값 */
        font-size: 20px;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        font-weight: 700;
        color: #DE0000;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span::after {
        position: absolute;
        right: -7px;
        top: -3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #DE0000;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 2차메뉴는 오버한 경우에만 보임 */
        position: absolute;
        left: 0;
        top: 100px; /* header 높이만큼 */
        width: 100%;
        padding-top: 23px;
        /* 1차메뉴 a와 2차메뉴 사이의 여백은 
           반드시 padding으로 줘야함 
           padding으로 안주면 2차 메뉴로 이동시 메뉴가 아웃됨 */
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #DE0000;
    }
    header .tnb {
        display: flex;
        margin-top: 34px;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 23px;
        /* 왼쪽에 아이콘 들어갈 자리 - 내부여백으로 처리
           아이콘을 클릭해도 링크가 적용되어야함 
           (아이콘까지 a태그여야함) */
           position: relative;
           font-weight: 700;
           margin-right: 33px;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.408' height='16.408' viewBox='0 0 16.408 16.408'%3E%3Cpath id='language_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M88.2-863.592a7.938,7.938,0,0,1-3.179-.646A8.321,8.321,0,0,1,82.41-866a8.322,8.322,0,0,1-1.764-2.615A7.939,7.939,0,0,1,80-871.8a7.916,7.916,0,0,1,.646-3.189,8.355,8.355,0,0,1,1.764-2.6,8.319,8.319,0,0,1,2.615-1.764A7.938,7.938,0,0,1,88.2-880a7.916,7.916,0,0,1,3.189.646A8.352,8.352,0,0,1,94-877.59a8.355,8.355,0,0,1,1.764,2.6,7.916,7.916,0,0,1,.646,3.189,7.938,7.938,0,0,1-.646,3.179A8.322,8.322,0,0,1,94-866a8.354,8.354,0,0,1-2.6,1.764A7.916,7.916,0,0,1,88.2-863.592Zm0-1.682a10.414,10.414,0,0,0,.923-1.538,9.711,9.711,0,0,0,.636-1.7H86.645a9.711,9.711,0,0,0,.636,1.7A10.413,10.413,0,0,0,88.2-865.273Zm-2.133-.328a11.372,11.372,0,0,1-.646-1.4,12.047,12.047,0,0,1-.461-1.508h-2.42a6.806,6.806,0,0,0,1.487,1.784A5.9,5.9,0,0,0,86.071-865.6Zm4.266,0a5.9,5.9,0,0,0,2.041-1.128,6.807,6.807,0,0,0,1.487-1.784h-2.42a12.044,12.044,0,0,1-.461,1.508A11.37,11.37,0,0,1,90.337-865.6Zm-8.491-4.553h2.789q-.062-.41-.092-.81t-.031-.831q0-.431.031-.831t.092-.81H81.846a7.016,7.016,0,0,0-.154.81,6.528,6.528,0,0,0-.051.831,6.529,6.529,0,0,0,.051.831A7.02,7.02,0,0,0,81.846-870.155Zm4.43,0h3.856q.062-.41.092-.81t.031-.831q0-.431-.031-.831t-.092-.81H86.276q-.062.41-.092.81t-.031.831q0,.431.031.831T86.276-870.155Zm5.5,0h2.789a7.021,7.021,0,0,0,.154-.81,6.532,6.532,0,0,0,.051-.831,6.531,6.531,0,0,0-.051-.831,7.018,7.018,0,0,0-.154-.81H91.773q.062.41.092.81t.031.831q0,.431-.031.831T91.773-870.155Zm-.328-4.923h2.42a6.808,6.808,0,0,0-1.487-1.784,5.9,5.9,0,0,0-2.041-1.128,11.374,11.374,0,0,1,.646,1.4A12.043,12.043,0,0,1,91.445-875.077Zm-4.8,0h3.118a9.712,9.712,0,0,0-.636-1.7,10.417,10.417,0,0,0-.923-1.538,10.416,10.416,0,0,0-.923,1.538A9.712,9.712,0,0,0,86.645-875.077Zm-4.1,0h2.42a12.046,12.046,0,0,1,.461-1.508,11.376,11.376,0,0,1,.646-1.4,5.9,5.9,0,0,0-2.041,1.128A6.808,6.808,0,0,0,82.543-875.077Z' transform='translate(-80 880)' fill='%23fff'/%3E%3C/svg%3E ");
        content: "";
    }
    header .tnb .artera {
        display: block;
        width: 124px;
        height: 34px;
        line-height: 34px;
        /* 행간과 높이를 동일하게 주면 높이가 위아래 가운데 
           왼쪽 여백은 padding으로 추가 */
        padding-left: 19px  ;   
        border: 1px solid #fff;
        border-radius: 21px;
        font-weight: 700;
        position: relative; /* after 정렬의 기준 */
    }
    header .tnb .artera::after {
        position: absolute;
        right: 15px;
        top: 10px;
        width: 13px;
        height: 13px;background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.438' height='13.438' viewBox='0 0 13.438 13.438'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.493-826.562a1.438,1.438,0,0,1-1.054-.439,1.438,1.438,0,0,1-.439-1.055v-10.451a1.438,1.438,0,0,1,.439-1.054,1.438,1.438,0,0,1,1.054-.439h4.479a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532.722.722,0,0,1-.215.532.722.722,0,0,1-.532.215h-4.479v10.451h10.451v-4.479a.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v4.479A1.438,1.438,0,0,1,133-827a1.438,1.438,0,0,1-1.054.439Zm10.451-10.9-6.42,6.42a.708.708,0,0,1-.523.205.708.708,0,0,1-.523-.205.708.708,0,0,1-.205-.523.708.708,0,0,1,.205-.522l6.42-6.42h-1.941a.722.722,0,0,1-.532-.215.722.722,0,0,1-.215-.532.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215h3.733a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v3.733a.723.723,0,0,1-.215.532.723.723,0,0,1-.532.215.723.723,0,0,1-.532-.215.722.722,0,0,1-.215-.532Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E ");
        content: "";
    }
    /* 메뉴오버, 고정 */
    header.fixed .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.408' height='16.408' viewBox='0 0 16.408 16.408'%3E%3Cpath id='language_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M88.2-863.592a7.938,7.938,0,0,1-3.179-.646A8.321,8.321,0,0,1,82.41-866a8.322,8.322,0,0,1-1.764-2.615A7.939,7.939,0,0,1,80-871.8a7.916,7.916,0,0,1,.646-3.189,8.355,8.355,0,0,1,1.764-2.6,8.319,8.319,0,0,1,2.615-1.764A7.938,7.938,0,0,1,88.2-880a7.916,7.916,0,0,1,3.189.646A8.352,8.352,0,0,1,94-877.59a8.355,8.355,0,0,1,1.764,2.6,7.916,7.916,0,0,1,.646,3.189,7.938,7.938,0,0,1-.646,3.179A8.322,8.322,0,0,1,94-866a8.354,8.354,0,0,1-2.6,1.764A7.916,7.916,0,0,1,88.2-863.592Zm0-1.682a10.414,10.414,0,0,0,.923-1.538,9.711,9.711,0,0,0,.636-1.7H86.645a9.711,9.711,0,0,0,.636,1.7A10.413,10.413,0,0,0,88.2-865.273Zm-2.133-.328a11.372,11.372,0,0,1-.646-1.4,12.047,12.047,0,0,1-.461-1.508h-2.42a6.806,6.806,0,0,0,1.487,1.784A5.9,5.9,0,0,0,86.071-865.6Zm4.266,0a5.9,5.9,0,0,0,2.041-1.128,6.807,6.807,0,0,0,1.487-1.784h-2.42a12.044,12.044,0,0,1-.461,1.508A11.37,11.37,0,0,1,90.337-865.6Zm-8.491-4.553h2.789q-.062-.41-.092-.81t-.031-.831q0-.431.031-.831t.092-.81H81.846a7.016,7.016,0,0,0-.154.81,6.528,6.528,0,0,0-.051.831,6.529,6.529,0,0,0,.051.831A7.02,7.02,0,0,0,81.846-870.155Zm4.43,0h3.856q.062-.41.092-.81t.031-.831q0-.431-.031-.831t-.092-.81H86.276q-.062.41-.092.81t-.031.831q0,.431.031.831T86.276-870.155Zm5.5,0h2.789a7.021,7.021,0,0,0,.154-.81,6.532,6.532,0,0,0,.051-.831,6.531,6.531,0,0,0-.051-.831,7.018,7.018,0,0,0-.154-.81H91.773q.062.41.092.81t.031.831q0,.431-.031.831T91.773-870.155Zm-.328-4.923h2.42a6.808,6.808,0,0,0-1.487-1.784,5.9,5.9,0,0,0-2.041-1.128,11.374,11.374,0,0,1,.646,1.4A12.043,12.043,0,0,1,91.445-875.077Zm-4.8,0h3.118a9.712,9.712,0,0,0-.636-1.7,10.417,10.417,0,0,0-.923-1.538,10.416,10.416,0,0,0-.923,1.538A9.712,9.712,0,0,0,86.645-875.077Zm-4.1,0h2.42a12.046,12.046,0,0,1,.461-1.508,11.376,11.376,0,0,1,.646-1.4,5.9,5.9,0,0,0-2.041,1.128A6.808,6.808,0,0,0,82.543-875.077Z' transform='translate(-80 880)' fill='%231d1d1d'/%3E%3C/svg%3E ");
    }
    header.fixed .tnb .artera {
        border-color: #3d3d3d;
    }
    header.fixed .tnb .artera::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.438' height='13.438' viewBox='0 0 13.438 13.438'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.493-826.562a1.438,1.438,0,0,1-1.054-.439,1.438,1.438,0,0,1-.439-1.055v-10.451a1.438,1.438,0,0,1,.439-1.054,1.438,1.438,0,0,1,1.054-.439h4.479a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532.722.722,0,0,1-.215.532.722.722,0,0,1-.532.215h-4.479v10.451h10.451v-4.479a.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v4.479A1.438,1.438,0,0,1,133-827a1.438,1.438,0,0,1-1.054.439Zm10.451-10.9-6.42,6.42a.708.708,0,0,1-.523.205.708.708,0,0,1-.523-.205.708.708,0,0,1-.205-.523.708.708,0,0,1,.205-.522l6.42-6.42h-1.941a.722.722,0,0,1-.532-.215.722.722,0,0,1-.215-.532.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215h3.733a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v3.733a.723.723,0,0,1-.215.532.723.723,0,0,1-.532.215.723.723,0,0,1-.532-.215.722.722,0,0,1-.215-.532Z' transform='translate(-120 840)' fill='%231d1d1d'/%3E%3C/svg%3E ");
    }
    /* 오버 */
    header.fixed .tnb .lang:hover {
        color: #DE0000;
    }
    header.fixed .tnb .lang:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.408' height='16.408' viewBox='0 0 16.408 16.408'%3E%3Cpath id='language_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M88.2-863.592a7.938,7.938,0,0,1-3.179-.646A8.321,8.321,0,0,1,82.41-866a8.322,8.322,0,0,1-1.764-2.615A7.939,7.939,0,0,1,80-871.8a7.916,7.916,0,0,1,.646-3.189,8.355,8.355,0,0,1,1.764-2.6,8.319,8.319,0,0,1,2.615-1.764A7.938,7.938,0,0,1,88.2-880a7.916,7.916,0,0,1,3.189.646A8.352,8.352,0,0,1,94-877.59a8.355,8.355,0,0,1,1.764,2.6,7.916,7.916,0,0,1,.646,3.189,7.938,7.938,0,0,1-.646,3.179A8.322,8.322,0,0,1,94-866a8.354,8.354,0,0,1-2.6,1.764A7.916,7.916,0,0,1,88.2-863.592Zm0-1.682a10.414,10.414,0,0,0,.923-1.538,9.711,9.711,0,0,0,.636-1.7H86.645a9.711,9.711,0,0,0,.636,1.7A10.413,10.413,0,0,0,88.2-865.273Zm-2.133-.328a11.372,11.372,0,0,1-.646-1.4,12.047,12.047,0,0,1-.461-1.508h-2.42a6.806,6.806,0,0,0,1.487,1.784A5.9,5.9,0,0,0,86.071-865.6Zm4.266,0a5.9,5.9,0,0,0,2.041-1.128,6.807,6.807,0,0,0,1.487-1.784h-2.42a12.044,12.044,0,0,1-.461,1.508A11.37,11.37,0,0,1,90.337-865.6Zm-8.491-4.553h2.789q-.062-.41-.092-.81t-.031-.831q0-.431.031-.831t.092-.81H81.846a7.016,7.016,0,0,0-.154.81,6.528,6.528,0,0,0-.051.831,6.529,6.529,0,0,0,.051.831A7.02,7.02,0,0,0,81.846-870.155Zm4.43,0h3.856q.062-.41.092-.81t.031-.831q0-.431-.031-.831t-.092-.81H86.276q-.062.41-.092.81t-.031.831q0,.431.031.831T86.276-870.155Zm5.5,0h2.789a7.021,7.021,0,0,0,.154-.81,6.532,6.532,0,0,0,.051-.831,6.531,6.531,0,0,0-.051-.831,7.018,7.018,0,0,0-.154-.81H91.773q.062.41.092.81t.031.831q0,.431-.031.831T91.773-870.155Zm-.328-4.923h2.42a6.808,6.808,0,0,0-1.487-1.784,5.9,5.9,0,0,0-2.041-1.128,11.374,11.374,0,0,1,.646,1.4A12.043,12.043,0,0,1,91.445-875.077Zm-4.8,0h3.118a9.712,9.712,0,0,0-.636-1.7,10.417,10.417,0,0,0-.923-1.538,10.416,10.416,0,0,0-.923,1.538A9.712,9.712,0,0,0,86.645-875.077Zm-4.1,0h2.42a12.046,12.046,0,0,1,.461-1.508,11.376,11.376,0,0,1,.646-1.4,5.9,5.9,0,0,0-2.041,1.128A6.808,6.808,0,0,0,82.543-875.077Z' transform='translate(-80 880)' fill='%23de0000'/%3E%3C/svg%3E ");
    }
    header.fixed .tnb .artera:hover {
        border-color: #DE0000;
        background-color: #DE0000;
        color: #fff;
    }
    header.fixed .tnb .artera:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.438' height='13.438' viewBox='0 0 13.438 13.438'%3E%3Cpath id='open_in_new_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M121.493-826.562a1.438,1.438,0,0,1-1.054-.439,1.438,1.438,0,0,1-.439-1.055v-10.451a1.438,1.438,0,0,1,.439-1.054,1.438,1.438,0,0,1,1.054-.439h4.479a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532.722.722,0,0,1-.215.532.722.722,0,0,1-.532.215h-4.479v10.451h10.451v-4.479a.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v4.479A1.438,1.438,0,0,1,133-827a1.438,1.438,0,0,1-1.054.439Zm10.451-10.9-6.42,6.42a.708.708,0,0,1-.523.205.708.708,0,0,1-.523-.205.708.708,0,0,1-.205-.523.708.708,0,0,1,.205-.522l6.42-6.42h-1.941a.722.722,0,0,1-.532-.215.722.722,0,0,1-.215-.532.722.722,0,0,1,.215-.532.722.722,0,0,1,.532-.215h3.733a.722.722,0,0,1,.532.215.722.722,0,0,1,.215.532v3.733a.723.723,0,0,1-.215.532.723.723,0,0,1-.532.215.723.723,0,0,1-.532-.215.722.722,0,0,1-.215-.532Z' transform='translate(-120 840)' fill='%23fff'/%3E%3C/svg%3E ");
    }

    /* 메뉴에 마우스를 오버한 경우 */
    header.menu_over::before {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        /* 정렬의 기준이 되는 header 내부에서
           가장 하단으로 배치한다는 명령 
           -- visual 아래로는 내려가지 않음 */
        width: 100%;
        height: 420px;
        background-color: #fff;
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}/*media*/