@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);


.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 브라우저 높이만큼 */
    min-height: 450px; /* 최소 높이 */
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    margin: 37vh 0 20px 0;
}
.visual .btn_wrap {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 0);
    /* 정렬이 되는 기준 swiper의 넓이의 왼쪽 50%부터 (left:50%)  정렬
       btn_wrap 넓이의 절반을 왼쪽으로 이동 (transform)
       그럼 가운데 정렬이 됨 */
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준 넓이 100% 속성 해제 */
    display: flex;
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    /* 현재 선택되지 않은 블릿 */
    width: 165px;
    height: 3px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    /* 현재 선택된 블릿 */
    position: absolute; /* bullet을 기준으로 정렬 */
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s; /* 5초동안 */
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; 
    /* 애니메이션 종료 후 마지막 유지, 애니메이션 반복 횟수가 제한되었을때 */
    animation-timing-function: linear;
}
@keyframes visual_count {
    0% { width: 0; }
    100% { width: 100%; }
}
.visual .btn_wrap button {
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
    margin-left: 4px;
}
.visual .btn_wrap button::before {
    position: absolute; /* button을 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='그룹_23' data-name='그룹 23' transform='translate(1314 937) rotate(180)'%3E%3Cpath id='arrow_forward_ios_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M274.805-854.677l-4.118-4.118a.656.656,0,0,1-.2-.5.705.705,0,0,1,.217-.5.68.68,0,0,1,.5-.21.68.68,0,0,1,.5.21l4.3,4.314a1.12,1.12,0,0,1,.252.378,1.124,1.124,0,0,1,.084.42,1.124,1.124,0,0,1-.084.42,1.119,1.119,0,0,1-.252.378l-4.314,4.314a.647.647,0,0,1-.49.2.7.7,0,0,1-.49-.217.679.679,0,0,1-.21-.5.68.68,0,0,1,.21-.5Z' transform='translate(1031.592 1781.681)' fill='%23fff'/%3E%3Cg id='타원_5' data-name='타원 5' transform='translate(1294 917)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='10' cy='10' r='10' stroke='none'/%3E%3Ccircle cx='10' cy='10' r='9.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='그룹_20' data-name='그룹 20' transform='translate(-1240 -917)'%3E%3Cpath id='pause_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M207.412-749.623a1.428,1.428,0,0,1-1.047-.435,1.428,1.428,0,0,1-.435-1.047v-7.412a1.428,1.428,0,0,1,.435-1.047,1.428,1.428,0,0,1,1.047-.435h1.482a1.428,1.428,0,0,1,1.047.435,1.428,1.428,0,0,1,.435,1.047v7.412a1.428,1.428,0,0,1-.435,1.047,1.428,1.428,0,0,1-1.047.435Zm-5.93,0a1.428,1.428,0,0,1-1.047-.435,1.428,1.428,0,0,1-.435-1.047v-7.412a1.428,1.428,0,0,1,.435-1.047,1.428,1.428,0,0,1,1.047-.435h1.482a1.428,1.428,0,0,1,1.047.435,1.428,1.428,0,0,1,.435,1.047v7.412a1.428,1.428,0,0,1-.435,1.047,1.428,1.428,0,0,1-1.047.435Zm5.93-1.482h1.482v-7.412h-1.482Zm-5.93,0h1.482v-7.412h-1.482Zm0-7.412v0Zm5.93,0v0Z' transform='translate(1044.812 1681.963)' fill='%23fff'/%3E%3Cg id='타원_7' data-name='타원 7' transform='translate(1240 917)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='10' cy='10' r='10' stroke='none'/%3E%3Ccircle cx='10' cy='10' r='9.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 현재 play중이라 일시정지 버튼만 나옴 */
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='그룹_21' data-name='그룹 21' transform='translate(-1268 -917)'%3E%3Cpath id='play_arrow_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M320-717.671v-8.507a.778.778,0,0,1,.247-.586.805.805,0,0,1,.575-.236.82.82,0,0,1,.216.031.856.856,0,0,1,.216.092l6.7,4.254a.8.8,0,0,1,.277.308.861.861,0,0,1,.092.39.862.862,0,0,1-.092.39.8.8,0,0,1-.277.308l-6.7,4.254a.854.854,0,0,1-.216.093.822.822,0,0,1-.216.031.805.805,0,0,1-.575-.236A.778.778,0,0,1,320-717.671ZM321.644-721.924Zm0,2.754,4.315-2.754-4.315-2.754Z' transform='translate(955.137 1648.924)' fill='%23fff'/%3E%3Cg id='타원_6' data-name='타원 6' transform='translate(1268 917)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='10' cy='10' r='10' stroke='none'/%3E%3Ccircle cx='10' cy='10' r='9.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg id='그룹_22' data-name='그룹 22' transform='translate(-1294 -917)'%3E%3Cpath id='arrow_forward_ios_24dp_5F6368_FILL0_wght400_GRAD0_opsz24' d='M274.805-854.677l-4.118-4.118a.656.656,0,0,1-.2-.5.705.705,0,0,1,.217-.5.68.68,0,0,1,.5-.21.68.68,0,0,1,.5.21l4.3,4.314a1.12,1.12,0,0,1,.252.378,1.124,1.124,0,0,1,.084.42,1.124,1.124,0,0,1-.084.42,1.119,1.119,0,0,1-.252.378l-4.314,4.314a.647.647,0,0,1-.49.2.7.7,0,0,1-.49-.217.679.679,0,0,1-.21-.5.68.68,0,0,1,.21-.5Z' transform='translate(1031.592 1781.681)' fill='%23fff'/%3E%3Cg id='타원_5' data-name='타원 5' transform='translate(1294 917)' fill='none' stroke='%23fff' stroke-width='1'%3E%3Ccircle cx='10' cy='10' r='10' stroke='none'/%3E%3Ccircle cx='10' cy='10' r='9.5' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}

@media screen and (max-width:1300px){

}/*media*/
@media screen and (max-width:1024px){ 
    
}/*media*/
@media screen and (max-width:768px){ /*모바일 디자인 적용*/
    .visual ul li { 
        height: 450px; /* 브라우저 높이만큼 */
        min-height: auto; /* 최소 높이 */
    }
    .visual ul li h3 {
        font-size: 25px;
        margin: 155px 0 0 0;
    }
    .visual ul li p {
        display: none;
    }
    .visual .btn_wrap {
        bottom: 42px;
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        /* 현재 선택되지 않은 블릿 */
        width: 100px;
    }
}/*media*/
@media screen and (max-width:500px){ 
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        /* 현재 선택되지 않은 블릿 */
        width: 70px;
    }
}/*media*/

