@import url(default.css);
@import url(fonts.css);
@import url(common.css);


.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 브라우저 높이만큼 */
    min-height: 450px; /* 최소 높이 */
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li h3 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    margin: 37vh 0 20px 0;
}

