@font-face {
    font-family: 'S-CoreDream';
    font-weight: 400;
    font-style: normal;
	src: local('S-CoreDream Regular'), url(../fonts/SCoreDreamRegular.woff2) format('woff2'), url(../fonts/SCoreDreamRegular.woff) format('woff');
}
@font-face {
    font-family: 'S-CoreDream';
    font-weight: 900;
    font-style: normal;
	src: local('S-CoreDream Black'), url(../fonts/SCoreDreamBlack.woff2) format('woff2'), url(../fonts/SCoreDreamBlack.woff) format('woff');
}