@import url(default.css);
@import url(fonts.css);

/* 글자의 스타일은 상속받음. 기본글자의 스타일은 
모든 태그를 감싸는 html body에 선언*/
html, body {
    font-family: 'S-CoreDream', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.4; /* 배수 - 글자 크기의 1.3배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
/* 홈페이지 전체를 감싸는 요소 - 가로 스크롤바가 생겼을때 배경이 짤리는 현상을 막음 */
#wrap {
    min-width: 1260px;
}
/* 홈페이지의 넓이를 제한하고 가운데 정렬 */
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}

header {
    height: 100px;
    /* 감싸는 요소 어떤값에도 position을 안줌면 body를 기준으로 정렬
    header는 원래 block요소이기 때문에 넓이가 브라우저 넓이만큼 들어감
    근데, position:absolute값이 적용되면 넓이값은 내부 콘텐츠 요소의
    넓이값만큼만 적용됨 
    header의 position:absolute를 주면 넓이 100%를 준다고 생각하면 됨 */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    /* position 속성이 있는 요소들은 서로 순서(위아래)가 존재함
    기본적으로 나중에 position이 선언된 요소가 더 위에 존재함
    <header></header> -- position
    <section class="visaul"></section> -- position
    이렇게 코딩된 경우 visaul이 header보다 위에 배치됨
    이때 header를 더 위에 배치하기 위해서 주는 속성 
    순서를 변경하기 위해서 주는 속성을 z-index라고 함
    z-index는 숫자가 높은 요소가 더 위 
    대부분 header는 100 나머지 콘텐츠는 100 아래 값을 줌 
    <header></header> -- -position z-index 100
    <section class="visual"> --- position z-index 10
        <div class="tit"></div> --- position z-index 200
    </section>
    header가 맨위가 됨
    visual tit은 visual보다 위에 배치될 수가 없음
    (감싸는 요소가 z-index 10이기 때문에 header보다 높은 숫자를 줘도 아래 배치)
    */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 34px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    margin: 38px 30px 32px 30px;
    color: #fff;
    font-size: 22px;
}
header .gnb ul li a:hover {
    color: #02646F;
}
.visual {
    border-radius: 0 0 200px 0;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
}
.visual .wrapper {
    height: 850px;
    /* .visual .camera absolute의 기준
     absolute는 감싸는 요소 중에서 position 속성을 가지고 있는 
     가장 가까운 요소를 기준으로 정렬이 됨 
     <div> --------position: relative
        <strong> --absolute
            <span></span>
        </strong>
     </div>
     이런 구조의 경우 span태그는 strong을 기준으로 정렬
     절대 div를 기준으로 정렬 불가 

     만약 해당 요소가 position 속성이 없으면 position: relative를 줌
     relative는 어떠한 요소에 주더라도 스타일에 영향을 미치지 않음
     */
    position: relative;
}
.visual h2 {
    padding: 220px 0 0 0;
    text-align: center; /* 이미지도 가운데 정렬 가능 */
}
.visual .camera  {
    /* .visual .wrapper 를 기준으로 정렬 */
    position: absolute;
    right: -175px;
    bottom: -85px;
}
.visual .camera a {
    display: flex; /* 넓이와 높이를 적용하기 위해 */
    width: 208px;
    height: 208px;
    border-radius: 50%; /* 정사각형에 border-radius 50%가 동그라미*/
    background-color: #02646F;
    color: #fff;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16) ;
    flex-direction: column;
    justify-content: center;

}
.visual .camera a span {
    margin: 5px 0 0 0;
}

.culture .tit {
    margin: 120px 0 30px 0;
}
.culture .tit span {
    color:#02646F;
}
.culture .tit h2 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 900;
    line-height: 1.2;
    margin: 165px 0 4px 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: 404px;
}
.culture .list ul li a h3 {
    color:#1d1d1d ;
    font-size: 20px;
    font-weight: 900;
    margin: 16px 0 6px 0;
}
.culture .list ul li a .photo {
    overflow: hidden;
    /* 이미지가 photo의 크기보다 커지면 
    넘치는 부분 숨김 */
    font-size: 0;
    line-height: 0;
    /* 이미지 하단에는 글자의 행간(여백)값이 들어감. 그래서 하단에 여백이 조금 발생
    이 여백을 없애고 싶다면 이미지만 감싸는 요소가 글자크기0 행간0 값을 줘야함  */
}
.culture .list ul li a .photo img {
    transition: 0.5s;
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .wrapper {
    position: relative;
    /* .culture .more a 정렬의 중심 */
}
.culture .more {
    /* .culture .wrapper를 기준으로 정렬 */
    position: absolute;
    right: 0;
    top: 50px;
}
.culture .more a {
    display: block;
    color: #666;
    padding: 3px 27px 5px 10px;
    border: 1px solid #ccc;
    background: url(../images/more.svg) no-repeat right 9px center;
    /* 오른쪽에서 9px 떨어져 있고, 위아래 가운데 */
    transition: 0.1s;
    /* 나중에 a에 class가 추가되거나 또는 오버를 해서 스타일이 변경된다면
    0.1초의 시간동안 천천히 변하기 */
}
.culture .more a:hover {
    /* border:1px soild #9f9f9f; 이렇게 선언된 상태에서
    오버했을때 색상만 변한다면 반드시 background-color라고 정확하게
    해당 속성명을 써줘야함. background라고 하고 색상만 선언하면 모든게 취소됨 */
    border-color: #02646F;
    background-color: #02646F;
    background-image: url(../images/more_w.svg);
    color: #fff;
}

.tour .tit {
    margin: 150px 0 36px 0;
}
.tour .tit span {
    color:#02646F;
}
.tour .tit h2 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 900;
    line-height: 1.2;
    margin: 165px 0 4px 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.8);        
}
/* li중에서 active 클래스를 갖고 있는 li */
.tour .list ul li.active {
    width: 618px;
} 
.tour .list ul li.tour1 {
    background-image: url(../images/tour1.png);
}
.tour .list ul li.tour2 {
    background-image: url(../images/tour2.png);
}
.tour .list ul li.tour3 {
    background-image: url(../images/tour3.png);
}
.tour .list ul li.tour4 {
    background-image: url(../images/tour4.png);
}
.tour .list ul li a {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5px 42px 5px;
    text-align: center;
}
.tour .list ul li.active a {
    padding: 0 28px 30px 28px;
    text-align: left;
}
.tour .list ul li a p {
    display: none; /* 숨김 (공간차지 x) */   
}
.tour .list ul li.active a p {
    display: block; 
    /* 나타남; display:none;으로 숨기는 경우
    display:lnline; inline-block; block; flex; 줘도 모두 나타남 */
}
.tour .list ul li a h3 {
    font-weight: 900;
    font-size: 20px;
    color: #fff;
}
.tour .wrapper {
    position: relative; /* .tour .more 정렬의 기준 */
}
.tour .more {
    position: absolute; /* .tour .wrapper를 기준으로 정렬 */
    right: 0;
    top: 50px;
}
.tour .more a {
    padding: 3px 27px 5px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    background: url(../images/more.svg) no-repeat right 9px center;
}
.tour .more a:hover {
    border-color: #02646F;
    background-color: #02646F;
    background-image: url(../images/more_w.svg);
    color: #fff;
}

.community {
    height: 900px;
    background: url(../images/community_bg.png) no-repeat center center /cover;
    color: rgba(255, 255, 255, 0.8);
    margin: 164px 0 0 0;
}
.community .wrapper {
    display: flex;
}
.community .tit {
    width: 334px;
    margin: 170px 0 0 0;
}
.community .tit h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0 0 8px 0;
}
.community .news {
    background-color: rgba(0, 46, 87, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    /* margin을 적용해주기 위한 값 */
    width: 610px;
    height: 380px;
    margin: 124px 0 0 0;
    padding: 0 38px; /* 내부여백 */
}
.community .news h3 {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    margin: 38px 0 17px 0;
}
.community .news ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.community .news ul li:first-child {
    border-top: 0;
}
.community .news ul li a {
    display: flex;
    justify-content: space-between;
    margin: 12px 13px;
}
.community .news ul li a strong {
    color: #fff;
    font-size: 15px;
}
.community .news ul li a:hover strong {
    color: #94CCFF;
} 
.community .link {
    width: 298px; /* li한개의 넓이x2 + gap */
    margin: 230px 0 0 22px;
}
.community .link ul {
    display: flex;
    flex-wrap: wrap; /* 두줄 허용 */
    gap: 22px; /* li 사이의 여백 */
}
.community .link ul li {
    width: 136px;
}
.community .link ul li a {
    display: block;
    height: 125px;
    padding: 17px;
    background-color: rgba(0, 46, 87, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    color: #fff;
    font-weight: 900;
    background-position: right 19px bottom 19px;
    background-repeat: no-repeat;
}
.community .link ul li.link1 a {
    background-image: url(../images/community_ico1.svg);
}
.community .link ul li.link2 a {
    background-image: url(../images/community_ico2.svg);
}
.community .link ul li.link3 a {
    background-image: url(../images/community_ico3.svg);
}
.community .link ul li.link4 a {
    background-image: url(../images/community_ico4.svg);
}
.community .link ul li a:hover {
    background-color: rgba(148, 204, 255, 0.5);
}

footer {
    padding: 41px 0 115px 0;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 45px;
}
footer .f_info {
    margin: 43px 0 24px 0;
    display: flex;
    gap: 45px; /* li 사이 여백 */
}
footer .copyright {
    color: #666;
}
footer .family button {
    width: 185px;
    height: 40px;
    border: 1px solid #707070;
    padding: 0 20px;
    text-align: left; /* 버튼의 기본은 가운데 */
    background: url(../images/more_f.svg) no-repeat right 15px center;  
}


