/* header와 footer 처럼 페이지에 공통으로 배치되는 요소의 css */

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100; /* 모든 요소의 맨위 */
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
header .logo {
    margin-top: 18px;
}
header .logo a {
    display: block;
    width: 129px;
    height: 43px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='129' height='44' viewBox='0 0 129 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_10)'%3E%3Cpath d='M102.691 11.4143C102.691 11.7778 102.744 12.1546 102.89 12.5116C103.531 14.098 105.164 15.0764 107.239 14.2501C107.735 14.0518 121.465 8.51895 121.465 8.51895C121.465 8.51895 116.057 22.2287 115.853 22.7377C115.066 24.701 116.011 26.4791 117.617 27.0741C117.974 27.2063 118.345 27.2724 118.708 27.2658C120.024 27.2592 121.18 26.4857 121.749 24.9389C121.835 24.7076 128.597 6.13924 128.743 5.69635C128.829 5.43194 128.987 4.81057 128.987 4.3809C128.987 3.46207 128.65 2.59612 127.996 1.9417C127.354 1.29389 126.495 0.963379 125.589 0.963379C125.147 0.963379 124.79 1.0427 124.248 1.21457C123.924 1.32034 106.492 7.80504 105.005 8.3603C103.518 8.91557 102.691 10.1054 102.698 11.4143' fill='%23ED1C24'/%3E%3Cpath d='M70.0297 21.8849V21.4883H59.4598V24.1919H65.6008C64.0011 29.2554 58.2832 32.23 58.2832 32.23L59.8102 34.3651C59.8102 34.3651 70.0297 30.1478 70.0297 21.8783V21.8849Z' fill='white'/%3E%3Cpath d='M66.6914 39.8387V34.5835H62.9434V40.5063C62.9434 42.3572 64.4175 43.6925 66.4402 43.6925H78.0545V40.9955H68.0002C67.088 40.9955 66.7046 40.6319 66.6848 39.8387H66.6914Z' fill='white'/%3E%3Cpath d='M69.6064 26.4725V29.1761H74.0684V35.6939H77.8164V21.2041H74.0684V26.4725H69.6064Z' fill='white'/%3E%3Cpath d='M101.905 32.0649H105.653V21.0918H101.905V24.5093H97.998V27.1799H101.905V32.0649Z' fill='white'/%3E%3Cpath d='M17.8344 34.3784H3.56934V40.5062C3.56934 42.3571 5.04343 43.6923 7.06618 43.6923H18.6673V35.2113C18.6673 34.7486 18.2905 34.3784 17.8344 34.3784ZM14.9192 40.9953H8.62622C7.71399 40.9953 7.32399 40.6384 7.31077 39.8385V37.0886H14.9192V40.9953Z' fill='white'/%3E%3Cpath d='M18.9187 21.5279V21.4023H3.36464V24.106H14.9988C14.9988 24.2844 14.9988 24.5092 14.9988 24.7273C14.9988 27.2392 14.8732 28.8918 14.8071 29.5661H0V32.2697H22.8121V29.5661H18.1453C18.37 28.7199 18.9253 26.1023 18.9253 21.5279H18.9187Z' fill='white'/%3E%3Cpath d='M42.2132 35.7403C45.3266 35.0594 47.627 32.726 47.627 29.9629C47.627 28.4756 46.9594 27.1138 45.862 26.0628H49.8414V23.3592H42.2132V20.8076H38.4717V23.3592H30.8434V26.0628H34.8228C33.7255 27.1138 33.0579 28.469 33.0579 29.9629C33.0579 32.7326 35.3583 35.0594 38.4783 35.7403V38.4769H28.9463V41.1806H51.7518V38.4769H42.2198V35.7403H42.2132ZM36.9051 29.877C36.9051 28.0327 38.4453 26.5255 40.3358 26.5255C42.2264 26.5255 43.7666 28.0261 43.7666 29.877C43.7666 31.7278 42.2264 33.2284 40.3358 33.2284C38.4453 33.2284 36.9051 31.7278 36.9051 29.877Z' fill='white'/%3E%3Cpath d='M94.7387 31.8337H98.3678C98.2158 30.9545 96.8871 23.855 93.4299 21.396H89.2456L86.0264 31.9196H89.7876L91.9294 24.3442C93.734 26.4595 94.6131 31.1396 94.7321 31.8337H94.7387Z' fill='white'/%3E%3Cpath d='M95.4854 41.0882C94.5335 41.0882 94.3616 40.8436 94.3616 40.0371V39.7H105.659V34.0151C105.659 33.526 105.302 33.1426 104.793 33.1426H90.6797V35.747H102.069V37.1418H90.7788V40.5065C90.7788 42.4565 92.1802 43.6926 94.2757 43.6926H105.903V41.0882H95.4854Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_10'%3E%3Crect width='129' height='42.7356' fill='white' transform='translate(0 0.963379)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
/* header에 오버하거나, 스크롤을 내려서 고정되었을때 */
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='129' height='44' viewBox='0 0 129 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_48_159)'%3E%3Cpath d='M102.691 11.4143C102.691 11.7778 102.744 12.1546 102.89 12.5116C103.531 14.098 105.164 15.0764 107.239 14.2501C107.735 14.0518 121.465 8.51895 121.465 8.51895C121.465 8.51895 116.057 22.2287 115.853 22.7377C115.066 24.701 116.011 26.4791 117.617 27.0741C117.974 27.2063 118.345 27.2724 118.708 27.2658C120.024 27.2592 121.18 26.4857 121.749 24.9389C121.835 24.7076 128.597 6.13924 128.743 5.69635C128.829 5.43194 128.987 4.81057 128.987 4.3809C128.987 3.46207 128.65 2.59612 127.996 1.9417C127.354 1.29389 126.495 0.963379 125.589 0.963379C125.147 0.963379 124.79 1.0427 124.248 1.21457C123.924 1.32034 106.492 7.80504 105.005 8.3603C103.518 8.91557 102.691 10.1054 102.698 11.4143' fill='%23ED1C24'/%3E%3Cpath d='M70.0297 21.8849V21.4883H59.4598V24.1919H65.6008C64.0011 29.2554 58.2832 32.23 58.2832 32.23L59.8102 34.3651C59.8102 34.3651 70.0297 30.1478 70.0297 21.8783V21.8849Z' fill='%23454B52'/%3E%3Cpath d='M66.6914 39.8387V34.5835H62.9434V40.5063C62.9434 42.3572 64.4175 43.6925 66.4402 43.6925H78.0545V40.9955H68.0002C67.088 40.9955 66.7046 40.6319 66.6848 39.8387H66.6914Z' fill='%23454B52'/%3E%3Cpath d='M69.6064 26.4725V29.1761H74.0684V35.6939H77.8164V21.2041H74.0684V26.4725H69.6064Z' fill='%23454B52'/%3E%3Cpath d='M101.905 32.0649H105.653V21.0918H101.905V24.5093H97.998V27.1799H101.905V32.0649Z' fill='%23454B52'/%3E%3Cpath d='M17.8344 34.3784H3.56934V40.5062C3.56934 42.3571 5.04343 43.6923 7.06618 43.6923H18.6673V35.2113C18.6673 34.7486 18.2905 34.3784 17.8344 34.3784ZM14.9192 40.9953H8.62622C7.71399 40.9953 7.32399 40.6384 7.31077 39.8385V37.0886H14.9192V40.9953Z' fill='%23454B52'/%3E%3Cpath d='M18.9187 21.5279V21.4023H3.36464V24.106H14.9988C14.9988 24.2844 14.9988 24.5092 14.9988 24.7273C14.9988 27.2392 14.8732 28.8918 14.8071 29.5661H0V32.2697H22.8121V29.5661H18.1453C18.37 28.7199 18.9253 26.1023 18.9253 21.5279H18.9187Z' fill='%23454B52'/%3E%3Cpath d='M42.2132 35.7403C45.3266 35.0594 47.627 32.726 47.627 29.9629C47.627 28.4756 46.9594 27.1138 45.862 26.0628H49.8414V23.3592H42.2132V20.8076H38.4717V23.3592H30.8434V26.0628H34.8228C33.7255 27.1138 33.0579 28.469 33.0579 29.9629C33.0579 32.7326 35.3583 35.0594 38.4783 35.7403V38.4769H28.9463V41.1806H51.7518V38.4769H42.2198V35.7403H42.2132ZM36.9051 29.877C36.9051 28.0327 38.4453 26.5255 40.3358 26.5255C42.2264 26.5255 43.7666 28.0261 43.7666 29.877C43.7666 31.7278 42.2264 33.2284 40.3358 33.2284C38.4453 33.2284 36.9051 31.7278 36.9051 29.877Z' fill='%23454B52'/%3E%3Cpath d='M94.7387 31.8337H98.3678C98.2158 30.9545 96.8871 23.855 93.4299 21.396H89.2456L86.0264 31.9196H89.7876L91.9294 24.3442C93.734 26.4595 94.6131 31.1396 94.7321 31.8337H94.7387Z' fill='%23454B52'/%3E%3Cpath d='M95.4854 41.0882C94.5335 41.0882 94.3616 40.8436 94.3616 40.0371V39.7H105.659V34.0151C105.659 33.526 105.302 33.1426 104.793 33.1426H90.6797V35.747H102.069V37.1418H90.7788V40.5065C90.7788 42.4565 92.1802 43.6926 94.2757 43.6926H105.903V41.0882H95.4854Z' fill='%23454B52'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_48_159'%3E%3Crect width='129' height='42.7356' fill='white' transform='translate(0 0.963379)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px){
    /* 1025px이상일 경우 - pc형 */
    header .gnb button {
        display: none; /* 숨김 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 130px;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block; /* li와 사이즈 동일 */
        line-height: 100px; /* header의 높이와 동일한 값 */
        font-size: 22px;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a {
        font-weight: 700;
        color: #EA141D;
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span {
        position: relative; /* after 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li.on > a > span::after {
        position: absolute;
        right: -8px;
        top: -4px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #EA141D;
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 2차메뉴는 오버한 경우에만 보임 */
        position: absolute;
        left: 0;
        top: 100px; /* header 높이만큼 */
        width: 100%;
        padding-top: 24px;
        /* 1차메뉴 a와 2차 메뉴 사이의 여백은 
           반드시 padding으로 줘야 함. 
           padding으로 안주면 2차 메뉴로 이동시 메뉴가 아웃됨 */
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block; 
        line-height: 2;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #EA141D;
    }
    /* a태그중에서 target="_blank" 이런 속성과 속성값이 선언된 a태그에게만 스타일 줌 */
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span {
        padding-right: 18px; /* 아이콘이 들어갈 자리 - 아이콘까지 포함해서 가운데 정렬하기위해 */
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: 0;
        top: 7px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.31734 12.8125C3.00161 12.8125 2.73438 12.7031 2.51562 12.4844C2.29688 12.2656 2.1875 11.9984 2.1875 11.6827V3.31734C2.1875 3.00161 2.29688 2.73438 2.51562 2.51562C2.73438 2.29688 3.00161 2.1875 3.31734 2.1875H6.79078C6.9238 2.1875 7.03521 2.2324 7.125 2.32219C7.21469 2.41187 7.25953 2.52323 7.25953 2.65625C7.25953 2.78927 7.21469 2.90063 7.125 2.99031C7.03521 3.0801 6.9238 3.125 6.79078 3.125H3.31734C3.26922 3.125 3.22516 3.14505 3.18516 3.18516C3.14505 3.22516 3.125 3.26922 3.125 3.31734V11.6827C3.125 11.7308 3.14505 11.7748 3.18516 11.8148C3.22516 11.8549 3.26922 11.875 3.31734 11.875H11.6827C11.7308 11.875 11.7748 11.8549 11.8148 11.8148C11.8549 11.7748 11.875 11.7308 11.875 11.6827V8.20922C11.875 8.0762 11.9199 7.96479 12.0097 7.875C12.0994 7.78531 12.2107 7.74047 12.3438 7.74047C12.4768 7.74047 12.5881 7.78531 12.6778 7.875C12.7676 7.96479 12.8125 8.0762 12.8125 8.20922V11.6827C12.8125 11.9984 12.7031 12.2656 12.4844 12.4844C12.2656 12.7031 11.9984 12.8125 11.6827 12.8125H3.31734ZM11.875 3.78359L6.40391 9.25484C6.31734 9.3413 6.20854 9.38557 6.0775 9.38766C5.94656 9.38964 5.83578 9.34536 5.74516 9.25484C5.65464 9.16422 5.60938 9.05443 5.60938 8.92547C5.60938 8.79651 5.65464 8.68672 5.74516 8.59609L11.2164 3.125H9.21875C9.08573 3.125 8.97437 3.0801 8.88469 2.99031C8.7949 2.90063 8.75 2.78927 8.75 2.65625C8.75 2.52323 8.7949 2.41187 8.88469 2.32219C8.97437 2.2324 9.08573 2.1875 9.21875 2.1875H12.2475C12.4086 2.1875 12.5431 2.24141 12.6508 2.34922C12.7586 2.45693 12.8125 2.59135 12.8125 2.7525V5.78125C12.8125 5.91427 12.7676 6.02562 12.6778 6.11531C12.5881 6.2051 12.4768 6.25 12.3438 6.25C12.2107 6.25 12.0994 6.2051 12.0097 6.11531C11.9199 6.02562 11.875 5.91427 11.875 5.78125V3.78359Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"]:hover > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.31734 12.8125C3.00161 12.8125 2.73438 12.7031 2.51562 12.4844C2.29688 12.2656 2.1875 11.9984 2.1875 11.6827V3.31734C2.1875 3.00161 2.29688 2.73438 2.51562 2.51562C2.73438 2.29688 3.00161 2.1875 3.31734 2.1875H6.79078C6.9238 2.1875 7.03521 2.2324 7.125 2.32219C7.21469 2.41187 7.25953 2.52323 7.25953 2.65625C7.25953 2.78927 7.21469 2.90063 7.125 2.99031C7.03521 3.0801 6.9238 3.125 6.79078 3.125H3.31734C3.26922 3.125 3.22516 3.14505 3.18516 3.18516C3.14505 3.22516 3.125 3.26922 3.125 3.31734V11.6827C3.125 11.7308 3.14505 11.7748 3.18516 11.8148C3.22516 11.8549 3.26922 11.875 3.31734 11.875H11.6827C11.7308 11.875 11.7748 11.8549 11.8148 11.8148C11.8549 11.7748 11.875 11.7308 11.875 11.6827V8.20922C11.875 8.0762 11.9199 7.96479 12.0097 7.875C12.0994 7.78531 12.2107 7.74047 12.3438 7.74047C12.4768 7.74047 12.5881 7.78531 12.6778 7.875C12.7676 7.96479 12.8125 8.0762 12.8125 8.20922V11.6827C12.8125 11.9984 12.7031 12.2656 12.4844 12.4844C12.2656 12.7031 11.9984 12.8125 11.6827 12.8125H3.31734ZM11.875 3.78359L6.40391 9.25484C6.31734 9.3413 6.20854 9.38557 6.0775 9.38766C5.94656 9.38964 5.83578 9.34536 5.74516 9.25484C5.65464 9.16422 5.60938 9.05443 5.60938 8.92547C5.60938 8.79651 5.65464 8.68672 5.74516 8.59609L11.2164 3.125H9.21875C9.08573 3.125 8.97437 3.0801 8.88469 2.99031C8.7949 2.90063 8.75 2.78927 8.75 2.65625C8.75 2.52323 8.7949 2.41187 8.88469 2.32219C8.97437 2.2324 9.08573 2.1875 9.21875 2.1875H12.2475C12.4086 2.1875 12.5431 2.24141 12.6508 2.34922C12.7586 2.45693 12.8125 2.59135 12.8125 2.7525V5.78125C12.8125 5.91427 12.7676 6.02563 12.6778 6.11531C12.5881 6.2051 12.4768 6.25 12.3438 6.25C12.2107 6.25 12.0994 6.2051 12.0097 6.11531C11.9199 6.02563 11.875 5.91427 11.875 5.78125V3.78359Z' fill='%23EA141D'/%3E%3C/svg%3E%0A");
    }
    header .tnb {
        display: flex;
        align-items: center;
        margin-top: 34px;
    }
    header .tnb .lang {
        display: block;
        padding-left: 22px;
        /* 왼쪽에 아이콘 들어갈 자리 - 내부여백으로 처리
           아이콘을 클릭해도 링크가 적용되어야 함
           (아이콘까지 a태그이어야함) */
        position: relative;
        font-weight: 700;
        margin-right: 29px; /* artera 와의 여백 */
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0002 17.9168C8.91475 17.9168 7.89044 17.7088 6.92725 17.2927C5.96405 16.8766 5.12405 16.31 4.40725 15.5931C3.6903 14.8763 3.12377 14.0363 2.70766 13.0731C2.29155 12.1099 2.0835 11.0856 2.0835 10.0002C2.0835 8.90613 2.29155 7.87968 2.70766 6.92079C3.12377 5.9619 3.6903 5.12405 4.40725 4.40725C5.12405 3.6903 5.96405 3.12377 6.92725 2.70766C7.89044 2.29155 8.91475 2.0835 10.0002 2.0835C11.0942 2.0835 12.1206 2.29155 13.0795 2.70766C14.0384 3.12377 14.8763 3.6903 15.5931 4.40725C16.31 5.12405 16.8766 5.9619 17.2927 6.92079C17.7088 7.87968 17.9168 8.90613 17.9168 10.0002C17.9168 11.0856 17.7088 12.1099 17.2927 13.0731C16.8766 14.0363 16.31 14.8763 15.5931 15.5931C14.8763 16.31 14.0384 16.8766 13.0795 17.2927C12.1206 17.7088 11.0942 17.9168 10.0002 17.9168ZM10.0002 16.6491C10.4254 16.0851 10.7834 15.5162 11.0739 14.9425C11.3645 14.3687 11.6011 13.7416 11.7839 13.061H8.21641C8.40988 13.7629 8.64926 14.4008 8.93454 14.9745C9.21968 15.5483 9.57488 16.1065 10.0002 16.6491ZM8.38641 16.42C8.06697 15.9616 7.78009 15.4406 7.52579 14.8568C7.27148 14.2729 7.07384 13.6743 6.93287 13.061H4.106C4.54613 13.9264 5.13641 14.6535 5.87683 15.2422C6.61725 15.8309 7.45377 16.2234 8.38641 16.42ZM11.6139 16.42C12.5466 16.2234 13.3831 15.8309 14.1235 15.2422C14.8639 14.6535 15.4542 13.9264 15.8943 13.061H13.0675C12.8997 13.6796 12.6886 14.2809 12.4343 14.8647C12.1802 15.4486 11.9067 15.967 11.6139 16.42ZM3.58183 11.811H6.67975C6.62738 11.5013 6.5894 11.1976 6.56579 10.9C6.54232 10.6025 6.53058 10.3025 6.53058 10.0002C6.53058 9.6978 6.54232 9.39787 6.56579 9.10037C6.5894 8.80273 6.62738 8.49905 6.67975 8.18933H3.58183C3.50169 8.47238 3.4403 8.76669 3.39766 9.07225C3.35488 9.3778 3.3335 9.68711 3.3335 10.0002C3.3335 10.3132 3.35488 10.6225 3.39766 10.9281C3.4403 11.2336 3.50169 11.5279 3.58183 11.811ZM7.92954 11.811H12.0708C12.123 11.5013 12.1609 11.2003 12.1845 10.9081C12.208 10.6159 12.2197 10.3132 12.2197 10.0002C12.2197 9.68711 12.208 9.38447 12.1845 9.09225C12.1609 8.80002 12.123 8.49905 12.0708 8.18933H7.92954C7.87732 8.49905 7.8394 8.80002 7.81579 9.09225C7.79232 9.38447 7.78058 9.68711 7.78058 10.0002C7.78058 10.3132 7.79232 10.6159 7.81579 10.9081C7.8394 11.2003 7.87732 11.5013 7.92954 11.811ZM13.3206 11.811H16.4185C16.4986 11.5279 16.56 11.2336 16.6027 10.9281C16.6454 10.6225 16.6668 10.3132 16.6668 10.0002C16.6668 9.68711 16.6454 9.3778 16.6027 9.07225C16.56 8.76669 16.4986 8.47238 16.4185 8.18933H13.3206C13.3729 8.49905 13.4109 8.80273 13.4345 9.10037C13.458 9.39787 13.4697 9.6978 13.4697 10.0002C13.4697 10.3025 13.458 10.6025 13.4345 10.9C13.4109 11.1976 13.3729 11.5013 13.3206 11.811ZM13.0675 6.93933H15.8943C15.4489 6.06322 14.8627 5.33613 14.1356 4.75808C13.4085 4.18016 12.5679 3.78489 11.6139 3.57225C11.9334 4.05725 12.2175 4.58773 12.4664 5.1637C12.7154 5.73954 12.9158 6.33141 13.0675 6.93933ZM8.21641 6.93933H11.7839C11.5904 6.24266 11.3471 5.60079 11.0539 5.0137C10.7606 4.42662 10.4093 3.87245 10.0002 3.3512C9.591 3.87245 9.23975 4.42662 8.94641 5.0137C8.65322 5.60079 8.40988 6.24266 8.21641 6.93933ZM4.106 6.93933H6.93287C7.08454 6.33141 7.28488 5.73954 7.53391 5.1637C7.7828 4.58773 8.06697 4.05725 8.38641 3.57225C7.42697 3.78489 6.58509 4.18155 5.86079 4.76225C5.13634 5.3428 4.55141 6.0685 4.106 6.93933Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera {
        display: block;
        width: 119px;
        height: 30px;
        line-height: 30px;
        /* 행간과 높이를 동일하게 주면 글자가 위아래 가운데 
            왼쪽 여백은 padding으로 주기 */
        padding-left: 18px;
        border: 1px solid #fff;
        border-radius: 15px;
        font-weight: 700;
        position: relative; /* after 정렬의 기준 */
    }
    header .tnb .artera::after {
        position: absolute;
        right: 14px;
        top: 5px;
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98081 15.375C3.60194 15.375 3.28125 15.2438 3.01875 14.9813C2.75625 14.7188 2.625 14.3981 2.625 14.0192V3.98081C2.625 3.60194 2.75625 3.28125 3.01875 3.01875C3.28125 2.75625 3.60194 2.625 3.98081 2.625H8.14894C8.30856 2.625 8.44225 2.67887 8.55 2.78662C8.65763 2.89425 8.71144 3.02788 8.71144 3.1875C8.71144 3.34713 8.65763 3.48075 8.55 3.58838C8.44225 3.69613 8.30856 3.75 8.14894 3.75H3.98081C3.92306 3.75 3.87019 3.77406 3.82219 3.82219C3.77406 3.87019 3.75 3.92306 3.75 3.98081V14.0192C3.75 14.0769 3.77406 14.1298 3.82219 14.1778C3.87019 14.2259 3.92306 14.25 3.98081 14.25H14.0192C14.0769 14.25 14.1298 14.2259 14.1778 14.1778C14.2259 14.1298 14.25 14.0769 14.25 14.0192V9.85106C14.25 9.69144 14.3039 9.55775 14.4116 9.45C14.5192 9.34238 14.6529 9.28856 14.8125 9.28856C14.9721 9.28856 15.1058 9.34238 15.2134 9.45C15.3211 9.55775 15.375 9.69144 15.375 9.85106V14.0192C15.375 14.3981 15.2438 14.7188 14.9813 14.9813C14.7188 15.2438 14.3981 15.375 14.0192 15.375H3.98081ZM14.25 4.54031L7.68469 11.1058C7.58081 11.2096 7.45025 11.2627 7.293 11.2652C7.13588 11.2676 7.00294 11.2144 6.89419 11.1058C6.78556 10.9971 6.73125 10.8653 6.73125 10.7106C6.73125 10.5558 6.78556 10.4241 6.89419 10.3153L13.4597 3.75H11.0625C10.9029 3.75 10.7692 3.69613 10.6616 3.58838C10.5539 3.48075 10.5 3.34713 10.5 3.1875C10.5 3.02788 10.5539 2.89425 10.6616 2.78662C10.7692 2.67887 10.9029 2.625 11.0625 2.625H14.697C14.8904 2.625 15.0517 2.68969 15.1809 2.81906C15.3103 2.94831 15.375 3.10962 15.375 3.303V6.9375C15.375 7.09713 15.3211 7.23075 15.2134 7.33838C15.1058 7.44613 14.9721 7.5 14.8125 7.5C14.6529 7.5 14.5192 7.44613 14.4116 7.33838C14.3039 7.23075 14.25 7.09713 14.25 6.9375V4.54031Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    /* 메뉴오버, 고정 */
    header.fixed .tnb .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99967 17.9168C8.91426 17.9168 7.88995 17.7088 6.92676 17.2927C5.96356 16.8766 5.12356 16.31 4.40676 15.5931C3.68981 14.8763 3.12329 14.0363 2.70717 13.0731C2.29106 12.1099 2.08301 11.0856 2.08301 10.0002C2.08301 8.90613 2.29106 7.87968 2.70717 6.92079C3.12329 5.9619 3.68981 5.12405 4.40676 4.40725C5.12356 3.6903 5.96356 3.12377 6.92676 2.70766C7.88995 2.29155 8.91426 2.0835 9.99967 2.0835C11.0937 2.0835 12.1202 2.29155 13.079 2.70766C14.0379 3.12377 14.8758 3.6903 15.5926 4.40725C16.3095 5.12405 16.8761 5.9619 17.2922 6.92079C17.7083 7.87968 17.9163 8.90613 17.9163 10.0002C17.9163 11.0856 17.7083 12.1099 17.2922 13.0731C16.8761 14.0363 16.3095 14.8763 15.5926 15.5931C14.8758 16.31 14.0379 16.8766 13.079 17.2927C12.1202 17.7088 11.0937 17.9168 9.99967 17.9168ZM9.99967 16.6491C10.425 16.0851 10.7829 15.5162 11.0734 14.9425C11.364 14.3687 11.6006 13.7416 11.7834 13.061H8.21592C8.4094 13.7629 8.64877 14.4008 8.93405 14.9745C9.21919 15.5483 9.5744 16.1065 9.99967 16.6491ZM8.38592 16.42C8.06648 15.9616 7.7796 15.4406 7.5253 14.8568C7.27099 14.2729 7.07335 13.6743 6.93238 13.061H4.10551C4.54565 13.9264 5.13592 14.6535 5.87634 15.2422C6.61676 15.8309 7.45329 16.2234 8.38592 16.42ZM11.6134 16.42C12.5461 16.2234 13.3826 15.8309 14.123 15.2422C14.8634 14.6535 15.4537 13.9264 15.8938 13.061H13.067C12.8992 13.6796 12.6881 14.2809 12.4338 14.8647C12.1797 15.4486 11.9062 15.967 11.6134 16.42ZM3.58134 11.811H6.67926C6.6269 11.5013 6.58891 11.1976 6.5653 10.9C6.54183 10.6025 6.53009 10.3025 6.53009 10.0002C6.53009 9.6978 6.54183 9.39787 6.5653 9.10037C6.58891 8.80273 6.6269 8.49905 6.67926 8.18933H3.58134C3.5012 8.47238 3.43981 8.76669 3.39717 9.07225C3.3544 9.3778 3.33301 9.68711 3.33301 10.0002C3.33301 10.3132 3.3544 10.6225 3.39717 10.9281C3.43981 11.2336 3.5012 11.5279 3.58134 11.811ZM7.92905 11.811H12.0703C12.1225 11.5013 12.1604 11.2003 12.184 10.9081C12.2075 10.6159 12.2193 10.3132 12.2193 10.0002C12.2193 9.68711 12.2075 9.38447 12.184 9.09225C12.1604 8.80002 12.1225 8.49905 12.0703 8.18933H7.92905C7.87683 8.49905 7.83891 8.80002 7.8153 9.09225C7.79183 9.38447 7.78009 9.68711 7.78009 10.0002C7.78009 10.3132 7.79183 10.6159 7.8153 10.9081C7.83891 11.2003 7.87683 11.5013 7.92905 11.811ZM13.3201 11.811H16.418C16.4981 11.5279 16.5595 11.2336 16.6022 10.9281C16.645 10.6225 16.6663 10.3132 16.6663 10.0002C16.6663 9.68711 16.645 9.3778 16.6022 9.07225C16.5595 8.76669 16.4981 8.47238 16.418 8.18933H13.3201C13.3725 8.49905 13.4104 8.80273 13.434 9.10037C13.4575 9.39787 13.4693 9.6978 13.4693 10.0002C13.4693 10.3025 13.4575 10.6025 13.434 10.9C13.4104 11.1976 13.3725 11.5013 13.3201 11.811ZM13.067 6.93933H15.8938C15.4484 6.06322 14.8622 5.33613 14.1351 4.75808C13.408 4.18016 12.5675 3.78489 11.6134 3.57225C11.9329 4.05725 12.217 4.58773 12.4659 5.1637C12.715 5.73954 12.9153 6.33141 13.067 6.93933ZM8.21592 6.93933H11.7834C11.59 6.24266 11.3466 5.60079 11.0534 5.0137C10.7601 4.42662 10.4088 3.87245 9.99967 3.3512C9.59051 3.87245 9.23926 4.42662 8.94592 5.0137C8.65273 5.60079 8.4094 6.24266 8.21592 6.93933ZM4.10551 6.93933H6.93238C7.08405 6.33141 7.2844 5.73954 7.53342 5.1637C7.78231 4.58773 8.06648 4.05725 8.38592 3.57225C7.42648 3.78489 6.5846 4.18155 5.8603 4.76225C5.13585 5.3428 4.55092 6.0685 4.10551 6.93933Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .artera {
        border-color: #3d3d3d;
    }
    header.fixed .tnb .artera::after {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98081 15.375C3.60194 15.375 3.28125 15.2438 3.01875 14.9813C2.75625 14.7188 2.625 14.3981 2.625 14.0192V3.98081C2.625 3.60194 2.75625 3.28125 3.01875 3.01875C3.28125 2.75625 3.60194 2.625 3.98081 2.625H8.14894C8.30856 2.625 8.44225 2.67887 8.55 2.78662C8.65763 2.89425 8.71144 3.02788 8.71144 3.1875C8.71144 3.34713 8.65763 3.48075 8.55 3.58838C8.44225 3.69613 8.30856 3.75 8.14894 3.75H3.98081C3.92306 3.75 3.87019 3.77406 3.82219 3.82219C3.77406 3.87019 3.75 3.92306 3.75 3.98081V14.0192C3.75 14.0769 3.77406 14.1298 3.82219 14.1778C3.87019 14.2259 3.92306 14.25 3.98081 14.25H14.0192C14.0769 14.25 14.1298 14.2259 14.1778 14.1778C14.2259 14.1298 14.25 14.0769 14.25 14.0192V9.85106C14.25 9.69144 14.3039 9.55775 14.4116 9.45C14.5193 9.34238 14.6529 9.28856 14.8125 9.28856C14.9721 9.28856 15.1058 9.34238 15.2134 9.45C15.3211 9.55775 15.375 9.69144 15.375 9.85106V14.0192C15.375 14.3981 15.2438 14.7188 14.9813 14.9813C14.7188 15.2438 14.3981 15.375 14.0192 15.375H3.98081ZM14.25 4.54031L7.68469 11.1058C7.58081 11.2096 7.45025 11.2627 7.293 11.2652C7.13588 11.2676 7.00294 11.2144 6.89419 11.1058C6.78556 10.9971 6.73125 10.8653 6.73125 10.7106C6.73125 10.5558 6.78556 10.4241 6.89419 10.3153L13.4597 3.75H11.0625C10.9029 3.75 10.7693 3.69613 10.6616 3.58838C10.5539 3.48075 10.5 3.34713 10.5 3.1875C10.5 3.02788 10.5539 2.89425 10.6616 2.78662C10.7693 2.67887 10.9029 2.625 11.0625 2.625H14.697C14.8904 2.625 15.0517 2.68969 15.1809 2.81906C15.3103 2.94831 15.375 3.10962 15.375 3.303V6.9375C15.375 7.09713 15.3211 7.23075 15.2134 7.33838C15.1058 7.44613 14.9721 7.5 14.8125 7.5C14.6529 7.5 14.5193 7.44613 14.4116 7.33838C14.3039 7.23075 14.25 7.09713 14.25 6.9375V4.54031Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    }
    /* 오버 */
    header.fixed .tnb .lang:hover {
        color: #EA141D;
    }
    header.fixed .tnb .lang:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99967 17.9168C8.91426 17.9168 7.88995 17.7088 6.92676 17.2927C5.96356 16.8766 5.12356 16.31 4.40676 15.5931C3.68981 14.8763 3.12329 14.0363 2.70717 13.0731C2.29106 12.1099 2.08301 11.0856 2.08301 10.0002C2.08301 8.90613 2.29106 7.87968 2.70717 6.92079C3.12329 5.9619 3.68981 5.12405 4.40676 4.40725C5.12356 3.6903 5.96356 3.12377 6.92676 2.70766C7.88995 2.29155 8.91426 2.0835 9.99967 2.0835C11.0937 2.0835 12.1202 2.29155 13.079 2.70766C14.0379 3.12377 14.8758 3.6903 15.5926 4.40725C16.3095 5.12405 16.8761 5.9619 17.2922 6.92079C17.7083 7.87968 17.9163 8.90613 17.9163 10.0002C17.9163 11.0856 17.7083 12.1099 17.2922 13.0731C16.8761 14.0363 16.3095 14.8763 15.5926 15.5931C14.8758 16.31 14.0379 16.8766 13.079 17.2927C12.1202 17.7088 11.0937 17.9168 9.99967 17.9168ZM9.99967 16.6491C10.425 16.0851 10.7829 15.5162 11.0734 14.9425C11.364 14.3687 11.6006 13.7416 11.7834 13.061H8.21592C8.4094 13.7629 8.64877 14.4008 8.93405 14.9745C9.21919 15.5483 9.5744 16.1065 9.99967 16.6491ZM8.38592 16.42C8.06648 15.9616 7.7796 15.4406 7.5253 14.8568C7.27099 14.2729 7.07335 13.6743 6.93238 13.061H4.10551C4.54565 13.9264 5.13592 14.6535 5.87634 15.2422C6.61676 15.8309 7.45329 16.2234 8.38592 16.42ZM11.6134 16.42C12.5461 16.2234 13.3826 15.8309 14.123 15.2422C14.8634 14.6535 15.4537 13.9264 15.8938 13.061H13.067C12.8992 13.6796 12.6881 14.2809 12.4338 14.8647C12.1797 15.4486 11.9062 15.967 11.6134 16.42ZM3.58134 11.811H6.67926C6.6269 11.5013 6.58891 11.1976 6.5653 10.9C6.54183 10.6025 6.53009 10.3025 6.53009 10.0002C6.53009 9.6978 6.54183 9.39787 6.5653 9.10037C6.58891 8.80273 6.6269 8.49905 6.67926 8.18933H3.58134C3.5012 8.47238 3.43981 8.76669 3.39717 9.07225C3.3544 9.3778 3.33301 9.68711 3.33301 10.0002C3.33301 10.3132 3.3544 10.6225 3.39717 10.9281C3.43981 11.2336 3.5012 11.5279 3.58134 11.811ZM7.92905 11.811H12.0703C12.1225 11.5013 12.1604 11.2003 12.184 10.9081C12.2075 10.6159 12.2193 10.3132 12.2193 10.0002C12.2193 9.68711 12.2075 9.38447 12.184 9.09225C12.1604 8.80002 12.1225 8.49905 12.0703 8.18933H7.92905C7.87683 8.49905 7.83891 8.80002 7.8153 9.09225C7.79183 9.38447 7.78009 9.68711 7.78009 10.0002C7.78009 10.3132 7.79183 10.6159 7.8153 10.9081C7.83891 11.2003 7.87683 11.5013 7.92905 11.811ZM13.3201 11.811H16.418C16.4981 11.5279 16.5595 11.2336 16.6022 10.9281C16.645 10.6225 16.6663 10.3132 16.6663 10.0002C16.6663 9.68711 16.645 9.3778 16.6022 9.07225C16.5595 8.76669 16.4981 8.47238 16.418 8.18933H13.3201C13.3725 8.49905 13.4104 8.80273 13.434 9.10037C13.4575 9.39787 13.4693 9.6978 13.4693 10.0002C13.4693 10.3025 13.4575 10.6025 13.434 10.9C13.4104 11.1976 13.3725 11.5013 13.3201 11.811ZM13.067 6.93933H15.8938C15.4484 6.06322 14.8622 5.33613 14.1351 4.75808C13.408 4.18016 12.5675 3.78489 11.6134 3.57225C11.9329 4.05725 12.217 4.58773 12.4659 5.1637C12.715 5.73954 12.9153 6.33141 13.067 6.93933ZM8.21592 6.93933H11.7834C11.59 6.24266 11.3466 5.60079 11.0534 5.0137C10.7601 4.42662 10.4088 3.87245 9.99967 3.3512C9.59051 3.87245 9.23926 4.42662 8.94592 5.0137C8.65273 5.60079 8.4094 6.24266 8.21592 6.93933ZM4.10551 6.93933H6.93238C7.08405 6.33141 7.2844 5.73954 7.53342 5.1637C7.78231 4.58773 8.06648 4.05725 8.38592 3.57225C7.42648 3.78489 6.5846 4.18155 5.8603 4.76225C5.13585 5.3428 4.55092 6.0685 4.10551 6.93933Z' fill='%23EA141D'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .artera:hover {
        border-color: #EA141D;
        background-color: #EA141D;
        color: #fff;
    }
    header.fixed .tnb .artera:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98081 15.375C3.60194 15.375 3.28125 15.2438 3.01875 14.9813C2.75625 14.7188 2.625 14.3981 2.625 14.0192V3.98081C2.625 3.60194 2.75625 3.28125 3.01875 3.01875C3.28125 2.75625 3.60194 2.625 3.98081 2.625H8.14894C8.30856 2.625 8.44225 2.67887 8.55 2.78662C8.65763 2.89425 8.71144 3.02788 8.71144 3.1875C8.71144 3.34713 8.65763 3.48075 8.55 3.58838C8.44225 3.69613 8.30856 3.75 8.14894 3.75H3.98081C3.92306 3.75 3.87019 3.77406 3.82219 3.82219C3.77406 3.87019 3.75 3.92306 3.75 3.98081V14.0192C3.75 14.0769 3.77406 14.1298 3.82219 14.1778C3.87019 14.2259 3.92306 14.25 3.98081 14.25H14.0192C14.0769 14.25 14.1298 14.2259 14.1778 14.1778C14.2259 14.1298 14.25 14.0769 14.25 14.0192V9.85106C14.25 9.69144 14.3039 9.55775 14.4116 9.45C14.5192 9.34238 14.6529 9.28856 14.8125 9.28856C14.9721 9.28856 15.1058 9.34238 15.2134 9.45C15.3211 9.55775 15.375 9.69144 15.375 9.85106V14.0192C15.375 14.3981 15.2438 14.7188 14.9813 14.9813C14.7188 15.2438 14.3981 15.375 14.0192 15.375H3.98081ZM14.25 4.54031L7.68469 11.1058C7.58081 11.2096 7.45025 11.2627 7.293 11.2652C7.13588 11.2676 7.00294 11.2144 6.89419 11.1058C6.78556 10.9971 6.73125 10.8653 6.73125 10.7106C6.73125 10.5558 6.78556 10.4241 6.89419 10.3153L13.4597 3.75H11.0625C10.9029 3.75 10.7692 3.69613 10.6616 3.58838C10.5539 3.48075 10.5 3.34713 10.5 3.1875C10.5 3.02788 10.5539 2.89425 10.6616 2.78662C10.7692 2.67887 10.9029 2.625 11.0625 2.625H14.697C14.8904 2.625 15.0517 2.68969 15.1809 2.81906C15.3103 2.94831 15.375 3.10962 15.375 3.303V6.9375C15.375 7.09713 15.3211 7.23075 15.2134 7.33838C15.1058 7.44613 14.9721 7.5 14.8125 7.5C14.6529 7.5 14.5192 7.44613 14.4116 7.33838C14.3039 7.23075 14.25 7.09713 14.25 6.9375V4.54031Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴에 마우스를 오버한 경우 */
    header.menu_over::before {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        /* 정렬의 기준이 되는 header 내부에서 
          가장 하단으로 배치한다는 명령
          -- visual 아래로는 내려가지 않음 */
        width: 100%;
        height: 416px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}/* media */

@media screen and (max-width:1300px) and (min-width:1025px){
    /* 1300px이하 ~ 1025px까지 */
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 115px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
    }
}/* media */

@media screen and (max-width:1024px){ /* 1024px이하 - 모바일 버전 */
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.78125 19.8388C4.54219 19.8388 4.34184 19.7579 4.18022 19.596C4.01841 19.4344 3.9375 19.234 3.9375 18.9947C3.9375 18.7557 4.01841 18.5553 4.18022 18.3937C4.34184 18.2323 4.54219 18.1515 4.78125 18.1515H22.2188C22.4578 18.1515 22.6582 18.2324 22.8198 18.394C22.9816 18.5558 23.0625 18.7563 23.0625 18.9956C23.0625 19.2346 22.9816 19.435 22.8198 19.5966C22.6582 19.758 22.4578 19.8388 22.2188 19.8388H4.78125ZM4.78125 14.3437C4.54219 14.3437 4.34184 14.2628 4.18022 14.101C4.01841 13.9392 3.9375 13.7387 3.9375 13.4997C3.9375 13.2604 4.01841 13.0601 4.18022 12.8986C4.34184 12.737 4.54219 12.6562 4.78125 12.6562H22.2188C22.4578 12.6562 22.6582 12.7371 22.8198 12.8989C22.9816 13.0607 23.0625 13.2612 23.0625 13.5002C23.0625 13.7395 22.9816 13.9398 22.8198 14.1013C22.6582 14.2629 22.4578 14.3437 22.2188 14.3437H4.78125ZM4.78125 8.84835C4.54219 8.84835 4.34184 8.76754 4.18022 8.60591C4.01841 8.4441 3.9375 8.24357 3.9375 8.00432C3.9375 7.76526 4.01841 7.56491 4.18022 7.40329C4.34184 7.24185 4.54219 7.16113 4.78125 7.16113H22.2188C22.4578 7.16113 22.6582 7.24204 22.8198 7.40385C22.9816 7.56548 23.0625 7.76591 23.0625 8.00516C23.0625 8.24423 22.9816 8.44457 22.8198 8.6062C22.6582 8.76763 22.4578 8.84835 22.2188 8.84835H4.78125Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.78125 19.8388C4.54219 19.8388 4.34184 19.7579 4.18022 19.596C4.01841 19.4344 3.9375 19.234 3.9375 18.9947C3.9375 18.7557 4.01841 18.5553 4.18022 18.3937C4.34184 18.2323 4.54219 18.1515 4.78125 18.1515H22.2187C22.4578 18.1515 22.6582 18.2324 22.8198 18.394C22.9816 18.5558 23.0625 18.7563 23.0625 18.9956C23.0625 19.2346 22.9816 19.435 22.8198 19.5966C22.6582 19.758 22.4578 19.8388 22.2187 19.8388H4.78125ZM4.78125 14.3437C4.54219 14.3437 4.34184 14.2628 4.18022 14.101C4.01841 13.9392 3.9375 13.7387 3.9375 13.4997C3.9375 13.2604 4.01841 13.0601 4.18022 12.8986C4.34184 12.737 4.54219 12.6562 4.78125 12.6562H22.2187C22.4578 12.6562 22.6582 12.7371 22.8198 12.8989C22.9816 13.0607 23.0625 13.2612 23.0625 13.5002C23.0625 13.7395 22.9816 13.9398 22.8198 14.1013C22.6582 14.2629 22.4578 14.3437 22.2187 14.3437H4.78125ZM4.78125 8.84835C4.54219 8.84835 4.34184 8.76754 4.18022 8.60591C4.01841 8.4441 3.9375 8.24357 3.9375 8.00432C3.9375 7.76526 4.01841 7.56491 4.18022 7.40329C4.34184 7.24185 4.54219 7.16113 4.78125 7.16113H22.2187C22.4578 7.16113 22.6582 7.24204 22.8198 7.40385C22.9816 7.56548 23.0625 7.76591 23.0625 8.00516C23.0625 8.24423 22.9816 8.44457 22.8198 8.6062C22.6582 8.76763 22.4578 8.84835 22.2187 8.84835H4.78125Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none; /* 숨김 */
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /* 브라우저 높이 */
        background-color: #fff;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 100px; /* header 높이 만큼 */
        height: calc(100vh - 100px);
        overflow-y: auto;
        /* 좌우스크롤 바는 금지, 세로스크롤바는 
        만약 내부 콘텐츠의 길이가 높이보다 길면 스크롤바 생김 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #ededed;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 3;
        font-size: 20px;
        font-weight: 700;
        padding: 0 20px;
        color: #1d1d1d;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 22px;
        top: 26px;
        width: 17px;
        height: 8px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.50366 6.31448L15.4343 0.240299C15.6171 0.0800994 15.8323 0.00201585 16.0799 0.00604798C16.3277 0.0102141 16.543 0.092397 16.7258 0.252596C16.9086 0.412929 17 0.601619 17 0.818667C17 1.03572 16.9086 1.22441 16.7258 1.38474L9.68203 7.57041C9.51565 7.71622 9.32926 7.82428 9.12286 7.89457C8.91646 7.96486 8.71006 8 8.50366 8C8.29725 8 8.09085 7.96486 7.88445 7.89457C7.67805 7.82428 7.49166 7.71622 7.32528 7.57041L0.267229 1.38474C0.0844428 1.22441 -0.00457323 1.03363 0.000180427 0.812419C0.00493409 0.591205 0.0987036 0.400498 0.28149 0.240299C0.464276 0.0801 0.679572 9.23969e-07 0.927376 9.13137e-07C1.17503 9.02312e-07 1.39025 0.0801 1.57303 0.240299L8.50366 6.31448Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #EA141D;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='8' viewBox='0 0 17 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.49634 1.68552L1.56572 7.7597C1.38294 7.9199 1.16772 7.99798 0.920065 7.99395C0.67226 7.98978 0.456966 7.9076 0.274181 7.7474C0.0913941 7.58707 -3.23393e-07 7.39838 -3.13906e-07 7.18133C-3.04419e-07 6.96428 0.0913941 6.77559 0.274181 6.61526L7.31797 0.429593C7.48435 0.283775 7.67074 0.175721 7.87714 0.105432C8.08354 0.0351439 8.28994 -3.80729e-07 8.49634 -3.71707e-07C8.70275 -3.62684e-07 8.90915 0.0351439 9.11555 0.105433C9.32195 0.175721 9.50834 0.283775 9.67472 0.429593L16.7328 6.61526C16.9156 6.77559 17.0046 6.96637 16.9998 7.18758C16.9951 7.4088 16.9013 7.5995 16.7185 7.7597C16.5357 7.9199 16.3204 8 16.0726 8C15.825 8 15.6098 7.9199 15.427 7.7597L8.49634 1.68552Z' fill='%23EA141D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 숨김 */
        background-color: #F7F7F7;
        padding: 15px 40px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block; /* 나타남 */
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        font-size: 15px;
    }
    header .gnb .gnb_close {
        display: none; /* 숨김 */
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9999 14.1415L7.50414 19.6375C7.3541 19.7873 7.16551 19.8641 6.93837 19.8677C6.71141 19.8711 6.51939 19.7944 6.36231 19.6375C6.2054 19.4804 6.12695 19.2901 6.12695 19.0666C6.12695 18.843 6.2054 18.6527 6.36231 18.4956L11.8583 12.9999L6.36231 7.50414C6.21245 7.3541 6.13571 7.16551 6.1321 6.93837C6.12867 6.71141 6.2054 6.51939 6.36231 6.36231C6.51939 6.2054 6.7097 6.12695 6.93322 6.12695C7.15675 6.12695 7.34706 6.2054 7.50414 6.36231L12.9999 11.8583L18.4956 6.36231C18.6457 6.21245 18.8343 6.13571 19.0614 6.1321C19.2884 6.12867 19.4804 6.2054 19.6375 6.36231C19.7944 6.51939 19.8728 6.7097 19.8728 6.93322C19.8728 7.15675 19.7944 7.34706 19.6375 7.50414L14.1415 12.9999L19.6375 18.4956C19.7873 18.6457 19.8641 18.8343 19.8677 19.0614C19.8711 19.2884 19.7944 19.4804 19.6375 19.6375C19.4804 19.7944 19.2901 19.8728 19.0666 19.8728C18.843 19.8728 18.6527 19.7944 18.4956 19.6375L12.9999 14.1415Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb {
        display: none; /* 숨김 */
        position: absolute;
        left: 20px;
        top: 40px;
        color: #1d1d1d;
        align-items: center;
    }
    header .tnb .lang {
        display: block;
        padding-left: 18px;
        font-weight: 700;
        position: relative; /* before 정렬의 기준 */
        margin-right: 25px; /* artera와의 여백 */
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 2px;
        width: 16px;
        height: 16px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00033 14.3332C7.13199 14.3332 6.31255 14.1667 5.54199 13.8338C4.77144 13.5009 4.09944 13.0477 3.52599 12.4742C2.95244 11.9007 2.49921 11.2287 2.16633 10.4582C1.83344 9.68761 1.66699 8.86817 1.66699 7.99984C1.66699 7.12461 1.83344 6.30345 2.16633 5.53634C2.49921 4.76923 2.95244 4.09895 3.52599 3.5255C4.09944 2.95195 4.77144 2.49873 5.54199 2.16584C6.31255 1.83295 7.13199 1.6665 8.00033 1.6665C8.87555 1.6665 9.69671 1.83295 10.4638 2.16584C11.2309 2.49873 11.9012 2.95195 12.4747 3.5255C13.0482 4.09895 13.5014 4.76923 13.8343 5.53634C14.1672 6.30345 14.3337 7.12461 14.3337 7.99984C14.3337 8.86817 14.1672 9.68761 13.8343 10.4582C13.5014 11.2287 13.0482 11.9007 12.4747 12.4742C11.9012 13.0477 11.2309 13.5009 10.4638 13.8338C9.69671 14.1667 8.87555 14.3332 8.00033 14.3332ZM8.00033 13.319C8.34055 12.8678 8.62688 12.4127 8.85932 11.9537C9.09177 11.4947 9.2811 10.9929 9.42732 10.4485H6.57333C6.7281 11.0101 6.9196 11.5203 7.14783 11.9793C7.37594 12.4383 7.6601 12.8849 8.00033 13.319ZM6.70933 13.1357C6.45377 12.769 6.22427 12.3522 6.02083 11.8852C5.81738 11.4181 5.65927 10.9392 5.54649 10.4485H3.28499C3.6371 11.1408 4.10933 11.7225 4.70166 12.1935C5.29399 12.6644 5.96321 12.9784 6.70933 13.1357ZM9.29133 13.1357C10.0374 12.9784 10.7067 12.6644 11.299 12.1935C11.8913 11.7225 12.3635 11.1408 12.7157 10.4485H10.4542C10.3199 10.9434 10.1511 11.4244 9.94766 11.8915C9.74433 12.3586 9.52555 12.7733 9.29133 13.1357ZM2.86566 9.4485H5.34399C5.3021 9.20073 5.27171 8.95778 5.25283 8.71967C5.23405 8.48167 5.22466 8.24173 5.22466 7.99984C5.22466 7.75795 5.23405 7.518 5.25283 7.28C5.27171 7.04189 5.3021 6.79895 5.34399 6.55117H2.86566C2.80155 6.77762 2.75244 7.01306 2.71833 7.2575C2.6841 7.50195 2.66699 7.74939 2.66699 7.99984C2.66699 8.25028 2.6841 8.49773 2.71833 8.74217C2.75244 8.98661 2.80155 9.22206 2.86566 9.4485ZM6.34382 9.4485H9.65683C9.6986 9.20073 9.72894 8.95995 9.74782 8.72617C9.7666 8.49239 9.77599 8.25028 9.77599 7.99984C9.77599 7.74939 9.7666 7.50728 9.74782 7.2735C9.72894 7.03973 9.6986 6.79895 9.65683 6.55117H6.34382C6.30205 6.79895 6.27171 7.03973 6.25283 7.2735C6.23405 7.50728 6.22466 7.74939 6.22466 7.99984C6.22466 8.25028 6.23405 8.49239 6.25283 8.72617C6.27171 8.95995 6.30205 9.20073 6.34382 9.4485ZM10.6567 9.4485H13.135C13.1991 9.22206 13.2482 8.98661 13.2823 8.74217C13.3165 8.49773 13.3337 8.25028 13.3337 7.99984C13.3337 7.74939 13.3165 7.50195 13.2823 7.2575C13.2482 7.01306 13.1991 6.77762 13.135 6.55117H10.6567C10.6985 6.79895 10.7289 7.04189 10.7478 7.28C10.7666 7.518 10.776 7.75795 10.776 7.99984C10.776 8.24173 10.7666 8.48167 10.7478 8.71967C10.7289 8.95778 10.6985 9.20073 10.6567 9.4485ZM10.4542 5.55117H12.7157C12.3593 4.85028 11.8903 4.26862 11.3087 3.80617C10.727 3.34384 10.0545 3.02762 9.29133 2.8575C9.54688 3.2455 9.77421 3.66989 9.97332 4.13067C10.1725 4.59134 10.3328 5.06484 10.4542 5.55117ZM6.57333 5.55117H9.42732C9.27255 4.99384 9.07788 4.48034 8.84333 4.01067C8.60866 3.541 8.32766 3.09767 8.00033 2.68067C7.67299 3.09767 7.39199 3.541 7.15733 4.01067C6.92277 4.48034 6.7281 4.99384 6.57333 5.55117ZM3.28499 5.55117H5.54649C5.66783 5.06484 5.8281 4.59134 6.02733 4.13067C6.22644 3.66989 6.45377 3.2455 6.70933 2.8575C5.94177 3.02762 5.26827 3.34495 4.68883 3.8095C4.10927 4.27395 3.64133 4.8545 3.28499 5.55117Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artera {
        width: 107px;
        height: 24px;
        line-height: 24px; /* 글자가 위아래 가운데 */
        border: 1px solid #3d3d3d;
        border-radius: 12px;
        padding-left: 16px;
        position: relative; /* after 정렬의 기준 */
    }
    header .tnb .artera::after {
        position: absolute;
        right: 17px;
        top: 5px;
        width: 14px;
        height: 14px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.09651 11.9582C2.80183 11.9582 2.55241 11.8561 2.34824 11.6519C2.14408 11.4478 2.04199 11.1983 2.04199 10.9037V3.09602C2.04199 2.80134 2.14408 2.55192 2.34824 2.34775C2.55241 2.14359 2.80183 2.0415 3.09651 2.0415H6.33839C6.46254 2.0415 6.56652 2.08341 6.65033 2.16721C6.73403 2.25092 6.77589 2.35485 6.77589 2.479C6.77589 2.60316 6.73403 2.70709 6.65033 2.7908C6.56652 2.8746 6.46254 2.9165 6.33839 2.9165H3.09651C3.0516 2.9165 3.01047 2.93522 2.97314 2.97265C2.93571 3.00998 2.91699 3.05111 2.91699 3.09602V10.9037C2.91699 10.9486 2.93571 10.9897 2.97314 11.027C3.01047 11.0645 3.0516 11.0832 3.09651 11.0832H10.9041C10.9491 11.0832 10.9902 11.0645 11.0275 11.027C11.0649 10.9897 11.0837 10.9486 11.0837 10.9037V7.66178C11.0837 7.53762 11.1256 7.43364 11.2094 7.34984C11.2931 7.26613 11.397 7.22428 11.5212 7.22428C11.6453 7.22428 11.7492 7.26613 11.833 7.34984C11.9168 7.43364 11.9587 7.53762 11.9587 7.66178V10.9037C11.9587 11.1983 11.8566 11.4478 11.6524 11.6519C11.4482 11.8561 11.1988 11.9582 10.9041 11.9582H3.09651ZM11.0837 3.53119L5.9773 8.63769C5.89651 8.71839 5.79496 8.75971 5.67266 8.76165C5.55045 8.7635 5.44705 8.72218 5.36247 8.63769C5.27799 8.55311 5.23574 8.45064 5.23574 8.33028C5.23574 8.20991 5.27799 8.10744 5.36247 8.02286L10.469 2.9165H8.60449C8.48034 2.9165 8.37641 2.8746 8.2927 2.7908C8.20889 2.70709 8.16699 2.60316 8.16699 2.479C8.16699 2.35485 8.20889 2.25092 8.2927 2.16721C8.37641 2.08341 8.48034 2.0415 8.60449 2.0415H11.4313C11.5817 2.0415 11.7072 2.09182 11.8077 2.19244C11.9083 2.29297 11.9587 2.41843 11.9587 2.56884V5.39567C11.9587 5.51982 11.9168 5.62375 11.833 5.70746C11.7492 5.79127 11.6453 5.83317 11.5212 5.83317C11.397 5.83317 11.2931 5.79127 11.2094 5.70746C11.1256 5.62375 11.0837 5.51982 11.0837 5.39567V3.53119Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    /* 메뉴가 열렸을때 */
    header.menu_open .gnb .gnb_open {
        display: none; /* 숨김 */
    }
    header.menu_open .gnb .gnb_wrap {
        display: block; /* 보임 */
    }
    header.menu_open .gnb .gnb_close {
        display: block; /* 보임 */
    }
    header.menu_open .tnb {
        display: flex; /* 보임 */
    }
}/* media */

@media screen and (max-width:768px){
    header {
        height: 50px;
    }
    header .logo {
        margin-top: 10px;
    }
    header .logo a {
        width: 77px;
        height: 26px;
    }
    header .gnb .gnb_open::before {
        width: 27px;
        height: 27px;
    }
    header .gnb .gnb_close::before {
        width: 27px;
        height: 27px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px; /* header 높이 만큼 */
        height: calc(100vh - 50px);
    }
    header .tnb {
        top: 13px;
    }
}/*media*/

footer {
    padding: 90px 0;
    background-color: #2d2d2d;
    color: rgba(255,255,255,0.8);
}
footer .wrapper  {
    position: relative;
}
footer .youtube {
    position: absolute;
    right: 0;
    top: -132px;
}
footer .youtube a {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #EA141D;
    padding-top: 40px;
    text-align: center;
    letter-spacing: -0.05em;
    line-height: 1;
    position: relative;
}
footer .youtube a::before {
    position: absolute;
    left: 50%;
    top: 17px;
    transform: translate(-50%, 0);
    width: 23px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='16' viewBox='0 0 24 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5 5.01342C23.5 2.24152 21.2381 0 18.4552 0H5.54475C2.76188 0 0.5 2.24783 0.5 5.01342V10.9803C0.5 13.7522 2.76188 15.9937 5.54475 15.9937H18.4489C21.2381 15.9937 23.4936 13.7459 23.4936 10.9803V5.01342H23.5ZM15.9075 8.4483L10.1193 11.296C9.89061 11.4159 9.12182 11.2518 9.12182 10.9992V5.15864C9.12182 4.89976 9.89696 4.7356 10.1257 4.86188L15.666 7.85477C15.9011 7.98737 16.1425 8.32202 15.9075 8.4483Z' fill='white'/%3E%3C/svg%3E ");
    content: "";
}
footer .family_site {
    position: absolute;
    right: 0;
    top: 0;
    width: 187px;
}
footer .family_site button {
    width: 100%;
    height: 42px;
    background-color: #1d1d1d;
    border: #1d1d1d;
    text-align: left;
    padding-left: 21px;
    position: relative;
}
footer .family_site button::after {
    position: absolute;
    right: 16px;
    top: 17px;
    width: 11px;
    height: 6px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.49953 1.22499L1.4193 5.30523C1.31168 5.41284 1.18498 5.46529 1.03918 5.46259C0.893291 5.45979 0.766542 5.40458 0.658931 5.29697C0.55132 5.18927 0.497514 5.06252 0.497514 4.91672C0.497514 4.77092 0.55132 4.64417 0.658931 4.53647L4.8058 0.381346C4.90375 0.283395 5.01348 0.210811 5.13499 0.163596C5.25651 0.116381 5.37802 0.0927732 5.49953 0.0927732C5.62105 0.0927732 5.74256 0.116381 5.86408 0.163596C5.98559 0.210811 6.09532 0.283395 6.19327 0.381346L10.3485 4.53647C10.4561 4.64417 10.5086 4.77232 10.5058 4.92092C10.503 5.06952 10.4477 5.19762 10.3401 5.30523C10.2325 5.41284 10.1058 5.46665 9.95989 5.46665C9.81409 5.46665 9.68738 5.41284 9.57977 5.30523L5.49953 1.22499Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E ");
    content: "";
}
footer .family_site button.family_close::after {
    transform: rotate(180deg);
}
footer .family_site ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 43px;
    width: 100%;
    background-color: #1d1d1d;
    padding: 10px 20px;
}
footer .family_site ul li a {
    display: block;
    line-height: 2;
}
footer .family_site .family_close {
    display: none;
}
footer .family_site.open .family_open {
    display: none;
}
footer .family_site.open .family_close {
    display: block;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 35px;
    position: relative;
}
footer .f_nav ul li::after {
    position: absolute;
    right: -18px;
    top: 4px;
    width: 1px;
    height: 11px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .copyright {
    margin-top: 15px;
    color: rgba(255,255,255,0.6);
}
@media screen and (max-width:1300px){

}
@media screen and (max-width:1024px){ 
    footer {
        padding: 0 0 58px 0;
    }
    footer .youtube {
        position: relative;
        right: auto;
        top: -40px;
        text-align: center;
    }
    footer .youtube a {
        display: inline-block;
    }
    footer .family_site {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
    }
    footer .f_nav {
        margin: 30px 0 0 0;
    }
    footer .f_nav ul {
        flex-wrap: wrap; /* 두줄 허용 */
    }
    footer .f_nav ul li {
        margin: 0 30px 10px 0;
    }
    footer .f_nav ul li::after {
        right: -17px;
        height: 9px;
    }
    footer .copyright {
        margin-top: 23px;
    }
}
@media screen and (max-width:768px){

}