@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/* 
    각각의 서브 콘텐츠 페이지의 콘텐츠 내용을 코딩
    제일 중요한 것은 절대 이름이 겹치면 안된다는 것!
    규칙 cts_페이지명 감싸서 절대 다른 페이지와 이름이 겹치지 않도록 함
*/

/* 회사소개 - ceo인사말 */
.cts_ceo {
    margin: 45px 0 436px 0;
}
.cts_ceo .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 1.1;
}
.cts_ceo .photo .inner {
    display: flex;
    background: url(../images/contents/ceo_bg1.png) no-repeat center center / cover;
}
.cts_ceo .photo .inner p {
    font-size: 20px;
    padding: 200px 0 0 0;
} 
.cts_ceo .photo .inner .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cts_ceo .photo .inner p span {
    color: #1d1d1d;
    font-weight: 700;
}
.cts_ceo .txt {
    margin: 60px 0 120px 0;
}
.cts_ceo .txt p {
    line-height: 1.5;
}
.cts_ceo .txt strong {
    font-weight: 700;
    color: #1d1d1d;
} 
.cts_ceo .txt .sign {
    display: flex;
    margin-top: 60px;
}
.cts_ceo .txt .sign strong {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 18px 24px 0 0;
}
@media screen and (max-width:1300px){

}/*media*/
@media screen and (max-width:1024px){
    .cts_ceo {
        margin: 20px 0 250px 0;
    }
    .cts_ceo .photo .inner {
        height: 360px;
    }
    .cts_ceo .photo .inner p {
        font-size: 15px ;
    }
    .cts_ceo .txt .sign {
        margin-top: 30px;
    }
    .cts_ceo .txt .sign strong {
        font-size: 15px;
    }
    .cts_ceo .txt p {
        line-height: 1.1;
    }
}/*media*/
@media screen and (max-width:768px){

}/*media*/

/* 회사소개 - 연혁 */
.cts_history {
    margin: 46px 0 190px 0;
}
.cts_history .tab_area .tab_btn {
    overflow-x: auto;
    /* 만약 ul의 넓이가 .tab_btn보다 넓어지면 스크롤바 발생 */
    overflow-y: hidden;
    /* 세로 스크롤바 금지 */
}
.cts_history .tab_area .tab_btn ul {
    display: flex;
}
.cts_history .tab_area .tab_btn ul li {
    margin-right: 20px;
}
.cts_history .tab_area .tab_btn ul li:last-child {
    margin-right: 0;
}
.cts_history .tab_area .tab_btn ul li button {
    padding: 15px 46px;
    background-color: #f4f4f4;
    font-size: 20px;
    white-space: nowrap;
}
.cts_history .tab_area .tab_btn ul li.active button,
.cts_history .tab_area .tab_btn ul li button:hover {
    background-color: #EA141D;
    color: #fff;
    font-weight: 700;
}
/* div 중에서 role="tabpanel" 속성을 가진 div 선택 */
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit {
    height: 350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/contents/history_tit_bg1.png);
    color: #fff;
    text-align: center;
    margin-top: 50px;
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit.bg1 {
    background-image: url(../images/contents/history_tit_bg1.png);
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit.bg2 {
    background-image: url(../images/contents/history_tit_bg2.png);
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit.bg3 {
    background-image: url(../images/contents/history_tit_bg3.png);
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit.bg4 {
    background-image: url(../images/contents/history_tit_bg4.png);
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit strong {
    display: block;
    padding: 124px 0 0 0;
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit h3 {
    font-size: 45px;
    font-weight: 700;
}
.cts_history .history_list {
    margin: 45px 0 0 0;
    position: relative;
}
.cts_history .history_list::before {
    position: absolute;
    left: 50%;
    top: 20px;
    width: 1px;
    height: calc(100% - 20px);
    background-color: rgba(234, 20, 29, 0.2);
    content: "";
}
.cts_history .history_list .year_wrap {
    margin-bottom: 45px;
}
.cts_history .history_list .year_wrap:last-child {
    margin-bottom: 0;
    position: relative;
}
.cts_history .history_list .year_wrap:last-child::before {
    position: absolute;
    left: 50%;
    top: 23px;
    width: 1px;
    height: calc(100% - 20px);
    background-color: #fff;
    content: "";
}
.cts_history .history_list .year_wrap.right {
    padding-left: calc(50% + 30px);
}
.cts_history .history_list .year_wrap.left {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.cts_history .history_list .year_wrap.left ul li {
    flex-direction: row-reverse;
    /* 좌우 순서를 반전 */
}
.cts_history .history_list .year_wrap h4 {
    font-size: 35px;
    font-weight: 700;
    color: #EA141D;
    margin-bottom: 30px;
    position: relative;
}
.cts_history .history_list .year_wrap h4::before {
    position: absolute;
    left: -35px;
    top: 20px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #EA141D;
    content: "";
}
.cts_history .history_list .year_wrap.left h4::before {
    left: auto;
    right: -36px;
} 
.cts_history .history_list .year_wrap ul li {
    display: flex;
    margin: 0 0 13px;
}
.cts_history .history_list .year_wrap ul li strong {
    color: #1d1d1d;
    font-weight: 700;
    width: 6em; /* 글자 옆에 여백까지 */
}
.cts_history .history_list .year_wrap ul li span {
    width: calc(100% - 9em);
}
@media screen and (max-width:1300px){
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit h3 {
        font-size: 35px;
    }
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit strong {
        padding: 131px 0 0 0;
    }
    .cts_history .history_list .year_wrap h4 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    .cts_history .history_list .year_wrap h4::before {
        top: 12px;
    }
}/*media*/
@media screen and (max-width:1024px){
    .cts_history {
        margin: 20px 0 140px 0;
    }
    .cts_history .tab_area .tab_btn ul li {
        margin-right: 20px;
    }
    .cts_history .tab_area .tab_btn ul li button {
        padding: 12px 25px;
        font-size: 15px;
    }
    .cts_history .tab_area .tab_btn::-webkit-scrollbar {
        height: 0;
        background-color: transparent; /* 투명 */
    }
    .cts_history .tab_area .tab_btn::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .cts_history .tab_area .tab_btn::-webkit-scrollbar-track {
        background-color: transparent;/* 투명 */
    }
    /* div 중에서 role="tabpanel" 속성을 가진 div 선택 */
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit {
        height: 250px;
        margin-top: 50px;
    }
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit strong {
        padding: 106px 0 0 0;
    }
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit h3 {
        font-size: 25px;
    }
    .cts_history .history_list {
        margin: 30px 0 0 0;
    }
    .cts_history .history_list::before {
        left: 0;
        top: 23px;
        height: calc(100% - 23px);
    }
    .cts_history .history_list .year_wrap:last-child::before {
        left: 0;
        top: 23px;
        width: 1px;
        height: calc(100% - 23px);
    }
    .cts_history .history_list .year_wrap.right {
        padding-left: 20px;
    }
    .cts_history .history_list .year_wrap.left {
        padding-right: 0;
        padding-left: 20px;
        text-align: left;
    }
    .cts_history .history_list .year_wrap.left ul li {
        flex-direction: row;
    }
    .cts_history .history_list .year_wrap h4 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .cts_history .history_list .year_wrap h4::before {
        left: -25px;
        top: 20px;
    }
    .cts_history .history_list .year_wrap.left h4::before {
        left: -25px;
        right: auto;
    } 
    .cts_history .history_list .year_wrap ul li {
        margin: 0 0 10px 0;
    }
    .cts_history .history_list .year_wrap ul li strong {
        width: 6em; /* 글자 옆에 여백까지 */
    }
}/*media*/
@media screen and (max-width:768px){
    .cts_history .history_list::before {
        left: 0;
        top: 17px;
        height: calc(100% - 17px);
    }
    .cts_history .history_list .year_wrap h4 {
        font-size: 20px;
    }
    .cts_history .history_list .year_wrap h4::before {
        width: 9px;
        height: 9px;
        left: -24px;
        top: 9px;
    }
    .cts_history .history_list .year_wrap:last-child::before {
        top: 17px;
        height: calc(100% - 17px);
    }
}/*media*/

.cts_map .map iframe {
    width: 100%;
    height: 450px;
    border: 0;
    margin: 38px 0 90px 0;
}
.cts_map .map_wrap {
    display: flex;
}
.cts_map .map_wrap h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 176px 0 0;
}
.cts_map .map_wrap .address h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
.cts_map .map_wrap .address p {
    font-weight: 700;
    margin-left: 70px;
}
.cts_map .map_wrap .addr {
    display: flex;
    margin-bottom: 50px;
    position: relative;
}
.cts_map .map_wrap .addr h3::before {
    position: absolute;
    left: -37px;
    top: 0;
    width: 27px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 15C15.6875 15 16.276 14.7552 16.7656 14.2656C17.2552 13.776 17.5 13.1875 17.5 12.5C17.5 11.8125 17.2552 11.224 16.7656 10.7344C16.276 10.2448 15.6875 10 15 10C14.3125 10 13.724 10.2448 13.2344 10.7344C12.7448 11.224 12.5 11.8125 12.5 12.5C12.5 13.1875 12.7448 13.776 13.2344 14.2656C13.724 14.7552 14.3125 15 15 15ZM15 24.1875C17.5417 21.8542 19.4271 19.7344 20.6562 17.8281C21.8854 15.9219 22.5 14.2292 22.5 12.75C22.5 10.4792 21.776 8.61979 20.3281 7.17188C18.8802 5.72396 17.1042 5 15 5C12.8958 5 11.1198 5.72396 9.67188 7.17188C8.22396 8.61979 7.5 10.4792 7.5 12.75C7.5 14.2292 8.11458 15.9219 9.34375 17.8281C10.5729 19.7344 12.4583 21.8542 15 24.1875ZM15 27.5C11.6458 24.6458 9.14062 21.9948 7.48438 19.5469C5.82812 17.099 5 14.8333 5 12.75C5 9.625 6.00521 7.13542 8.01562 5.28125C10.026 3.42708 12.3542 2.5 15 2.5C17.6458 2.5 19.974 3.42708 21.9844 5.28125C23.9948 7.13542 25 9.625 25 12.75C25 14.8333 24.1719 17.099 22.5156 19.5469C20.8594 21.9948 18.3542 24.6458 15 27.5Z' fill='%23EA141D'/%3E%3C/svg%3E%0A");
    content: "";
}
.cts_map .map_wrap .tel {
    display: flex;
    position: relative;
}
.cts_map .map_wrap .tel h3::before {
    position: absolute;
    left: -37px;
    top: 0;
    width: 25px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.4437 23.625C20.1 23.625 17.7844 23.1141 15.4969 22.0922C13.2094 21.0703 11.1281 19.6219 9.25312 17.7469C7.37812 15.8719 5.92969 13.7906 4.90781 11.5031C3.88594 9.21562 3.375 6.9 3.375 4.55625C3.375 4.21875 3.4875 3.9375 3.7125 3.7125C3.9375 3.4875 4.21875 3.375 4.55625 3.375H9.1125C9.375 3.375 9.60937 3.46406 9.81562 3.64219C10.0219 3.82031 10.1437 4.03125 10.1812 4.275L10.9125 8.2125C10.95 8.5125 10.9406 8.76562 10.8844 8.97187C10.8281 9.17812 10.725 9.35625 10.575 9.50625L7.84687 12.2625C8.22187 12.9562 8.66719 13.6266 9.18281 14.2734C9.69844 14.9203 10.2656 15.5437 10.8844 16.1437C11.4656 16.725 12.075 17.2641 12.7125 17.7609C13.35 18.2578 14.025 18.7125 14.7375 19.125L17.3812 16.4812C17.55 16.3125 17.7703 16.1859 18.0422 16.1016C18.3141 16.0172 18.5812 15.9937 18.8437 16.0312L22.725 16.8187C22.9875 16.8937 23.2031 17.0297 23.3719 17.2266C23.5406 17.4234 23.625 17.6437 23.625 17.8875V22.4437C23.625 22.7812 23.5125 23.0625 23.2875 23.2875C23.0625 23.5125 22.7812 23.625 22.4437 23.625ZM6.77812 10.125L8.63437 8.26875L8.15625 5.625H5.65312C5.74687 6.39375 5.87812 7.15312 6.04687 7.90312C6.21562 8.65312 6.45937 9.39375 6.77812 10.125ZM16.8469 20.1937C17.5781 20.5125 18.3234 20.7656 19.0828 20.9531C19.8422 21.1406 20.6062 21.2625 21.375 21.3187V18.8437L18.7312 18.3094L16.8469 20.1937Z' fill='%23EA141D'/%3E%3C/svg%3E ");
    content: "";
}
.cts_map .map_wrap .tel .list li {
    font-weight: 700;
    margin-left: 36px;
    line-height: 2;
}
.cts_map .map_wrap .tel .list li.inquiry,
.cts_map .map_wrap .tel .list li.inq_link {
    color: #666;
}
.cts_map .map_wrap .tel .list li.inq_link a {
    padding: 6px 43px 6px 25px;
    display: block;
    width: 229px;
    height: 42px;
    border: 1px solid #666;
    margin-top: 15px;
    position: relative;
}
.cts_map .map_wrap .tel .list li.inq_link a::after {
    position: absolute;
    right: 21px;
    top: 13px;
    width: 14px;
    height: 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44451 6.99992L4.15701 2.71242C4.01117 2.56659 3.94069 2.39402 3.94555 2.19471C3.95041 1.9954 4.02576 1.82284 4.17159 1.677C4.31742 1.53117 4.48999 1.45825 4.6893 1.45825C4.8886 1.45825 5.06117 1.53117 5.20701 1.677L9.68409 6.16867C9.80076 6.28534 9.88826 6.41659 9.94659 6.56242C10.0049 6.70825 10.0341 6.85409 10.0341 6.99992C10.0341 7.14575 10.0049 7.29159 9.94659 7.43742C9.88826 7.58325 9.80076 7.7145 9.68409 7.83117L5.19242 12.3228C5.04659 12.4687 4.87645 12.5392 4.68201 12.5343C4.48756 12.5294 4.31742 12.4541 4.17159 12.3083C4.02576 12.1624 3.95284 11.9898 3.95284 11.7905C3.95284 11.5912 4.02576 11.4187 4.17159 11.2728L8.44451 6.99992Z' fill='%23666666'/%3E%3C/svg%3E ");
    content: "";
}
.cts_map .pt {
    margin: 130px 0 160px 0;
    display: flex;
}
.cts_map .pt h2 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.cts_map .pt_wrap {
    margin-left: 151px;
}
.cts_map .pt_wrap h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
}
.cts_map .pt_wrap p {
    font-weight: 700;
    line-height: 2;
}
.cts_map .pt_wrap .sub {
    display: flex;
}
.cts_map .pt_wrap .sub h3 {
    position: relative;
}
.cts_map .pt_wrap .sub h3::before {
    position: absolute;
    left: -32px;
    top: 2px;
    width: 27px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='37' height='38' viewBox='0 0 37 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.16602 24.5417V9.50008C6.16602 7.3098 7.15525 5.70668 9.13372 4.69071C11.1122 3.67473 14.2341 3.16675 18.4993 3.16675C22.9188 3.16675 26.0792 3.65494 27.9806 4.63133C29.882 5.60772 30.8327 7.23064 30.8327 9.50008V24.5417C30.8327 26.0987 30.3124 27.4115 29.2717 28.4803C28.2311 29.549 26.9528 30.0834 25.4368 30.0834L27.9421 31.7855C28.2504 31.9966 28.3532 32.2935 28.2504 32.6761C28.1476 33.0588 27.9035 33.2501 27.5181 33.2501H9.4806C9.09518 33.2501 8.85109 33.0588 8.74831 32.6761C8.64553 32.2935 8.74831 31.9966 9.05664 31.7855L11.5618 30.0834C10.0459 30.0834 8.76758 29.549 7.72695 28.4803C6.68633 27.4115 6.16602 26.0987 6.16602 24.5417ZM9.24935 15.8334H27.7493V11.0834H9.24935V15.8334ZM25.4368 19.0001H9.24935H27.7493H25.4368ZM18.4993 25.3334C19.1417 25.3334 19.6877 25.1025 20.1374 24.6407C20.587 24.1789 20.8118 23.6181 20.8118 22.9584C20.8118 22.2987 20.587 21.7379 20.1374 21.2761C19.6877 20.8143 19.1417 20.5834 18.4993 20.5834C17.857 20.5834 17.311 20.8143 16.8613 21.2761C16.4117 21.7379 16.1868 22.2987 16.1868 22.9584C16.1868 23.6181 16.4117 24.1789 16.8613 24.6407C17.311 25.1025 17.857 25.3334 18.4993 25.3334ZM11.5618 26.9167H25.4368C26.1049 26.9167 26.6573 26.6924 27.0941 26.2438C27.5309 25.7952 27.7493 25.2279 27.7493 24.5417V19.0001H9.24935V24.5417C9.24935 25.2279 9.46775 25.7952 9.90456 26.2438C10.3414 26.6924 10.8938 26.9167 11.5618 26.9167ZM18.4993 6.33341C16.2896 6.33341 14.4589 6.46536 13.0072 6.72925C11.5554 6.99314 10.5341 7.38897 9.9431 7.91675H27.2098C26.7473 7.38897 25.7901 6.99314 24.3384 6.72925C22.8867 6.46536 20.9403 6.33341 18.4993 6.33341ZM18.4993 7.91675H27.2098H9.9431H18.4993Z' fill='%23EA141D'/%3E%3C/svg%3E ");
    content: "";
}
.cts_map .pt_wrap .sub p {
    margin-left: 47px;
}
.cts_map .pt_wrap .tr_bus {
    display: flex;
    margin-top: 55px;
}
.cts_map .pt_wrap .tr_bus h3 {
    position: relative;
}
.cts_map .pt_wrap .tr_bus h3::before {
    position: absolute;
    left: -32px;
    top: 2px;
    width: 27px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='39' viewBox='0 0 38 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6673 30.875V31.6875C12.6673 32.3646 12.4364 32.9401 11.9746 33.4141C11.5128 33.888 10.952 34.125 10.2923 34.125C9.6326 34.125 9.07183 33.888 8.61003 33.4141C8.14822 32.9401 7.91732 32.3646 7.91732 31.6875V29.1687C7.44232 28.6271 7.05968 28.0245 6.7694 27.3609C6.47912 26.6974 6.33398 25.9729 6.33398 25.1875V9.75C6.33398 7.50208 7.34996 5.85677 9.3819 4.81406C11.4138 3.77135 14.6201 3.25 19.0007 3.25C23.5395 3.25 26.7854 3.75104 28.7382 4.75312C30.6909 5.75521 31.6673 7.42083 31.6673 9.75V25.1875C31.6673 25.9729 31.5222 26.6974 31.2319 27.3609C30.9416 28.0245 30.559 28.6271 30.084 29.1687V31.6875C30.084 32.3646 29.8531 32.9401 29.3913 33.4141C28.9295 33.888 28.3687 34.125 27.709 34.125C27.0493 34.125 26.4885 33.888 26.0267 33.4141C25.5649 32.9401 25.334 32.3646 25.334 31.6875V30.875H12.6673ZM19.0798 8.125H27.9465H10.2132H19.0798ZM25.334 19.5H9.50065H28.5007H25.334ZM9.50065 16.25H28.5007V11.375H9.50065V16.25ZM13.459 26C14.1187 26 14.6795 25.763 15.1413 25.2891C15.6031 24.8151 15.834 24.2396 15.834 23.5625C15.834 22.8854 15.6031 22.3099 15.1413 21.8359C14.6795 21.362 14.1187 21.125 13.459 21.125C12.7993 21.125 12.2385 21.362 11.7767 21.8359C11.3149 22.3099 11.084 22.8854 11.084 23.5625C11.084 24.2396 11.3149 24.8151 11.7767 25.2891C12.2385 25.763 12.7993 26 13.459 26ZM24.5423 26C25.202 26 25.7628 25.763 26.2246 25.2891C26.6864 24.8151 26.9173 24.2396 26.9173 23.5625C26.9173 22.8854 26.6864 22.3099 26.2246 21.8359C25.7628 21.362 25.202 21.125 24.5423 21.125C23.8826 21.125 23.3218 21.362 22.86 21.8359C22.3982 22.3099 22.1673 22.8854 22.1673 23.5625C22.1673 24.2396 22.3982 24.8151 22.86 25.2891C23.3218 25.763 23.8826 26 24.5423 26ZM10.2132 8.125H27.9465C27.5507 7.66458 26.6996 7.27865 25.3934 6.96719C24.0871 6.65573 21.9826 6.5 19.0798 6.5C16.2562 6.5 14.1913 6.66927 12.885 7.00781C11.5788 7.34635 10.6882 7.71875 10.2132 8.125ZM12.6673 27.625H25.334C26.2048 27.625 26.9503 27.3068 27.5704 26.6703C28.1906 26.0339 28.5007 25.2687 28.5007 24.375V19.5H9.50065V24.375C9.50065 25.2687 9.81072 26.0339 10.4309 26.6703C11.051 27.3068 11.7965 27.625 12.6673 27.625Z' fill='%231165E3'/%3E%3C/svg%3E ");
    content: "";
}
.cts_map .pt_wrap .gr_bus {
    display: flex;
    margin-top: 55px;
}
.cts_map .pt_wrap .gr_bus h3 {
    position: relative;
}
.cts_map .pt_wrap .gr_bus h3::before {
    position: absolute;
    left: -32px;
    top: 2px;
    width: 27px;
    height: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6673 30.0834V30.8751C12.6673 31.5348 12.4364 32.0956 11.9746 32.5574C11.5128 33.0192 10.952 33.2501 10.2923 33.2501C9.6326 33.2501 9.07183 33.0192 8.61003 32.5574C8.14822 32.0956 7.91732 31.5348 7.91732 30.8751V28.4209C7.44232 27.8931 7.05968 27.306 6.7694 26.6595C6.47912 26.0129 6.33398 25.307 6.33398 24.5417V9.50008C6.33398 7.3098 7.34996 5.70668 9.3819 4.69071C11.4138 3.67473 14.6201 3.16675 19.0007 3.16675C23.5395 3.16675 26.7854 3.65494 28.7382 4.63133C30.6909 5.60772 31.6673 7.23064 31.6673 9.50008V24.5417C31.6673 25.307 31.5222 26.0129 31.2319 26.6595C30.9416 27.306 30.559 27.8931 30.084 28.4209V30.8751C30.084 31.5348 29.8531 32.0956 29.3913 32.5574C28.9295 33.0192 28.3687 33.2501 27.709 33.2501C27.0493 33.2501 26.4885 33.0192 26.0267 32.5574C25.5649 32.0956 25.334 31.5348 25.334 30.8751V30.0834H12.6673ZM19.0798 7.91675H27.9465H10.2132H19.0798ZM25.334 19.0001H9.50065H28.5007H25.334ZM9.50065 15.8334H28.5007V11.0834H9.50065V15.8334ZM13.459 25.3334C14.1187 25.3334 14.6795 25.1025 15.1413 24.6407C15.6031 24.1789 15.834 23.6181 15.834 22.9584C15.834 22.2987 15.6031 21.7379 15.1413 21.2761C14.6795 20.8143 14.1187 20.5834 13.459 20.5834C12.7993 20.5834 12.2385 20.8143 11.7767 21.2761C11.3149 21.7379 11.084 22.2987 11.084 22.9584C11.084 23.6181 11.3149 24.1789 11.7767 24.6407C12.2385 25.1025 12.7993 25.3334 13.459 25.3334ZM24.5423 25.3334C25.202 25.3334 25.7628 25.1025 26.2246 24.6407C26.6864 24.1789 26.9173 23.6181 26.9173 22.9584C26.9173 22.2987 26.6864 21.7379 26.2246 21.2761C25.7628 20.8143 25.202 20.5834 24.5423 20.5834C23.8826 20.5834 23.3218 20.8143 22.86 21.2761C22.3982 21.7379 22.1673 22.2987 22.1673 22.9584C22.1673 23.6181 22.3982 24.1789 22.86 24.6407C23.3218 25.1025 23.8826 25.3334 24.5423 25.3334ZM10.2132 7.91675H27.9465C27.5507 7.46814 26.6996 7.0921 25.3934 6.78862C24.0871 6.48515 21.9826 6.33341 19.0798 6.33341C16.2562 6.33341 14.1913 6.49835 12.885 6.82821C11.5788 7.15807 10.6882 7.52091 10.2132 7.91675ZM12.6673 26.9167H25.334C26.2048 26.9167 26.9503 26.6067 27.5704 25.9865C28.1906 25.3664 28.5007 24.6209 28.5007 23.7501V19.0001H9.50065V23.7501C9.50065 24.6209 9.81072 25.3664 10.4309 25.9865C11.051 26.6067 11.7965 26.9167 12.6673 26.9167Z' fill='%232ABD53'/%3E%3C/svg%3E ");
    content: "";
}
.cts_map .pt_wrap .tr_bus p,
.cts_map .pt_wrap .gr_bus p {
    margin-left: 31px;
}

@media screen and (max-width:1024px){
    .cts_map .map iframe {
        height: 400px;
        margin: 38px 0 75px 0;
    }
    .cts_map .map_wrap {
        display: block;
    }
    .cts_map .map_wrap h2 {
        font-size: 30px;
        margin: 0 0 58px 0;
    }
    .cts_map .map_wrap .address h3 {
        font-size: 15px;
        margin-left: 20px;
    }
    .cts_map .map_wrap .address p {
        margin: 15px 0 0 0;
    }
    .cts_map .map_wrap .addr {
        display: block;
        margin-bottom: 31px;
    }
    .cts_map .map_wrap .addr h3::before {
        left: -4px;
        top: 1px;
        width: 20px;
        height: 20px;
    }
    .cts_map .map_wrap .tel {
        display: block;
    }
    .cts_map .map_wrap .tel h3::before {
        left: -5px;
        top: 2px;
        width: 19px;
        height: 19px;
    }
    .cts_map .map_wrap .tel .list li {
        margin: 15px 0 0 0;
        line-height: 1;
    }
    .cts_map .map_wrap .tel .list li.inq_link a {
        padding: 13px 22px;
    }
    .cts_map .pt {
        margin: 72px 0 120px 0;
        display: block;
    }
    .cts_map .pt h2 {
        font-size: 30px;
    }
    .cts_map .pt_wrap {
        margin-left: 0;
    }
    .cts_map .pt_wrap h3 {
        font-size: 20px;
        margin: 58px 0 0 20px;
    }
    .cts_map .pt_wrap p {
        line-height: 1;
        margin-top: 15px;
    }
    .cts_map .pt_wrap .sub {
        display: block;
    }
    .cts_map .pt_wrap .sub h3::before {
        left: -27px;
        top: 4px;
        width: 22px;
        height: 22px;
    }
    .cts_map .pt_wrap .sub p {
        margin-left: 0;
    }
    .cts_map .pt_wrap .tr_bus {
        display: block;
        margin-top: 40px;
    }
    .cts_map .pt_wrap .tr_bus h3::before {
        left: -27px;
        top: 4px;
        width: 22px;
        height: 22px;
    }
    .cts_map .pt_wrap .gr_bus {
        display: block;
        margin-top: 40px;
    }
    .cts_map .pt_wrap .gr_bus h3::before {
        left: -27px;
        top: 4px;
        width: 22px;
        height: 22px;
    }
    .cts_map .pt_wrap .tr_bus p,
    .cts_map .pt_wrap .gr_bus p {
        margin-left: 0;
    }
}/*media*/
@media screen and (max-width:768px){
    .cts_map .map iframe {
        height: 300px;
        margin: 29px 0 39px 0;
    }
    .cts_map .map_wrap h2 {
        font-size: 20px;
        margin: 0 0 36px 0;
    }
    .cts_map .map_wrap .address h3 {    
        margin-left: 20px;
    }
    .cts_map .map_wrap .tel .list li.inq_link a {
        width: 203px;
        height: 38px;
        padding: 11px 16px;
    }
    .cts_map .pt h2 {
        font-size: 20px;
    }
    .cts_map .pt_wrap h3 {
        font-size: 15px;
        margin: 44px 0 0 15px;
    }
    .cts_map .pt_wrap .sub h3::before {
        top: 2px;
    }
    .cts_map .pt_wrap .tr_bus {
        display: block;
        margin-top: 38px;   
    }
    .cts_map .pt_wrap .tr_bus h3::before {
        top: 2px;
    }
    .cts_map .pt_wrap .gr_bus {
        margin-top: 38px;
    }
    .cts_map .pt_wrap .gr_bus h3::before {
        top: 2px;
    }
}/*media*/