@import url(default.css); /* default.css 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
html, body {
    /* font family 사용하는 서체명은 font-face에서 사용한 이름으로 사용, sans-serif는 고딕체라는 의미 */
    font-family: "Pretendard", sans-serif;
    font-size: 15px; /* 글자 크기 */
    color: #3d3d3d; /* 글자 색상 */
    font-weight: 400; /* 글자 두께 */
    line-height: 1.4; /* 행간 */
    letter-spacing: 0em; /* 자간 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;
}
header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 30px 0 0 0; 
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 22px;
    color: #1d1d1d;
    line-height: 100px; /* header의 높이와 동일한 값 */
    /* 행간을 100px을 주면 높이 100px안에 글자가 위아래 가운데로 정렬 */
    display: block; /* inline요소인 a를 block요소로 변경 */
    padding: 0 29px; /* 위아래 0 좌우 29px */
}
header .gnb ul li a:hover { /* 마우스를 오버했을때 */
    font-weight: 800;
    color: #3074f1;
}
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    height: 700px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    padding: 230px 0 20px 0;
}
.biz .tit {
    margin: 140px 0 40px 0;
}
.biz .tit h2 {
    color: #3074f1;
}
.biz .tit p {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 800;
    margin: -18px 0 0 0;
}