@import url(default.css); /* default.css 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
html, body {
    /* font family 사용하는 서체명은 font-face에서 사용한 이름으로 사용, sans-serif는 고딕체라는 의미 */
    font-family: "Pretendard", sans-serif;
    font-size: 15px; /* 글자 크기 */
    color: #3d3d3d; /* 글자 색상 */
    font-weight: 400; /* 글자 두께 */
    line-height: 1.4; /* 행간 */
    letter-spacing: 0em; /* 자간 */
    word-break: keep-all; /* 단어별로 줄바꿈 */
}
#wrap { /* 홈페이지 전체를 감싸는 요소 */
    min-width: 1260px;
}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1260px;
    margin: 0 auto;
}
header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 30px 0 0 0; 
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 22px;
    color: #1d1d1d;
    line-height: 100px; /* header의 높이와 동일한 값 */
    /* 행간을 100px을 주면 높이 100px안에 글자가 위아래 가운데로 정렬 */
    display: block; /* inline요소인 a를 block요소로 변경 */
    padding: 0 29px; /* 위아래 0 좌우 29px */
}
header .gnb ul li a:hover { /* 마우스를 오버했을때 */
    font-weight: 800;
    color: #3074f1;
}
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    height: 700px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.1;
    padding: 230px 0 20px 0;
}
.biz .tit {
    margin: 140px 0 40px 0;
}
.biz .tit h2 {
    color: #3074f1;
}
.biz .tit p {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 800;
    margin: -18px 0 0 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}
.biz .list ul li {
    width: 297px;
    text-align: center;
}
.biz .list ul li a {
    display: block;
}
.biz .list ul li a h3 {
    font-size: 35px;
    color: #1d1d1d;
    margin: 20px 0 20px 0; /* 위 - 오른쪽 - 아래 - 왼쪽 */
}
.biz .list ul li a p {
    margin: 0 20px 30px 20px;
}
.biz .list ul li a .more {
    width: 230px;
    height: 40px;
    line-height: 40px;
    /* 행간을 높이와 동일하게 주면 글자가 위아래 가운데 정렬이 됨 */
    border: 1px solid #ccc;
    display: inline-block;
}

.brand {
    background: url(../images/brand_bg.png) no-repeat center center / cover ;
    color: #fff;
    height: 730px;
    margin: 125px 0 0 0;
}
.brand h2 {
    color: #abc5f6;
    padding: 130px 0 0 0;
}
.brand p {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 40px 0;
}
.brand a {
    border: 1px solid rgba(255,255,255,0.6);
    padding: 10px 44px; /* 위아래 10px 좌우 44px */
    display: inline-block;
}

footer {
    background-color: #333;
    color: rgba(255,255,255,0.8);
    padding: 30px 0 90px 0;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin: 0 39px 0 0;
}
/* li.privacy (여백없음) li중에서 privacy라는 클래스명을 가진 li
   li .privacy (여백있음) li안에 privacy라는 클래스명을 가진 요소 */
footer .f_nav ul li.privacy {
    font-weight: 800;
}
footer .f_sub {
    border-top: 1px solid rgba(255,255,255,0.1);
    margin: 30px 0 0 0; /* 선 밖 여백 */
    padding: 30px 0 0 0;/* 선 내부 여백 */
}
footer .f_sub .f_info span {
    margin: 0 17px 20px 0;
    display: inline-block;
}
footer .f_sub .copyright {
    margin: 27px 0 0 0;
    color: rgba(255,255,255,0.6);
}